[2020-12-21 13:44] karelbrascamp commented on #2497
Allright, thanks for the info, I think we can work with that

[2020-12-21 14:05] karelbrascamp commented on #2497
By the way, we experienced another crash. Not the exact same, it was a segfault caused by a write this time:

https://gist.github.com/karelbrascamp/a7ea6032b7c3e3763a3eae7e79015905

Would you consider this a new issue?

[2020-12-21 14:07] lminiero commented on #2497
Please let's not mix issues. Confirm the kick one is solved first, and only provide new reports if they include the fix Alessandro mentioned.

[2020-12-21 14:10] karelbrascamp commented on #2497
Sure thing.

[2020-12-21 22:55] StephaneG31 opened #2503 "Janus.js errors IE11 (because of the use of "for...of")"
We use Janus as a SIP gateway.
Since some changes it doesn't work anymore on IE11 as you can see below on the meetecho demo
![baQzVoTHJr](https://user-images.githubusercontent.com/4253015/102829617-cd8cdf80-43e7-11eb-9704-00e7942e4b3b.gif)

for...of seems not be supported by IE 11 https://stackoverflow.com/questions/39670401/javascript-for-of-fails-in-ie-11

Is it possible to use a more legacy for

[2020-12-22 18:02] lminiero commented on #2503
Well, since even Microsoft is abandoning IE11 (Teams doesn't support it anymore), I honestly don't know why we should bother :slightly_smiling_face:  So no, sorry, we're not going to do any work on getting it to work, especially considering I already know if we fix this, something else will pop up. If you want to support IE11 for your users, you'll have to make these tweaks to janus.js yourself.

[2020-12-22 18:02] #2503 closed

[2020-12-22 18:07] tmatth commented on #2503
I imagine there's a polyfill for this kind of thing

[2020-12-23 13:25] karelbrascamp opened #2505 "Memory leak detected on stopping server"
We just compiled the latest version, and we keep getting the following error when stopping the server:

[code]

we built this version like this:

1. make clean
2. ./autogen.sh
3. ./configure --prefix=/opt/janus --disable-mqtt-event-handler --disable-nanomsg-event-handler --disable-gelf-event-handler --disable-rabbitmq-event-handler --disable-plugin-voicemail --enable-openssl --enable-sample-event-

[2020-12-23 13:49] karelbrascamp commented on #2505
Updated to  18.04.5 LTS, same result.

[2020-12-23 14:16] lminiero commented on #2505
Looks like non important leak, in the Nanomsg transport or event handler. Anyway, the trace you shared is incomplete, and not useful I'm afraid: we don't call `nn_msgqueue_init` anywhere in the code.

[2020-12-23 15:15] karelbrascamp commented on #2505
Allright, just mentioning it.
When turning off libasan the crash doesn't occur. [The core dump](https://gist.github.com/karelbrascamp/4460007422f34ddceafad1ab8317b23d) in case you're interested, although it does't add too much.

[2020-12-23 15:17] lminiero commented on #2505
A memory leak is not a crash: libasan is just mentioning things that weren't freed. Anyway, closing as I can't replicate it: I always have libasan active in my Janus setup, and there's no such leak for Nanomsg plugins.

[2020-12-23 15:17] #2505 closed

[2020-12-24 05:00] NabilHunt opened #2506 "Can't create a permanent streaming mount-point using Rest API"
I'm creating an rtsp mountpoint using REST API, this works without a problem, but when I try to make it permanent by passing `"permanent": true `like it says [here](https://janus.conf.meetecho.com/docs/streaming.html) I get the following output janus:
[code]
I tried running janus as root.
Is this a bug or a misconfig?

[2020-12-24 16:04] StephaneG31 commented on #2503
No because it's not a function is missing it's language semantic new operator (like a foreach).
So we fix that only in our Code.
The fix consists only to change 6 lines by 12 lines.
In Software for Enterprise, we can see more than 25% of user traffic comes from IE.
Even if we don't use Janus.js for IE, all modern javascript application framework bundles all is lib into one file.
So a big errors in

[2020-12-27 07:53] Sleepingbug commented on #1775
@chunqiulfq How did you solve this problem?

[2020-12-28 07:23] mivuDing opened #2507 "why not janus_mutex_destroy the room mutex when janus_videoroom_room_free"
janus_mutex_init(&videoroom->mutex) was called when create a new room, but not janus_mutex_destroy(&videoroom->mutex) when free the room. Doesn't it may cause a memory leak?
Thanks!

[2020-12-31 01:36] #2507 closed

[2020-12-31 01:36] mivuDing commented on #2507
close it

[2020-12-31 10:10] Sensemakers-Nick opened #2509 "crashed Janus with error heap-use-after-free in videoroom plugin"
Yesterday one of our servers crashed with the error: **heap-use-after-free** using the videorooms plugin.
Couldn't find updates to this particular part of code in GitHub, nor issues so decided to open a ticket.

gdb pastebin: [https://pastebin.com/6GZFShE0](https://pastebin.com/6GZFShE0)
libasan pastebin: [https://pastebin.com/YRX2j2j8](https://pastebin.com/YRX2j2j8)

The load of the server ramped

[2021-01-04 02:31] wudelu opened #2510 "record file Bigger and smaller"

[2021-01-04 10:59] atoppi commented on #2510
Please try to correctly fill the issue report next time. Closing.

[2021-01-04 10:59] #2510 closed

[2021-01-04 11:31] atoppi commented on #2506
It's working as expected with the following request to the streaming plugin
[code]

response

[code]

I guess your error
`[ERR] [config.c:janus_config_save_list:605] Error saving group '5916379136588116' to the config file...`
might be due to some misconfiguration like e.g. duplicates.

[2021-01-04 11:51] atoppi commented on #2509
Hi @Sensemakers-Nick, thanks for the detailed report.
It seems that a room has been destroyed while the plugin was handling a negotiation.

More specifically the `videoroom->h264_profile` string attribute is being read by `g_ascii_strdown` in `janus_sdp_get_codec_pt_full` in order to craft a SDP answer, but since the room has been freed that string is not valid anymore, hence the libasan trap.

Ma

[2021-01-04 13:24] Sensemakers-Nick commented on #2509
Hi @atoppi,

Thanks for the reply, you're welcome.

[2021-01-07 11:51] atoppi commented on #2509
@Sensemakers-Nick I'm attaching [a patch](https://github.com/meetecho/janus-gateway/files/5781400/fix-increase-vroom-ref.txt) that tries to address the issue, could you please apply it to your sources and test again?

[code]

then rebuild janus

[2021-01-07 13:06] Sensemakers-Nick commented on #2509
Thanks @atoppi
Will apply the patch next week during a maintenance window and keep you posted!

[2021-01-07 19:05] tmatth commented on #2509
@atoppi we haven't seen this crash but will test the patch and report any issues.

[2021-01-08 16:36] pckhib opened #2511 "SIP/TLS Handshake fails in Ubuntu 20.04"
Ubuntu 20.04 has TLSv1.0 and TLSv1.1 disabled by default. (OpenSSL version 1.1.1).

If I try to initiate a registration with tls (sips), the handshake fails as the protocol version is not supported.
```tls_connect(0x7f243800f4a0): TLS setup failed (error:00000001:lib(0):func(0):reason(1))```

One fix is to reenable TLSv1.0 as described e.g. [here](https://stackoverflow.com/questions/62357205/opens

[2021-01-08 16:44] lminiero commented on #2511
Not sure what we're supposed to do, though? The link you shared looks like a system configuration, not something Janus related. If you have information on how to configure TLS support in Sofia SIP (so that we can maybe add a new configuration option for it), that would be helpful.

[2021-01-08 17:44] pckhib commented on #2511
It seems as it might be configurable with [nua_create](http://sofia-sip.sourceforge.net/refdocs/nua/nua_8h.html#a5143ffe880249d0570f428a20035641d):
`All tport tags are passed to tport. They are documented in <sofia-sip/tport_tag.h>`

[TPTAG_TLS_VERSION](http://sofia-sip.sourceforge.net/refdocs/tport/tport__tag_8h.html#aa0b6cea82e2ab72b6c87adc504626dec): Sets the TLS version (version 0 implies SSL2

[2021-01-08 17:55] lminiero commented on #2506
Closing.

[2021-01-08 17:55] #2506 closed

[2021-01-08 17:58] lminiero commented on #2511
Thanks for testing and for the tip! The documentation doesn't say what other values are supported, though: this makes it hard coming up with a configurable property, and I'm not sure whether always forcing `TPTAG_TLS_VERSION(0)` might have undesired consequences in some cases (e.g., for those using sips successfully right now).

[2021-01-08 18:10] pckhib commented on #2511
This might help:
https://github.com/freeswitch/sofia-sip/blob/f6f29b483e9c31ce8d3e87419ec3deea8679312d/libsofia-sip-ua/tport/sofia-sip/tport_tag.h#L195

[code]

What I couldn't find yet is which value is being used by default.

[2021-01-11 21:58] tspecht opened #2512 "VideoRoom rtp_forward not sending packets"
Hi!

I'm currently trying to get the `Video Room` example running in conjunction with `ffmpeg` as a destination for `rtp_forward` to transcode the incoming WebRTC data into an HLS format for further distribution.

I was able to get the Video Room example itself running properly and added a forwarder using the following call:

Request:
[code]

Response:
[code]

However, when running the `ffmpeg` co

[2021-01-11 23:15] atoppi commented on #2512
Question for the group. Closing.

[2021-01-11 23:15] #2512 closed

[2021-01-12 12:02] atoppi commented on #2511
@pckhib that `enum` seems to be defined only in the freeswitch fork.

[2021-01-12 12:36] atoppi commented on #2511
`tport_tls.c`
[code]

`ti->version` is set by the tag `TPTAG_TLS_VERSION`.

So if `version` has a defined and not zero value `TLSv1.0` will be used.
Conversely `SSLv23_method` will be used. According to openssl that method has been deprecated but at least on my machine (Ubuntu 20.04) it is defined as:

`#define SSLv23_method           TLS_method`

where `TLS_METHOD` should be the  "_highest versio

[2021-01-13 08:54] antoniotuzzi opened #2514 "Crash on v0.10.10 at the startup using libwebsockets 4.1 stable"
I had a crash recompiling version ba0b83bbc93b070c3ff47a46eede4cb7d61c59d7 (10.10)
with libwebsockets 4.1 stable

the crash happens at the startup

attaching the log, with sanitizer symbols
[janus log crash with websocket 4.1.log](https://github.com/meetecho/janus-gateway/files/5807483/janus.log.crash.with.websocket.4.1.log)

[2021-01-13 11:13] atoppi commented on #2514
I do not have any issue with lws 4.1 and janus master.

- use the branch `origin/v4.1-stable` of lws
- clean build lws and janus
- since I know you are compiling on macos, set a specific install path through
```-DCMAKE_INSTALL_PREFIX:PATH=/usr -DLWS_INSTALL_LIB_DIR=lib -DLIB_SUFFIX=64```
this will install lws in `/usr/lib64`

[2021-01-14 08:29] andymcauley opened #2516 "memory overflow g_source_unref error"
After several weeks of running on a busy site for several weeks  - regularly over 250 videoroom publishers, many of whom have multiple viewers streaming - the Janus service crashed at a busy time.
The service restarted OK within about 2.5 minutes.

I mentioned this to Alessandro and advised to post the issue here

We are running Janus v0.10.9 on Ubuntu 20.04 LTS over http (https is handled by AWS

[2021-01-14 11:35] atoppi commented on #2516
I don't see any stack trace in the logs, it's impossibile to understand where the assertion failed.

[2021-01-14 12:21] andymcauley commented on #2516
@atoppi thanks for looking.
i've had another look through the system generated logs and unfortunately, we don't have any fuller information - presumably this is because log level was on 3?

[2021-01-15 09:25] #2514 closed

[2021-01-15 09:25] atoppi commented on #2514
Closing since I think this is a problem with your local setup.

[2021-01-15 09:36] atoppi commented on #2516
You could try compiling janus with libasan (but I'm not sure a call stack will be shown) or run janus inside `gdb` by issuing
```G_DEBUG=fatal_warnings gdb janus```

[2021-01-15 15:00] tmatth commented on #2516
Are you running with glib 2.64.3? See https://github.com/meetecho/janus-gateway/issues/2421

[2021-01-18 12:15] Sensemakers-Nick commented on #2509
We've succesfully applied the patch, waiting for results, will let you know @atoppi

[2021-01-18 13:04] andymcauley commented on #2516
thanks Tristan, this does look like a similar issue to 2421, though we have only experienced it as a one off, rather than periodically under load  - we are running glib 2.64.2, so an upgrade to glib could be in order

[2021-01-19 14:13] Sensemakers-Nick commented on #2509
@atoppi The same error heap-use-after-free in videoroom plugin happened today, but this time during the alteration of allowed participants in a destroyed room.

Should I open a new ticket?

Pastebin: https://pastebin.com/yQDtQVFm

[2021-01-19 14:26] atoppi commented on #2509
Yes please open a new issue and try to add some more info.
1. enable verbose logging (5)
2. the freed/allocated call stacks in libasan are too short, check your CFLAGS (I suggest `-Og -g3 -ggdb3 -fno-omit-frame-pointer -fsanitize=address`)
3. try to capture a refcount debug dump (uncomment `#define REFCOUNT_DEBUG` in `refcount.h` and recompile)

[2021-01-19 14:52] Sensemakers-Nick commented on #2509
@atoppi will do, was compiled with

`CFLAGS="-O1 -g3 -ggdb3 -fno-omit-frame-pointer -fsanitize=address -fno-sanitize-recover=all -fsanitize-address-use-after-scope" LDFLAGS="-fsanitize=address"`

Changing O1 to Og and adding -fno-omit-frame-pointer

[2021-01-19 14:53] Sensemakers-Nick commented on #2509
Unfortunately there is no crash log available at this moment, hopefully next time I can also provide you a backtrace.

[2021-01-19 21:22] remvst opened #2520 "HTTP Long-poll still causing timeouts"
I'm currently building a signaling server that acts as an intermediate between clients and Janus. The server has a connection-poll job queue that queries the session ID/plugin handle until it gets a 404. If it gets a 200, it runs the same job again. This part is working, I'm able to send and receive audio/video to/from Janus.

However, it seems like Janus incorrectly detects session timeouts. The

[2021-01-20 10:17] mspanc opened #2522 "Janus opens way too many file descriptors"
We're using janus-gateway 0.10.9 on Ubuntu Focal.

We observe enormous growth of opened files when using videoroom plugin. Even 16 participants can cause having more than 200k open FDs.

[code]

We're still investigating the issue and I'll add more details in the comments later on but I am already opening with the hope that someone will have some hints what can be the cause.

[2021-01-20 10:57] atoppi commented on #2522
@mspanc I've tried to replicate with 6 local participants and I did not observe any large increase.
It would help getting more info about the open descriptors. They might be many things (files, sockets, eventfd, pipes ...).

[2021-01-20 11:09] atoppi commented on #2509
@Sensemakers-Nick do you think the original issue has been solved with the patch ?

[2021-01-20 12:12] atoppi commented on #2520
You have not misread the docs, everything should work as intended.
I'm unable to reproduce though.
Are you sure that connections are not being dropped due to having a high number of them ? (check [this recent PR](https://github.com/meetecho/janus-gateway/pull/2489))
Does the same happen if you switch to another transport (like websocket) ?

[2021-01-20 12:14] atoppi commented on #2520
Also are you able to replicate in a local setup ?
Do you have any logs to share ? Janus will log any inbound keepalive request.

[2021-01-20 13:32] Sensemakers-Nick commented on #2509
I cannot say for sure, will need to wait it out a bit, if all goes well the next two weeks it has likely worked.
Am getting a lot more feedback now from Janus.

Information like this:
`Jan 20 14:31:28 senprtc01.senp.local janus[29922]: [plugins/janus_videoroom.c:janus_videoroom_destroy_session:2649:increase] 0x607000743ba0 (2)
Jan 20 14:31:28 senprtc01.senp.local janus[29922]: [plugins/janus_video

[2021-01-20 13:43] feelpatel opened #2523 "Janus Delay Video Stream"
Hi,
When I publish video streaming from RPI not getting instantly in the browser.
I getting an instant stream but it does not display instantly in the video tag.
After some seconds it's displayed.
[code]
when I'm debugging I found code didn't receive the below object instantly, when the below object received the video streaming display on the video tag.
[code]
Thanks in advance!

@lminiero

[2021-01-20 14:06] lminiero commented on #2523
Please don't mention me on new issues/PRs: I already get a notification on new ones.
Closing as not an issue, but a question for the [group](https://groups.google.com/g/meetecho-janus) instead (where it has been asked many times already).

[2021-01-20 14:06] #2523 closed

[2021-01-20 14:59] remvst commented on #2520
@atoppi thank you for the quick reply. After looking at it with my coworker, it seems like it was an authentication issue on the GET requests (we were seeing some 403s on Janus logs). This line in the docs explains what I should have done:

I was originally passing the API secret like this (Node.js + axios):
[code]
This seems to fix it:
[code]

However, even though this fixed it, the fact that the

[2021-01-20 15:03] lminiero commented on #2520
No bug: if you provide the wrong apisecret, or don't provide it at all, the request never gets to the core, but stays in the transport (where you get the 403). Since it doesn't reach the core, it doesn't count as activity that can reset the last activity flag.

[2021-01-20 15:07] lminiero commented on #2520
Oh I think I see what you mean: you were indeed getting a response to (some?) long polls, even though the API secret was passed the wrong way, and so the transport shouldn't have had access to it. The face you see 403s seems to suggest it rejected at least some of them. I'll have to check if there are instances where the long poll may be done even when the API secret isn't correctly provided (whic

[2021-01-20 15:56] remvst commented on #2520
I don't think I actually ever saw a 403 coming back to me (I don't remember the job failing at all). I only ever saw 403s in the Janus logs, but I don't think I received them.
All poll (GET) requests were done with that incorrect API secret, and I was able to receive events such as `webrtcup` (and probably some others that I don't remember).
What I would have expected would be to be rejected entir

[2021-01-20 16:00] lminiero commented on #2520
Yes, that's what should happen, this is the code where we do that for long polls:
https://github.com/meetecho/janus-gateway/blob/master/transports/janus_http.c#L1534

You can try adding some manual log lines to the `is_api_secret_valid` method and the value it returns to see if it's misbehaving for you there.

[2021-01-20 16:03] lminiero commented on #2520
Wait, looking at the code I think I know what may be happening... these are the checks:

[code]

The `if` is an `and` of `secret_authorized` and `token_authorized`, though: since you only enabled the API secret but not tokens, `is_auth_token_valid` will always return `TRUE` meaning it will proceed even if it shouldn't. Can you check if turning the `&&` to `||` in the `if` makes it work as expected

[2021-01-20 16:05] remvst commented on #2520
Thank you, I might try that later.

I believe an easy test setup will be:
1. setup Janus with API secret
2. create a session
3. poll that session while passing the secret incorrectly
4. expected: 403 right away, actual: 200 keep-alive after 30 seconds???

[2021-01-20 16:09] remvst commented on #2520
I'm looking at the code right now, and I believe you are correct. `is_auth_token_valid()` returns `TRUE` if token auth is disabled:
[code]
which will cause the condition to be falsy.

Will still double check later and submit a PR if I manage to compile it :)

[2021-01-21 10:39] lminiero commented on #2520
Closing as I just merged the PR. Thanks!

[2021-01-21 10:39] #2520 closed

[2021-01-21 16:13] mspanc commented on #2522
This is lsof made with single videoroom and 15 participants.

[lsof15.txt.gz](https://github.com/meetecho/janus-gateway/files/5850570/lsof15.txt.gz)

We observed that initially each new participant adds +/-3k FDs but the growth is exponential.

[2021-01-21 16:47] gianluca-nitti opened #2526 "Weakness of RTCP latching in VideoRoom RTP forwarder"
I'm using the RTP forward functionality of the VideoRoom plugin to relay the video of a videoroom's participant to an external service (which reads the incoming stream using ffmpeg). I need RTCP feedback to work so that the receiver can send PLI packets to request a full frame if necessary (e.g. due to packet loss, and to avoid having to wait for the first automatically sent keyframe when starting

[2021-01-21 16:57] lminiero commented on #2526
Yes, it's a known limitation, but done on purpose to avoid too many backs and forths to establish stuff. It's a bit of a "chicken and egg" situation: when you create the forwarder, there's already someone listening, so there's no easy way for the receiver to know where to send the feedback to the sender unless you latch (or do multiple requests to update stuff that I don't want to add).

We're not

[2021-01-21 16:57] #2526 closed

[2021-01-21 17:14] atoppi commented on #2522
270593 of 296906 (that is over the 90%) are `eventfd` fds owned by `hloop` threads.
That sounds not good and should not happen.

You can trace the opening and closing with this command
```sudo strace -f -k -p $(pidof janus) -e trace=open,close,eventfd2 -o strace-output.txt```

For each call you should get a meaningful call stack (if you have compiled with the proper symbols).
Try to replicate whil

[2021-01-22 09:37] Sensemakers-Nick commented on #2509
Hi @atoppi,

We've trapped the same error yesterday, this time with the log information you've requested:
https://pastebin.com/55RYJPM8

[2021-01-22 09:45] atoppi commented on #2509
Same error, different issue.
This time a participant session has been freed before iterating over room participants list to notify them of a room destruction.
We need the whole log that includes the refcount lines to understand how that session has been freed.
I suspect the massive usage you're doing of the admin api to forward requests to the plugin is triggering many race conditions we were unaw

[2021-01-22 09:48] Sensemakers-Nick commented on #2509
I'll drop the entire log, it's going to be a big one ;-)

[2021-01-22 10:15] teveelnicks commented on #2509
@atoppi couldn't paste it in the pastebin, so I've shared them here.

[portion of the log](https://www.nick-it.nl/share/meetecho/janus.partial.log)
[entire log](https://www.nick-it.nl/share/meetecho/janus.log)

Hope this helps

[2021-01-22 10:30] atoppi commented on #2509
thanks it helps, this is the freed reference of the last crash (to match lines one need to apply the patch that I attached in this issue).

[code]

[2021-01-22 10:37] atoppi commented on #2509
This seems a race condition happening when a user session gets destroyed while the plugin is still handling the setup.
The last unref that makes the count go to 0 is due to `janus_videoroom_message_free` , called when the plugin has handled the message.

[2021-01-22 10:51] feelpatel commented on #2523
![video_loss](https://user-images.githubusercontent.com/68987312/105481803-8edf9300-5ccd-11eb-9797-47f8b94dfdba.png)
In Javascript Front Side, I didn't receive this object instantly so it's my Javascript Client-side Issue Or Janus Server Side.
If It's a Client-side issue then What I will Change on My Code?

[2021-01-22 12:13] teveelnicks commented on #2509
You're welcome!
I did apply the patch tough.

`nhooijenga@senprtc01:/src/janus-gateway$ git diff
diff --git a/plugins/janus_videoroom.c b/plugins/janus_videoroom.c
index bcfd77b8..ce0814fd 100644
--- a/plugins/janus_videoroom.c
+++ b/plugins/janus_videoroom.c
@@ -7055,8 +7055,10 @@ static void *janus_videoroom_handler(void *data) {
                                        if(p != participant && p->

[2021-01-22 13:20] mspanc commented on #2522
My fault: the bug happens on 0.10.3 on ubuntu bionic. I was looking at different environment.

I'll later try to use 0.10.9 and ubuntu focal and see if the bug persists.

In the meantime, here are the straces made after connecting first, second and third participant:

- [janus-strace-1.txt.gz](https://github.com/meetecho/janus-gateway/files/5856063/janus-strace-1.txt.gz)
- [janus-strace-2.txt.gz](

[2021-01-22 16:40] atoppi commented on #2522
I can't see any exponential growth here
1st -> 3 eventfd
2nd -> 7 eventfd
3rd -> 10 eventfd

[2021-01-22 16:42] atoppi commented on #2509
@teveelnicks I have updated the patch with another fix for the last crash. Please apply on master and test again.
[fixes_vroom.diff.txt](https://github.com/meetecho/janus-gateway/files/5857236/fixes_vroom.diff.txt)

We'll wait for more info to debug the `allowed` list crash.

[2021-01-22 16:46] Sensemakers-Nick commented on #2509
Thanks @atoppi!
Will apply the patch soon.

[2021-01-23 09:23] Marvelanda opened #2529 "Error happens due to janus.js file"
Hi!

The error occurs due to the following issue in the janus.js file:

**TypeError: Cannot read property 'browser' of undefined**
350 line:
 if(Janus.webRTCAdapter.**browserDetails**.browser === 'safari' &&
Janus.webRTCAdapter.**browserDetails**.version >= 605)

Previously everything work perfectly, tried to open the project on another devices, re-install dependencies and janus-gateway, but the p

[2021-01-23 09:48] Symbiatch opened #2530 "Binding to a specific IP for websocket is not working"
I'm trying to set the websocket transport to a specific IP, not to all. This works for HTTP transport just fine, but for websocket it results in no port bindings at all. No matter what IP I put to ws_ip it doesn't work. Neither does ws_interface.

From code I see it tries to find an interface to the IP and then bind to that. Seems due to how libwebsockets needs it. Without any ws_ip/ws_interface s

[2021-01-23 19:01] lminiero commented on #2529
My guess is that this is fixed in #2531?

[2021-01-24 10:44] Symbiatch commented on #2530
It actually might be the problem that it only binds to IPv6. I cannot connect to localhost:8188 with IPv4 at all even with default configuration, only to :::8188 with IPv6. Maybe that's why it won't allow binding to an IPv4 address either since it wants to only work with IPv6

[2021-01-24 10:51] lminiero commented on #2530
I think internally libwebsockets uses an IPv6 socket to bind both IPv4 and IPv6, so it's normal you see that in strace: it doesn't mean it's only doing IPv6. In the plugin we just pass whatever you configure to the `iface` property of the `lws_context_creation_info` object, as that's supposed to be enough. I won't be able to test myself until tomorrow. In the meanwhile, you may want to also ask on

[2021-01-24 10:54] Symbiatch commented on #2530
That's the strange thing, usually it binds to both IPv6 and IPv4 but for some reason it won't accept any connections with IPv4 at all, it directly drops them. I'll post on their issues also if I can manage to make it as relevant as possible for them.

At least Janus should realize that the bind did not work instead of saying WS was started here:

[libwebsockets][ERR] ERROR on binding fd 16 to port

[2021-01-24 10:58] lminiero commented on #2530
And how exactly are we supposed to do that if the method succeeds?

[2021-01-24 11:10] Symbiatch commented on #2530
I assume you could add `LWS_SERVER_OPTION_FAIL_UPON_UNABLE_TO_BIND` to tell the library to return NULL when binding fails?

[2021-01-24 11:30] Symbiatch opened #2533 "Janus doesn't detect failure at binding to a port in websocket correctly"
If libwebsocket cannot bind to a socket Janus still claims the websocket is correctly initialized. This is due to libwebsocket by default not reporting failure on bind.

Adding `LWS_SERVER_OPTION_FAIL_UPON_UNABLE_TO_BIND` to `info.options` in websocket creation helps:

I can create a PR for this if wanted

[2021-01-24 11:30] lminiero commented on #2530
Thanks for the tip! I'll have to check if this is only available starting from some lws versions, but I'll make some tests and add that tomorrow.

[2021-01-24 11:46] Symbiatch commented on #2530
I created a PR but didn't check if it's from a specific version, I could do that too and amend it.

Also if I give `LWS_SERVER_OPTION_DISABLE_IPV6` to libwebsockets I can bind to IPv4 correctly and everything works. So I'm not sure what should exactly be done to make it work correctly for IPv6 and IPv4. I'll check a bit more.

[2021-01-24 11:55] Marvelanda commented on #2529
Unfortunately it seems that error appeared after this fix, before everything worked good.

[2021-01-25 06:57] promerufon commented on #2529
I had a problem with webrtc-adapter version 7.4.0.
The solution was as follows.

`npm i --save webrtc-adapter@6.4.0`

[2021-01-26 10:58] Symbiatch commented on #2533
Fixed by #2534

[2021-01-26 10:58] #2533 closed

[2021-01-26 11:16] lminiero commented on #2530
Can this be closed too?

[2021-01-26 11:32] lminiero commented on #2529
That's not a fix. That's saying "I checked out an old branch", and so doesn't really help with the issue.
Unfortunately I never use the npm stuff so I can't help there. You may want to comment on the PR I referenced, and ask why you're still encountering the issue there.

[2021-01-26 11:45] Symbiatch commented on #2530
This one is still open. It would either require setting an option to disable IPv6 for the library or figuring out otherwise why it doesn't work. I haven't heard anything yet from libwebsockets so not sure how to go forward on it.

Checking settings IP address for : would work for adding the IPv6 disable flag or not, but if I want to bind by interface then it wouldn't work, so I don't have a good i

[2021-01-26 12:12] atoppi commented on #2530
FWIW I was not able to replicate the issue.
I've compiled lws two times, with `-DLWS_IPV6=ON` and `-DLWS_IPV6=OFF` (default).
In both cases I was able to bind the ws server through `ws_ip = 127.0.0.1` and to correctly setup a connection from my Chrome browser.

`-DLWS_IPV6=ON`

[code]

`-DLWS_IPV6=OFF` (default)
[code]

[2021-01-26 12:25] atoppi commented on #2530
forgot to mention I'm using lws v4.1 (from `v4.1-stable` branch)

[2021-01-26 17:59] Symbiatch commented on #2530
Seems others have also had the same issue with lws and it might be related to kernel version or something. I can run on Linux Subsystem for Windows some lws code just fine binding to interfaces, but the exact same code on my Debian server (kernel 5.10 AMD64) exhibits this issue. Also on lws issue a user mentioned they had this exact thing happen after OS upgrade and had to do the exact same fix (a

[2021-01-27 04:02] chrisuehlinger commented on #2529
I just started running into this too. I'm gonna do the workaround for now, but in the interest of getting this solved, I took a look at the different versions of `webrtc-adapter` to see if something weird is going on. Here's what I found:

`webrtc-adapter@6.4.0` (what I get when I put `"janus-gateway": "https://github.com/meetecho/janus-gateway.git#0.10.9"` in my package.json) has its `"main"` fil

[2021-01-27 04:15] chrisuehlinger commented on #2529
Sorry for the commentspam, but I've got the fix. Update the webpack plugin config example in the  "Using janus.js as JavaScript module" docs to the following:

[code]

Getting the CLA approved by my new job might be a bit complicated, but if anyone whos already CLA'd can drop in this one-line docs change, it'll fix this issue.

[2021-01-27 09:31] lminiero commented on #2530
Ack, we'll close then, since neither Alessandro nor me seem to be able to replicate, and it does indeed sound like a lws thing. In case you discover anything more, please do feel free to use this issue to let us know.

[2021-01-27 09:31] #2530 closed

[2021-01-27 09:34] lminiero commented on #2529
Thanks for the feedback @chrisuehlinger! From what you're saying, it seems reasonable to revert the adapter version to what it was before (6.4.0?) in the `package.json` file, and then explain in the docs that, if you want a higher version, this is what you have to do (your new text). I suspect most users don't bother to read the docs at all, so if we just update those, people will still say it doe

[2021-01-27 09:44] chrisuehlinger commented on #2529
I’m not sure what changed between webrtc-adapter v6 and v7, it could be that one of your contributors bumped the version because of something important that comes up when like, working with RTCRtpTransceivers or something else deep in the weeds (webrtc-adapter doesn’t have a lot of release notes). Or maybe not, and it’s fine. But with the fast changing WebRTC browser APIs, I imagine you wouldn’t w

[2021-01-27 09:48] lminiero commented on #2529
Fair enough! I'll update the docs myself later this morning using your proposed text, then :+1:  Thanks again!
PS: you'll briefly appear in my FOSDEM slides in a couple of weeks :hand_over_mouth:

[2021-01-27 15:35] lminiero commented on #2529
Actually, the docs had already been updated, in #2519... I haven't regenerated them yet, which is why the online docs still show the old and deprecated syntax. I'll do that now, and close this issue.

[2021-01-27 15:35] #2529 closed

[2021-01-27 15:37] lminiero commented on #2529
Done: https://janus.conf.meetecho.com/docs/js-modules.html

[2021-01-27 21:14] remvst opened #2537 "Videoroom: ICE restarts as a subscriber"
Hey there,

I'm currently building an application using the videoroom plugin and was looking into ICE restarts. So far I think I got them to work for the publishing side, however I find the subscriber side a bit confusing when reading the docs.

There is no mention of that `watch` request in the docs (and I get an error if I fire one), so I assumed it was a `join` request instead.

So I tried to s

[2021-01-27 21:22] tmatth commented on #2537
There is an issue in the documentation here, as you point out `watch` is not a valid videoroom request. I believe the sequence you want is:
- `join` as subscriber
- `configure` with `restart:true`
- this responds with `configured` + the JSEP you need to process and send an answer for with a `start` request to complete the sequence

Hopefully someone more confident with the semantics here can submi

[2021-01-27 21:34] remvst commented on #2537
Thank you for the quick reply, will try that and report back ;)

[2021-01-27 21:50] remvst commented on #2537
Can confirm I received a new offer with this solution (don't forget `restart` field in the `configure` request).

So I think there are two issues in the docs:
- the `watch` request part should be replaced with a `configure` request
- the `restart` field should be mentioned in the `configure` docs

I'd submit a PR but I'm also not super confident about the exact semantics (and also wouldn't want to

[2021-01-28 01:29] thsdmfwns opened #2538 "streamingTest : DOMException: The play() request was interrupted by a call to pause() janus.js:310"
i am following the streaming demo
i ran the html file in local
Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause() error came out
and there is only spinner and never came out the video
my js code is https://pastebin.com/nUbn07kZ
html is https://pastebin.com/d306mPiY
and my chrome log is https://pastebin.com/p7e3WStE

What did I miss?

[2021-01-28 01:40] promerufon commented on #2529
That's right. Sorry for the misunderstanding.

In @chrisuehlinger comment, I noticed a configuration issue, so I checked it and found a mistake.
mistake point : `new webpack.ProvidePlugin({ adapter: 'webrtc-adapter' })`

Thank you, @lminiero  and @chrisuehlinger .

[2021-01-28 10:48] lminiero commented on #2538
Please use the forum for questions like these.

[2021-01-28 10:48] #2538 closed

[2021-01-28 10:51] lminiero commented on #2537
That's a copy/paste type, since `watch` is a Streaming plugin request, and that's indeed how you restart subscriptions there (you do a watch+start again). Tristan is right, you use `configure` with a `restart:true` in the VideoRoom to ask the plugin to send a new offer that originates an ICE restart. I'll update the docs.

[2021-01-28 10:55] #2537 closed

[2021-01-28 11:15] lminiero commented on #2522
@mspanc any update?

[2021-01-28 11:15] lminiero commented on #2516
@andymcauley any update?

[2021-01-28 11:22] lminiero commented on #2497
@karelbrascamp any news on the kick issue? Can this be closed?

[2021-01-28 11:22] lminiero commented on #2461
Closing as this was more of a question than a bug.

[2021-01-28 11:22] #2461 closed

[2021-01-28 11:23] lminiero commented on #2429
We haven't receive a response in weeks, so I'll assume this is fixed. Closing.

[2021-01-28 11:23] #2429 closed

[2021-01-28 11:23] lminiero commented on #2425
Closing.

[2021-01-28 11:23] #2425 closed

[2021-01-28 11:34] mspanc commented on #2522
I have reserved time to work on this today and tomorrow. I'll keep you updated.

[2021-01-28 13:04] andymcauley commented on #2516
@lminiero  - we haven't pursued updating the glib library as the error has only happened the once so far (rather than the regular error the referenced in #2421)  and our service is in use 24/7. If the error happens again, or when we are ready to schedule and update to version of Janus, we will make sure glib is upadted to 2.64.3 or higher

[2021-01-28 13:57] thsdmfwns commented on #2538
@lminiero  oops, Sorry

[2021-01-28 14:32] lminiero commented on #2516
Ack, I'll close the issue then. Feel free to comment here again in case it happens again with an updated glib too.

[2021-01-28 14:32] #2516 closed

[2021-01-28 15:23] mspanc commented on #2522
I upgraded to 0.10.9.

This is the growth of open FDs up to 9 participants:

[code]

Before upgrade we had +/- 49k FDs so there's no significant change.

Hele's output of lsof:

[lsof9.txt.gz](https://github.com/meetecho/janus-gateway/files/5888225/lsof9.txt.gz)

Again most things happen in the `hloop` thread.

strace output while joining the first participant:

[strace.txt.gz](https://github.com/

[2021-01-28 15:52] mspanc commented on #2522
Another strace:

[strace-output.txt.gz](https://github.com/meetecho/janus-gateway/files/5888395/strace-output.txt.gz)

What seems interesting to me that after connecting first participant I've seen:

[code]

After second participant:

[code]

After third participant:

[code]

Seems that amount of threads is increasing exponentially?

[2021-01-28 16:00] lminiero commented on #2522
If they all subscribe to each other, of course: 3 people in means each of them creates 3 PC (one to publish, 2 to subscribe to the others), so 9 PC; the moment 4 people are in, it's 16 PCs; etc.  Since by default each PeerConnection/handle has its own thread, the number of threads grows as a consequence. They should go away when you detach the related handle, clearly.

[2021-01-28 16:50] atoppi commented on #2522
The only thing that I'd try to change is

to `false`

[2021-01-28 17:06] atoppi commented on #2522
There are a lot of TCP sockets in LISTEN status (in hloop), maybe ICE TCP is really to blame here.
Looking at your dockerfile I see you are using libnice 0.16 from apt, you could try with `master` from their gitlab.

[2021-02-01 10:25] lminiero commented on #2522
I'd definitely try without ICE TCP, before trying libnice master.

[2021-02-01 10:26] lminiero commented on #2497
Closing.

[2021-02-01 10:26] #2497 closed

[2021-02-01 10:27] lminiero commented on #2491
Closing as this was mostly a discussion, rather than a bug report. I'll keep track of the work you mentioned, thanks!

[2021-02-01 10:27] #2491 closed

[2021-02-01 10:34] mspanc commented on #2522
I'll do this today.

In the meantime I revieved changes between 0.16 and 0.18 in libnice and I haven't noticed anything related to this issue.

[2021-02-01 13:59] mspanc commented on #2522
With 9 participants and ICE_TCP=false I do have 39313 FDs. Less but not great.

[lsof9.txt.gz](https://github.com/meetecho/janus-gateway/files/5904337/lsof9.txt.gz)

I'm going to test it against libnice 0.1.18.

[2021-02-01 14:17] mspanc commented on #2522
I don't see any difference in FDs after upgrading to libnice 0.1.18.

Additionally, we see a lot of RTC errors and disconnects in the webbrowser after reaching +/- 12 participants and janus logs are full of

[code]

[2021-02-01 14:25] lminiero commented on #2522
Feels to me like a misconfiguration of something on your side. When the core tries to forward a packet, it turns out it was queued almost 3s ago, which is an eternity.

[2021-02-01 19:23] atoppi commented on #2522
I guess there is something wrong in the way you are displaying open files.
For example if you try to grep on `8188 (LISTEN)` (that is supposed to be the signalling port), you'll get
[code]

[2021-02-01 19:28] atoppi commented on #2522
the right way is to filter by pid
`lsof -p $(pidof janus)`

[2021-02-01 19:29] atoppi commented on #2522
have you increased the open filse limit ?

[2021-02-01 19:32] mspanc commented on #2522
Yes I did but I wonder why 256k is not enough.

[2021-02-01 19:32] mspanc commented on #2522
The system is supposed to handle thousands of users, if we have 200k with 16 participants in the single room it's never going to scale.

[2021-02-01 20:16] atoppi commented on #2522
Please share the correct fds count and also the output of
`cat /proc/$(pidof janus)/limits`.

As of your scalability concerns we regularly test Janus with thousands of peer connections and the number of fds has never grown so much.

[2021-02-01 21:21] mspanc commented on #2522
I think I found potential cause and indeed it might be related to limits, I'll do the test tomorrow. Thank you for the guidance.

[2021-02-03 03:23] tmatth opened #2544 "videoroom: SDP PT parsing issue if codec profile is set"
### Summary
For videoroom publishers that explicitly set the codec profile, it seems that the wrong payload type is being retrieved (specifically the pt number after the one we want, or -1) from the offer SDP. For chrome 88, I hadn't noticed the issue since given the adjacent lines:
[code]
returning 108 masked the bug (since the profile-level-id matched, even though it has an unsupported packetiza

[2021-02-03 05:29] jsharpconv opened #2545 "Crash in plugins/janus_sip.c"
Working with janus-0.7.4.

[code]

[2021-02-03 08:46] mightZhong opened #2546 "dead lock"
Hi , we find there is a dead lock in websocket client gone scenario.
As we use an old version janus source code, so the code line in dump information may not correspond to the lastest code.

In general, thread  janus_websockets_thread locked client->mutex, wait sessions_mutex, meanwhile janus_sessions_watchdog locked sessions_mutex, wait client->mutex, below is the detal information.

Would you pl

[2021-02-03 08:48] lminiero commented on #2546
@mightZhong please pay some attention when you create issues... you had left the placeholder text there, and had just copied the gdb trace inline which messed up issues references. I fixed this for you this time, next time I'll just close the issue.

[2021-02-03 08:52] lminiero commented on #2545
0.7.4 is really old, please try master.

[2021-02-03 08:52] #2545 closed

[2021-02-03 08:56] lminiero commented on #2546
I see you're using custom code in there (saturn videoroom something). I'm afraid we can't debug something that's not related to an unmodified Janus here, so I'll have to close this. If you can replicate with any of the existing plugins, feel free to reopen.

[2021-02-03 08:56] #2546 closed

[2021-02-03 09:17] lminiero commented on #2544
Thanks for spotting this, I'll look into this later today :+1:

[2021-02-03 09:17] B-R-Bender opened #2547 "incorrect SDP answer in the video room"
Hello guys!

I, recently, was looking for a way to set the audio bitrate in the videoroom higher (by default, it was about 32kbps). The way this could be achieved is to mungle local SDP before creating an offer to tweak audio fmtp line. For instance from this:
`a=fmtp:111 minptime=10;useinbandfec=1\r\n`
to this:
`a=fmtp:111 minptime=10;useinbandfec=1;cbr=1;stereo=1;maxaveragebitrate=160000\r\n`
So

[2021-02-03 09:24] lminiero commented on #2547
`customizeSdp` is available both for createOffer and createAnswer. We use it in the Streaming demo already:

https://github.com/meetecho/janus-gateway/blob/master/html/streamingtest.js#L161

[2021-02-03 09:31] B-R-Bender commented on #2547
I'm talking not about `createAnswer` but `handleRemoteJsep` instead which is `prepareWebrtcPeer` which is actually is `RTCPeerConnection.setRemoteDescription()`

[2021-02-03 09:44] lminiero commented on #2547
Then yes, a PR would be welcome: as long as you use `customizeSdp` for consistency, and not the weird function name I see in your gist :slightly_smiling_face:

[2021-02-03 10:04] B-R-Bender commented on #2547
I'm using such kind of naming to self describe methods as something dangerous and better not to touch right away in the method signature. But from the consistency perspective sure I will use `customizeSdp`. Give me a couple minutes I'll prepare a PR.

[2021-02-03 10:21] mightZhong commented on #2546
I read the lastest code, the dead lock issue is also exist.

[2021-02-03 10:34] lminiero commented on #2546
You still need to provide a way to replicate this with stock plugins, not yours, otherwise we can't look at it.

[2021-02-03 10:57] B-R-Bender commented on #2547
@lminiero you can check out the PR
and thank you for a quick response!

[2021-02-03 17:12] #2547 closed

[2021-02-04 10:52] #2544 closed

[2021-02-04 11:59] cppdev-1 commented on #2439
**charleslee1010**, have you solved this issue?

[2021-02-05 22:37] lainlx opened #2550 "[VideoRoom] Starting participant video keeps on recording after recording has stopped"
I'm experiencing the following issue, whenever I have a recording going on in videoroom and a publisher turns on his video, then when the recording stops, participant's video keeps on recording (file keeps on getting larger). This seems to be 100% repro whenever the video starts after the recording has begun.

Steps to repro:
- Start recording for all
- New publisher joins, recording auto starts
-

[2021-02-08 13:58] NirAbel opened #2551 "meson_options.txt:1:0: ERROR: Unknown type feature"
hello,
I'm trying to install the project and it's failed with this error:

The Meson build system
Version: 0.45.1
Source dir: /home/nir/Documents/libnice
Build dir: /home/nir/Documents/libnice/build
Build type: native build

meson_options.txt:1:0: ERROR: Unknown type feature.

A full log can be found at /home/nir/Documents/libnice/build/meson-logs/meson-log.txt

[2021-02-08 14:09] lminiero commented on #2551
libnice related question, so doesn't belong here. Closing.

[2021-02-08 14:09] #2551 closed

[2021-02-08 14:16] lminiero commented on #2550
I think you found the root cause of the issue: stopping the recording via `enable_recording` set to `FALSE` does indeed traverse participants to see if their `recording_active` was set to `TRUE`. Since we're not initializing it to `TRUE` for the new participant, nothing is done when the recording is stopped and it keeps on going. I'll push the fix you suggested.

[2021-02-08 14:18] #2550 closed

[2021-02-08 18:19] GX-CHEN opened #2552 "SIP is still registered after send {request: 'unregister'} message"
In client-side JavaScript, when using the following code to unregister from SIP  (based on this comment to send unregister request: https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_sip.c#L155), I notice that the SIP is connected & registered, seems the `unregister` didn't succeed.

[code]
Not sure if it's a bug from the Janus side, or maybe my usage wan't correct.
I didn't see t

[2021-02-09 10:23] lminiero commented on #2552
If you mean the demo, it's not meant to change when you send "unregister". If from a SIP perspective the unregister did its job, then the plugin is working as expected.

[2021-02-10 13:48] mspanc commented on #2522
Indeed that was a configuration issue on our side. Thank you for all your help.

[2021-02-10 13:48] #2522 closed

[2021-02-11 11:05] AndyGura commented on #2316
@lminiero Can you please leave a sample code or at least some details regarding this:

It is still not clear how to identify streams. Thank you!

[2021-02-11 11:57] lminiero commented on #2316
All the demos show how to do this.

[2021-02-11 17:12] GX-CHEN commented on #2552
Sorry for the confusion with my wording in issue description.

1. Please ignore the `demo` part in my description
2. The issue I want to report is simply that: **sending "unregister" doesn't work**, because after sending`{  request: 'unregister' };` message, the SIP server is still regiestered

[2021-02-11 17:16] lminiero commented on #2552
Have you checked the SIP traffic? I believe an unregister is basically a REGISTER with an expire set to `0`, so you can check if we're indeed doing that.

[2021-02-11 23:53] GX-CHEN commented on #2552
My team-member helped to verified that after sending `{ request: 'unregister' }`, there is no action for set expire as `0`.

However based on your comment, I think I found the root cause: the request_text should be `unsubscribe` (https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_sip.c#L3201) instead of `unregister` mentioned in the comment here https://github.com/meetecho/janus-g

[2021-02-12 08:36] cppdev-1 commented on #2522
**mspanc**, could you describe in a few words what the issue was?

[2021-02-12 10:43] lminiero commented on #2552
You're looking at the wrong part of the code: `unsubscribe` is used to cancel a previous SUBSCRIBE, _not_ a REGISTER. This is where the `unregister` is handler:

https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_sip.c#L3088

which does call `nua_unregister`. Make sure you're not receiving errors back when calling it.

[2021-02-12 10:48] lminiero commented on #2552
Just tried myself and sending

    sipcall.send({message: {request: "unregister"}});

I do see the REGISTER with `Expires: 0` message being sent. As such, this feels like an issue on your side.

[2021-02-12 11:11] GX-CHEN commented on #2552
Got it, thanks for help looking into it! So it's probaly an issue on my side. I'll close the issue.

[2021-02-12 11:11] #2552 closed

[2021-02-12 12:48] mspanc commented on #2522
We had invalid ulimit set inside the docker container on the UID running the gateway.

[2021-02-12 14:49] cppdev-1 commented on #2522
**mspanc**, thank you.

[2021-02-15 08:52] Sensemakers-Nick commented on #2509
We haven't seen this issue since the last patch.
Thank you @atoppi !

[2021-02-15 08:52] #2509 closed

[2021-02-16 09:36] AntoninRousset opened #2555 "./configure requires npm"
Following the compilation procedure of the README, it seems the configure phase fails if `npm` is not installed:
[code]
Quick fix: install `npm`

[2021-02-16 09:38] lminiero commented on #2555
No, configure doesn't depend on npm. Closing as not an issue.

[2021-02-16 09:38] #2555 closed

[2021-02-16 09:40] AntoninRousset commented on #2555
Okay, any idea why this errors pops out?
I am working in a docker so it is pretty easy for me to tell you that janus won't configure without npm installed...

[2021-02-16 09:43] lminiero commented on #2555
Configure scripts depend on stuff like `autoconf` and `automake`, and have been around for much longer than `npm` has. It's much more likely that when you install `npm` you end up installing the dependency the configure script requires too. I don't know what's missing in your setup as I don't know it, but we use Docker a lot and we most certainly don't install `npm` when we install Janus there. Pl

[2021-02-16 12:48] josefzamrzla commented on #2076
@dnish Hi, have you solved this issue somehow? I'm dealing with the same problem - I want to use "external" stream to be able to eg. mute webcam stream using `track.stop()` instead of just enabling/disabling I have no idea how to replace the stream with the new one, it seems that janus.js still uses the first (stopped) one

[2021-02-17 14:42] tmatth opened #2561 "Use of strerror(errno) pattern in Janus"
Currently (as of commit 4f8943adf7c3292a1a4aaa08fd022c1308b9357d) there are 140 invocations of `strerror(errno)`.

The problem is that since `strerror` uses a static buffer, this idiom isn't safe to use in a multithreaded process like Janus. The alternatives are:
- `char *strerror_r(int errnum, char *buf, size_t buflen);` <- caller passes  a buffer and its size, this is guaranteed to be thread-saf

[2021-02-17 14:45] lminiero commented on #2561
That's a fair rationale. What does the `%m` format do? It looks like the easiest way to address this, without the need for additional bufferrs.

[2021-02-17 14:49] tmatth commented on #2561
In glibc, it's basically equivalent to using `strerror_r` internally apparently.

[2021-02-17 14:52] lminiero commented on #2561
Looks like it's GNU specific, though, so may not be portable. Maybe we do need to use `strerror_r`? Which would be a PITA.

[2021-02-17 14:56] tmatth commented on #2561
FYI:
[code]

that said I'm not aware of any compilers supported by Janus that don't support this feature (BTW do you maintain a list of supported compilers, aside from CI?)

[2021-02-17 15:01] lminiero commented on #2561
We only test with `gcc` and `clang`. No idea if WSL and MacOS support `%m` though.

[2021-02-17 15:09] tmatth commented on #2561
I think MacOS supports `strerror_r` but not `%m` :-1:

[2021-02-17 19:55] biodranik opened #2564 "Disabling VideoRoom publisher recording in 'configure' request doesn't work"
A room in VideoRoom plugin is created without a `secret` and with `record: true` (`lock_record: true/false` doesn't change anything).
A publisher joins the room like in your VideoRoom JS demo, and then sends a `configure` request with `record: false`. Supposedly, this publisher's video, audio, and data should not be recorded after that. But it's not the case: the recordings are still saved on the

[2021-02-22 10:56] lminiero commented on #2564
Are you using master? This reminds me of #2550 which we fixed already.

[2021-02-22 17:54] Harkanork opened #2566 "The name of the datachannel is always JanusDataChannel"
Hi,

Version: Janus v0.11.1

If a publisher creates a data channel with a custom name ('ChatChannel' for example), the OnDataChannel of the subscriber always receives a datachannel withe the name 'JanusDataChannel'.

Expected : The datachannel created on the subscriber side has the good name

**Janus Logs:**
Janus receives the creation of the datachannel by the publisher
[Mon Feb 22 18:41:26 2021]

[2021-02-22 17:59] lminiero commented on #2566
Yes, that's normal in the regular demo and with `janus.js`, because the VideoRoom plugin doesn't use labels when sending data to participants, and re-uses the ones subscribers create themselves (and `janus.js` uses that name for the default DC). This is not a problem as each PeerConnection can only serve content from a specific publisher, so no matter the label, if data is coming from PC X, you kn

[2021-02-22 17:59] #2566 closed

[2021-02-23 08:58] Harkanork commented on #2566
Ok, as you want but if I understand the current version of Janus can not manage more than 1 datachannel per publisher, right?
In the multistream branch, why do you force the label of the datachannel instead of using the one given by the publisher?

[2021-02-23 09:06] lminiero commented on #2566
You're confusing Janus and VideoRoom: they're not the same thing. The VideoRoom plugin only does 1 data channel, yes; Janus doesn't have this limit. If you play with the Lua or Duktape plugin to write your own script, for instance, you'll find you have more flexibility there, using different labels to send and receive traffic.

Because in multistream you can subscribe to more than one participant

[2021-02-23 10:44] lminiero commented on #2564
Just tested and it works as expected. Closing.

[2021-02-23 10:44] #2564 closed

[2021-02-23 14:19] daviderenger opened #2568 "multistream: segfault when sending videocodec in joinandconfigure"
Just tried out the new fixes merged to multistream-branch. And when sending 'videocodec' in the joinandconfigure message to videoroom, no matter what it is, valid codec or not, Janus crashes. This is the last logs:

[code]

Tested with both Chrome and Firefox, same result.

[2021-02-23 14:24] lminiero commented on #2568
Yes, I'm working on this right now, as I also noticed that we lost the ability as a publisher to specify which codec to force in general (only the codecs configured when creating the room are used). I should hopefully have a fix for both later today.

[2021-02-23 14:25] lminiero commented on #2568
PS: for future issues, please provide [meaningful traces](https://janus.conf.meetecho.com/docs/debug). The snippet you shared provides no info at all that could help identify issues by just looking at them.

[2021-02-23 14:26] daviderenger commented on #2568
Ok thanks, yeah sorry for that I will post more detailed information next time!

[2021-02-23 14:50] lminiero commented on #2568
Should be fixed in https://github.com/meetecho/janus-gateway/pull/2211/commits/f2be6df1613a35f2bf0b74158dcb2c1f32b36873

[2021-02-23 14:50] #2568 closed

[2021-02-23 17:15] docwhite commented on #1775
I'm browsing through the group and I can't find the question. Maybe we should post it.

[2021-02-24 14:23] maxboehm opened #2570 "AudioBridge: Permanent RTP_Forward"
We configure our AudioBridge to forward via RTP.

Our settings are permanent, so in case something goes wrong (restart janus), every setting made will be immediately available to our application.

Right now, the rtp_fowarding_*-settings are not written to the config file if the room was created with "permanent=true".

The required changes seem rather obvious: https://github.com/meetecho/janus-gate

[2021-02-24 15:20] lminiero commented on #2570
RTP forward settings are not saved to file because they're not part of the "create" request. The only way to create a forwarder dynamically, at the moment, is via a "rtp_forward" request. As such, it's not just a matter of saving info to file, but also to add new code to allow creating a default RTP forwarder right away when you "create" the room. I'm not against that, as long as it doesn't mean t

[2021-02-25 08:49] ikallali commented on #2330
+1

[2021-02-25 17:15] biodranik commented on #2564
@lminiero Yes, I am using the master branch and reproduced it again on the current master. The bug reproduces, if the recording is disabled in the `configure` request inside `createOffer` reply, like in your videoroom demo (in `publishOwnFeed()`).

It works in a separate `configure` request with `record: false` at any later time (but empty 8-byte .mjr files are still created in this case).

[2021-02-26 21:51] Will-I4M commented on #1775
I think it could be simpler to decode/upscale/downscale inside janus, you'll find old pieces of code for doing that with the help of libffmpeg in the group. search with "postprocess" term.

[2021-03-01 09:53] maxboehm commented on #2570
Ok. It's not that straight-forward because the current config-definiton also does not allow multiple rtp_forwarder.

I close this issue with this comment. As soon (Not sure when :-) ) we have a PR i'll reference it.

[2021-03-01 09:53] #2570 closed

[2021-03-02 15:47] xadhoom commented on #2439
I think that basically the sofia-sip in fedora is pretty outdated and now the real mantainers of sofia-sip (afaik officially endorsed) are the guys of the freeswitch team. So makes sense to make Janus work against a recent and maintained sofia-sip library.

We also have this problem which prevents using Janus and FS on the same box on CentOS. Right now we're trying to check where the incompatibili

[2021-03-03 08:55] zhiweny1122 opened #2571 "janus videoroom doesn't dispay the stream forward by the aiortc when i run janus example code in aiortc"
janus videoroom doesn't dispay the stream forward by the aiortc when i run janus example code in aiortc .
I can the videos when I use chrome ,but i can't see the video from aiortc client .
Is this a bug ? the aiortc log seems ok, but thers is no video in janus default room 1234
my command is as folllow：
python janus.py http://www.streamocean.com:8088/janus --play-with a.mp4

the Janus log is like

[2021-03-03 08:57] zhiweny1122 commented on #2571
[WARN] [3782647910941351]     Missing valid SRTP session (packet arrived too early?), skipping...
[WARN] [3782647910941351]     Missing valid SRTP session (packet arrived too early?), skipping...
[WARN] [3782647910941351]     Missing valid SRTP session (packet arrived too early?), skipping...
[WARN] [3782647910941351]     Missing valid SRTP session (packet arrived too early?), skipping...
[WARN] [

[2021-03-03 08:59] lminiero commented on #2571
You may want to ask the aiortc developers. The only thing I see in this log is that DTLS didn't complete, so the WebRTC is not up as far as Janus is concerned.

[2021-03-03 09:10] zhiweny1122 commented on #2571
sure , I will ask aiortc side at the same time .

[2021-03-03 10:56] vuta1927 opened #2572 "multistream: Janus crashed when a participant join a videoroom"
Recently our janus server sometime had been crashed when an user try join videoroom. This is trace from core dump file when janus crash: https://pastebin.com/v8bgcpmb

Looked at your codes janus_videoroom.c, I think you guys are missing check null condition in line 8825 for 'ps' variable.

[2021-03-03 11:02] lminiero commented on #2572
There's no line 8825 in the multistream VideoRoom. Please try the latest changes, not older commits.

[2021-03-03 12:35] vuta1927 commented on #2572
Strangely, I can find this line in janus_videoroom.c in mutilstream branch, it has been commited 8 days ago. https://github.com/meetecho/janus-gateway/blob/f2be6df1613a35f2bf0b74158dcb2c1f32b36873/plugins/janus_videoroom.c#L8825

[2021-03-03 12:40] atoppi commented on #2571
I have tested the aiortc echotest sample we distribute in `test` folder and everything seems to work as expected.
[code]

[2021-03-03 13:34] lminiero commented on #2572
My bad... I was looking at the master version :man_facepalming:
You're right, we probably need that additional check over there, I'll add it shortly.

[2021-03-03 13:51] tmatth commented on #2571
On Wed, Mar 3, 2021 at 3:55 AM Mike <notifications@github.com> wrote:

You might want to try with a vp8 file, something (videoroom or aiortc
more likely) may be defaulting to vp8.

[2021-03-03 13:57] tmatth commented on #2571
On Wed, Mar 3, 2021 at 8:50 AM Tristan Matthews <tmatth@videolan.org> wrote:

Also it will help rule out profile-level-id mismatch or some other
h.264 specific thing.

[2021-03-04 09:23] #2572 closed

[2021-03-04 09:28] zhiweny1122 commented on #2571
My aiortc client works well with your public janus server and my command is as follow
 python janus.py https://janus.conf.meetecho.com/janus --play-from 190309153658147087.mp4 --record-to aa.ts.
Howerver the aiortc client can record the video from chrome ,but it does't display the video from aiortc.
I didn't know why the dtls handshake not compled in Janus side.
BTW :
It is very helpful if you tel

[2021-03-04 09:30] lminiero commented on #2571
Closing as not an issue. Please use the group for further help.

[2021-03-04 09:30] #2571 closed

[2021-03-04 09:35] biodranik commented on #1007
Any other ideas on that? Reproduces consistently with videoroom plugin in the current master:

[code]

[2021-03-05 09:11] flaviogrossi commented on #2439
We seem to have tracked it down to be an issue with a change that only exists on that sofia repo (which, according to http://sofia-sip.sourceforge.net/index.html is now the main repo, so i think it is a priority to have it fixed).

I opened an issue here https://github.com/freeswitch/sofia-sip/issues/52 with the details if anyone wants to join the discussion or provide more details.

[2021-03-05 14:52] strohel opened #2576 "Document "timeout" and "detached" REST-like API messages"
When using Janus (with videoroom plugin), we encounter these messages in addition to documented ones:
[code]
[code]
I have not found them documented on https://janus.conf.meetecho.com/docs/rest.html or https://janus.conf.meetecho.com/docs/videoroom.html

I was able to guess some of their semantics from the code - i.e. `"timeout"` seems to imply that the session has been destroyed completely. But i

[2021-03-05 14:54] RSATom commented on #2576
To keep session alive you have to send `keepalive` message periodically.

[2021-03-12 10:48] enhany opened #2578 "Video room crash"
I run janus for long time, today I got crash in master branch.

unfortunately I can't repeat it, because it was in one of server in production.
stack:
https://pastebin.com/raw/dtm67g1d

`
(gdb) f 1
  0x00007f4e7401891f in janus_videoroom_setup_media (handle=<optimized out>) at plugins/janus_videoroom.c:5078
5078                                    janus_mutex_unlock(&participant->room->mutex);

(gd

[2021-03-12 11:17] lminiero commented on #2578
Good chances are we fixed this already, as I think we already addressed race conditions like this recently. You may want to try with master, since you mentioned running Janus for a long time (so may be an older version). Should it happen again, libasan dumps are preferrable, as they tell us where/why a resource was destroyed when used again: https://janus.conf.meetecho.com/docs/debug

[2021-03-12 11:25] enhany commented on #2578
@lminiero

It's last master. This is one of servers where I run latest master:
`-rwxr-xr-x 1 root root 3089136 Mar  8 22:53 /usr/local/janus/bin/janus`
as you can see - compiled 8 of March.

This is my first crash of Janus for long long time - this is why I doubt it will be again (and I hope it will not).

[2021-03-12 11:55] mirkobrankovic opened #2579 "overflow in the reported stats"
In very lossy networks the number of nacks sent in an interval could exceed the number of packets sent. In those cases the ratio nacks/sent exceeds 1, thus leading to an overflow in the reported stat.

As it can be seen in log:
https://pastebin.com/WSsX9GUh
` "out-link-quality": 4294967222
`
Version: 0.10.10

[2021-03-15 16:45] deep9 opened #2580 "Combined tokens / password access"
After update to 0.10.10 the streaming connection is not working.

I have api_secret enabled as it allows for token issue, which is then used for user connection.

Before the update it was working fine, now it seems that if the api_secret is set, it needs to be used with the token.

Strange behavior is that the POST request will work, but the GET will return 403.

 I believe the error is located he

[2021-03-15 17:04] deep9 commented on #2580
Something like this

[code]

[2021-03-15 17:06] deep9 commented on #2580
So, based on the findings, I think it would maybe make sense to create one validation function in the gateway (janus.c) and call it from those 2 places to prevent errors :)

[2021-03-15 17:27] deep9 commented on #2580
So, I wanted to test it, there is a working version here, not sure if it is correct language wise.
https://github.com/deep9/janus-gateway/tree/hotfix/token-secret-auth

[2021-03-16 10:31] lminiero commented on #2579
We'll have to figure out the best way to handle this. A simple fix might be capping the number of nacks in that calculation, so that it never exceeds the number of sent packets, but that may be a bit of a hack; taking into account when a NACK is actually sent more than once may be tricky, and may "pollute" that value as well (multiple retransmissions of the same packet may be indications of troubl

[2021-03-16 10:37] lminiero commented on #2580
The logic in the HTTP transport plugin was changed on purpose, since there was an issue documented in #2520 and fixed in #2524, which is indeed the commit you referenced to. If you think you have a fix for this, please prepare a pull request rather than linking to a branch, as that would force me to look for the changes manually.

[2021-03-16 11:00] #2579 closed

[2021-03-16 11:01] lminiero commented on #2579
Went for the easy fix :slightly_smiling_face:

[2021-03-16 13:09] cppdev-1 opened #2582 "Crash in the videoroom plugin"
[code]

Steps to reproduce
1. The patch reproduce.patch have to be applied to sources;
2. Create a video room with two participants;
3. Start video for them;
4. Close browser for the 2nd participant;
5. Quickly (<3 seconds) stop video for 1st participant;
6. Wait a little for the crash.

[reproduce.zip](https://github.com/meetecho/janus-gateway/files/6149109/reproduce.zip)
[videoroom.zip](https://

[2021-03-16 15:40] atoppi commented on #2578
reproduce with libasan

[2021-03-16 15:44] lminiero commented on #2582
If you have a fix, please submit a PR and document what's wrong and why there. That will make it easier for us to look at the changes. I'm not going to manually go through patches, sorry.

[2021-03-16 20:25] enhany commented on #2578
I already recompile it with libasan. waiting...

[2021-03-17 10:19] ajayjohnwick opened #2583 "Janus VideoRoom Api join"
"request"   : "join",
"ptype"     : "publisher",
 "room"      :  room_id,
 "id"        : str(_id),
  I run this code and  I get this message as output
{'janus': 'ack', 'session_id': 3268536221895769, 'transaction': 'KYe8NemGrm'}
I didn't get {"janus":"success"}
Can you please explain why

[2021-03-17 10:24] lminiero commented on #2583
Question for the group, and all explained in the documentation anyway.

[2021-03-17 10:24] #2583 closed

[2021-03-17 19:18] cppdev-1 commented on #2582
PR - https://github.com/meetecho/janus-gateway/pull/2584

[2021-03-18 05:45] yalisandsoso opened #2585 "I can't find the file "janus.transport.http.jcfg.sample""
Why can't I find the file "janus.transport.http.jcfg.sample" under "/opt/janus/etc/janus/"？

[2021-03-18 08:30] yalisandsoso opened #2586 "Couln't start secure webserver on port 8089"
![image](https://user-images.githubusercontent.com/22914268/111595479-1f86ab00-8807-11eb-9ba3-f5e0ac6f951c.png)

[2021-03-18 08:35] RSATom commented on #2586
This means some app already uses this port...

[2021-03-18 08:55] lminiero commented on #2586
Either that, or other problems (MHD compiled without SSL/TLS support, missing certificates, etc.). Whatever the cause, out of scop here, please ask on the group.

[2021-03-18 08:55] #2586 closed

[2021-03-18 08:56] lminiero commented on #2585
You missed `make configs`. Please make sure to follow instructions on the readme.
That said, out of scope here: please ask questions like this on the group.

[2021-03-18 08:56] #2585 closed

[2021-03-18 09:39] yalisandsoso opened #2587 "Couldn't start secure webserver on port 8089..."
![image](https://user-images.githubusercontent.com/22914268/111605027-e9e6bf80-8810-11eb-95f0-851b0b7f3307.png)

[2021-03-18 09:42] #2587 closed

[2021-03-18 09:42] lminiero commented on #2587
Already closed in the other issue. Please don't open the same, out of scope, issue all over again.

[2021-03-18 09:47] yalisandsoso opened #2588 "what ?????????????????????????????????????????????????????????????????????????????????????????????????????????????"
![image](https://user-images.githubusercontent.com/22914268/111605027-e9e6bf80-8810-11eb-95f0-851b0b7f3307.png)

[2021-03-18 09:48] lminiero commented on #2588
This is the third time I close this issue. See the previous responses. Open it again and you'll be banned.

[2021-03-18 09:48] #2588 closed

[2021-03-18 09:51] mirkobrankovic commented on #2579
thanks :)

[2021-03-18 09:57] mirkobrankovic opened #2589 "Videoroom: rtp_forward api reports success but rtp doesn't start"
Regarding this thread:
https://groups.google.com/g/meetecho-janus/c/xs6qCRRD874

Currently on master (and I tried going back in git log and got till version 0.9.5 since I needed to pull down other deps, libnice,...) I can't get the rtp flow after a success response to rtp_forward request.

Note: I tried it on multistream branch and seems to work correctly with no client/signaling changes, I see th

[2021-03-18 12:59] atoppi commented on #2589
hi @mirkobrankovic,
you didn't mention that `master` was broken as well.
Regarding this aspect we use the videoroom / audiobridge rtp forwarding **A LOT** without any issue.
Could you try again by fetching the sources and building in a clean folder ?

[2021-03-18 13:02] atoppi commented on #2578
We got another report of the very same issue, so marking this as bug.
@enhany would you please enable verbose logging (5) and locking_debug (check admin page) before trying to reproduce ?

[2021-03-18 14:10] mirkobrankovic commented on #2589
i did say "Currently on master ..." but sorry for unclear sentences :p
Ok let me try in clean master

[2021-03-18 14:13] atoppi commented on #2589
I meant on the group, you only mentioned other branches AFAIR.

[2021-03-18 14:16] mirkobrankovic commented on #2589
aah yeah, i tested master in the mean time :) but they went to older releases to see where it broke for me, but got to 0.9.5 and because of libnice downgrade i stopped

[2021-03-18 14:52] mirkobrankovic commented on #2589
Tried now with clean master, also broken for me.
I'm now sending request for  localhost:30000 and getting ipv6 in reply:
[code]
maybe related

[2021-03-18 15:14] lminiero commented on #2589
Maybe `::1` is the issue? Are you passing `localhost` to the host when creating the forwarder? What if you set `127.0.0.1`?

[2021-03-18 15:58] atoppi commented on #2589
Works as expected for me on latest master.
1) published audio-video inside a room 1234 and got pub id 371880835705219
2) requested the forwarding of the audio to 127.0.0.1:30000

**Request**
[code]

**Response**
[code]

[code]

[2021-03-18 16:06] tmatth commented on #2589
@mirkobrankovic as @lminiero pointed out, setting `host` may help, but also you may want to set `host_family`.

That said, there may be an issue with the host+family+socket combination Janus makes by default for RTP forwarders depending on your OS, networking etc. but that might be only exposed on certain setups.

[2021-03-18 16:08] lminiero commented on #2589
I just tried passing "localhost", which was resolved to "::1" in my case but still worked (RTP packets were forwarded as expected).

[2021-03-18 16:29] mirkobrankovic commented on #2589
I tried with 127.0.0.1, still the same.
Since it is working for you I guess the problem is on my side.

I see you set  `secret`, I don't set it, is it a mandatory field by default?

[2021-03-18 18:25] mirkobrankovic commented on #2589
What is confusing me the most is with changing only to multistream ( not changing environment, client code,...) It start to work. That i can't understand ;)

[2021-03-19 08:54] mirkobrankovic commented on #2589
So it is definitely related to the ip family somehow.
127.0.0.1 didn't work now for me on any branch.
localhost only on multistream branch,
and specific default gateway ip works on master also:
[code]
So it is not a bug, I will close it :d

Thanks for great help

[2021-03-19 08:54] #2589 closed

[2021-03-19 14:41] mirkobrankovic commented on #2589
Found out tht whole confusion was that I wasn't sending audio:true in configure request, probably some versions accepted it based on SDP by default and some newer one didn't and so my audio wasn't started like video :/

Works now perfectly :D thanks again

[2021-03-20 21:53] aliceinspase opened #2592 "Princess"
![image](https://user-images.githubusercontent.com/66783637/111886593-e2c1dc00-89df-11eb-9c20-2656c1f28225.jpeg)

[2021-03-20 21:57] siamaksk opened #2593 "Email receiving problems"

[2021-03-21 02:42] hombyk-nevzi2-dAxzyd opened #2595 "698a51db"
- [x] @KL9599

[2021-03-21 06:09] JelisaCooper commented on #2593
#2593

[2021-03-21 09:07] #2592 closed

[2021-03-21 09:09] #2593 closed

[2021-03-21 09:10] #2595 closed

[2021-03-22 07:55] gushenjie opened #2596 "SERVER MCU Mode"
Is there any plan to support MCU mode? SFU mode requires more bandwidth

[2021-03-22 10:06] lminiero commented on #2596
For audio, there's the AudioBridge, which is an MCU. We're not planning a video MCU.

[2021-03-22 10:06] #2596 closed

[2021-03-22 10:07] lminiero commented on #2580
Closing as your PR has been merged.

[2021-03-22 10:07] #2580 closed

[2021-03-22 10:30] #2561 closed

[2021-03-22 11:13] lminiero commented on #2578
@enhany can you try with the latest master? We added a fix for another issue, that we suspect may actually be at the root of what you were experiencing, since it was in the notify-participants code: https://github.com/meetecho/janus-gateway/commit/01529b6faa395ebeeb106928db30c7138c5225eb

[2021-03-22 11:54] #2576 closed

[2021-03-22 11:54] lminiero commented on #2576
Fixed.

[2021-03-22 12:08] strohel commented on #2576
Thanks a bunch, @lminiero! @application-developer-DA, @jxs check the commit, contains some good extra info.

[2021-03-22 13:42] ds21194 commented on #2322
I have the same error on the Janus server (Did you solve it?), with the warning-
'Failed to add some remote candidates (added 0, expected 1)'
The server shows this error only when I configure 'full_trickle' to true, and he's showing the warning regardless.

When I set 'full_trickle' to false, I have another warning saying:
'[WARN] [3631177690243597] Waiting for candidates-done callback... (slow ga

[2021-03-22 14:17] fukemy commented on #1977
hi, did u find anyway to send message in videoRoom, in found nothing in google group

[2021-03-22 14:37] enhany commented on #2578
@lminiero
I will install latest master today night.

[2021-03-22 18:42] cppdev-1 commented on #2439
@xadhoom @flaviogrossi @lminiero

The reason is that developers of libsofia have commented out the code that adds contact header to request. See nua_client_request_sendmsg in nua_client.c for more information.
In our case we use only guest SIP sessions. To solve the problem we generate contact header from SIPTAG and add it to SIP INVITE request.

PR - https://github.com/meetecho/janus-gateway/pull

[2021-03-24 10:26] cppdev-1 commented on #2582
@lminiero I don't mind if you don't accept my PR. I'd like you to have a look at reproduce patch, because I believe it reveals an architecture problem in Janus.

[2021-03-24 14:58] lminiero commented on #2582
I don't think that can happen: `hangup_media` is triggered by the handle loop and can't go dormant for such a long time, and a `g_slist_remove` will never take that long either. Did you notice or experience behaviours at runtime that seemed to suggest similar scenarios could happen? Or is it mostly meant to highlight a potential race condition, that the patch makes more likely to occur?

[2021-03-24 15:11] cppdev-1 commented on #2582
Yes, the patch makes the race condition (and crash) more likely to occur with the lower number of participants.

[2021-03-25 22:25] aliceinspase opened #2600 "Ok"

[2021-03-26 06:37] JelisaCooper opened #2601 "Hi,"

[2021-03-26 06:38] JelisaCooper commented on #2601
Ty

[2021-03-26 07:20] #2600 closed

[2021-03-26 07:21] #2601 closed

[2021-03-26 16:33] ROBERT-MCDOWELL opened #2602 "some non fatal compilation warnings"
gcc 10
Fedora 33 64bits

FYI, if yo need some QOS compilation (warnings treated as errors)

here are some compilation code with warnings

[code]

----------------

[code]

----

all the rest is pretty nice

Thanks

[2021-03-26 16:42] lminiero commented on #2602
We're already aware of these warnings, which are harmless. Thanks for the heads up, but I'll close this as there's no issue.

[2021-03-26 16:42] #2602 closed

[2021-03-26 17:00] ROBERT-MCDOWELL commented on #2602
ok great! thanks!

[2021-03-26 19:46] JanFellner opened #2603 "Trivial: Websocket event handler janus is not properly handling the path part in the backend parameter"
Humbled over a trivial bug (weekend exercise ;)) where janus seems not to properly handle the url path parameter in the janus.eventhandler.wsevh.jcfg

Path was configured like this:
backend = "ws://10.20.3.220:3000/janus/ws"

But the request is missing the first slash and therefore not properly routed through a straight forward node-express-router implementation.

**GET janus/ws HTTP/1.1**
Pragma:

[2021-03-26 19:53] tmatth commented on #2603
@JanFellner sounds like this issue?
https://github.com/warmcat/libwebsockets/commit/d2c140c8edb057e6e539b4b4a3f4581f1f0050ee

[2021-03-27 21:24] Qvatra opened #2605 "missing export in janus.js and janus.nojquery.js files"
Hello,
I was trying to import janus-gateway client-side by doing the following:
`const { Janus } = require('janus-gateway/html/janus.nojquery.js');`

the problem is that Janus object is not beeing exported so nothing is get binded and I cant access
`Janus.init` function in my context.

wouldnt it be better to export `Janus` object in both `janus.js` and `janus.nojquery.js` files by adding:
`export

[2021-03-29 07:39] lminiero commented on #2605
Not sure what version you're trying, but we haven't had a `janus.nojquery.js` in the repo in years.

[2021-03-29 07:41] lminiero commented on #2603
@tmatth thanks for the pointer, so this means we'll have to fix the URI parsing in our code, correct?

[2021-03-29 08:04] Qvatra commented on #2605
@lminiero hi, thanks for reply!

By running ```npm i janus-gateway@latest``` this is what installed:
"janus-gateway": "^0.2.3",
that package has both ```janus.js``` and ```janus.nojquery.js``` in ```node_modules/janus-gateway/html``` folder

[2021-03-29 08:06] lminiero commented on #2605
That's not our package and not something we maintain, and `0.2.3` is incredibly old. Closing as not an issue.

[2021-03-29 08:06] #2605 closed

[2021-03-29 08:07] lminiero commented on #2605
I think the `npm` folder in tis repo is what you're looking for, for up-to-date stuff.

[2021-03-29 08:10] Qvatra commented on #2605
@lminiero, ok thank you.
doest is mean that the intended way of having janus.js in my project is copy pasting that file?

[2021-03-29 08:15] lminiero commented on #2605
Not familiar with that code, please check the docs: https://janus.conf.meetecho.com/docs/js-modules

[2021-03-30 06:15] zhiweny1122 opened #2608 "Janus Dtls handshake send big packet than mtu size on ubuntu1804"
It looks like janus sever send a big packet than the mtu size during the Dtls handshake when it connect to aiortc client.
I use wireshark to capture the packet during the dtls handshake process.
Is it a bug of Janus because i set the mtu size to 1200 in janus jcfg file ?
I attached the wireshark picture.
![20210330114446](https://user-images.githubusercontent.com/26403439/112942197-57281800-9162-1

[2021-03-30 09:15] lminiero commented on #2608
Seems to be working as expected here. Maybe the OpenSSL/LibreSSL/BoringSSL version you're using?

[2021-03-30 09:41] #2603 closed

[2021-03-30 09:41] lminiero commented on #2603
Should be fixed now.

[2021-03-30 13:28] JanFellner commented on #2603
Will check thanks... :)

[2021-03-30 13:50] JanFellner opened #2610 "Missing simulcast statistics in eventhandler connection for firefox"
Hi,

i started using the websocket event handler to get to know about statistics of the different PCs.
While implementing this i am removing code from the admin API i used to poll for these statistics.
I now humble over something i did not notice before but also looks like an issue in the admin api or at least a different behaviour.

I create a peerConnection from FireFox to the videoroom (using u

[2021-03-30 23:34] TheSashmo opened #2612 "Stutter in video - Question."
Hey everyone, I'm creating a ticker here, because I have tried everything possible, at least to my abilities.

I've been dabbling with Janus and webrtc for a while now and have come up with some great little solutions, but I have encountered a problem with playing video. Now, the issue isn't noticeable much when there is a lot of motion on the screen. For example a music video playing, you can bar

[2021-03-31 01:32] zhiweny1122 commented on #2608
my openssl is 1.1.1

[2021-03-31 06:02] zhiweny1122 commented on #2608
your public janus site send the certificate fragment and reassembled ?
Can you tell me to set this ?
![good20210331135345](https://user-images.githubusercontent.com/26403439/113097576-b69d2b00-9229-11eb-95aa-65fb74385537.jpg)

[2021-03-31 07:42] lminiero commented on #2608
Please stop posting photos, they're useless and don't help.
Are you passing your own certificate? Does this happen when you let Janus autogenerate certificates too?

[2021-03-31 07:46] lminiero commented on #2612
You're not saying much to help identify the issue. What's the resolution? What's the bitrate? The encoding pipeline in gstreamer? Are you ensuring packets are small enough? etc.  That said, this question probably belongs to the [group](https://groups.google.com/g/meetecho-janus), as it's a user issue and likely not a bug.

[2021-03-31 07:52] zhiweny1122 commented on #2608
This issue is resloved when i update the certificate to janus signed.
It is a bug of janus.

[2021-03-31 08:40] JanFellner commented on #2610
Hi Lorenzo,

i am using the way you propose it in your samples (chrome uses munging, firefox uses the api) but i already had using the sample in mind. Will recheck and post here.

Jan

[2021-03-31 09:31] lminiero commented on #2610
No need, I just made an EchoTest from Chrome with `simulcast2=true` and could replicate. I have a guess on what may be the cause, so I'll let you know if I have a fix.

[2021-03-31 09:42] #2610 closed

[2021-03-31 11:20] JanFellner commented on #2603
Works as expected. Thanks.

[2021-03-31 11:53] JanFellner commented on #2610
Looks good, just checked out master working as expected.

[2021-03-31 14:48] MariosPalazis opened #2613 "How can I send video stream to Janus server in order to be consumed from the rest peers??"

[2021-03-31 16:22] #2613 closed

[2021-04-01 06:25] karan10kk opened #2614 "error creating inbound SRTP session for component 1 in stream 1"
[WARN] [2497217044689508]     Missing valid SRTP session (packet arrived too early?), skipping...
[WARN] [7438770168762002]     Missing valid SRTP session (packet arrived too early?), skipping...
[WARN] [7438770168762002]     Missing valid SRTP session (packet arrived too early?), skipping...
**[ERR]** [dtls.c:janus_dtls_srtp_incoming_msg:923] [2497217044689508] **Oops, error creating inbound SRTP

[2021-04-01 08:31] JanFellner opened #2615 "Websocket event handler delivers media events (type:32, subtype:1) multiple times"
Using the videoroom sample with simulcast i receive the video receiving event three times but i would expect it to be delivered only once.

here filtered for the relevant events:
`{
  emitter: 'janus.estos.de',
  type: 16,
  subtype: 6,
  timestamp: 1617265195421999,
  session_id: 8445497250597053,
  handle_id: 2417694560024348,
  opaque_id: 'videoroomtest-tlYgvHcj3tfS',
  event: { connection: 'we

[2021-04-01 08:42] lminiero commented on #2615
"Video receiving true" events are three because you're using simulcast, which uses three separate video streams, so it's expected. I agree that it's missing an indication about the substream they refer to, though, so that needs to be fixed. Not sure why you mention the VideoRoom, though: stats have nothing to do with plugins, and are the same no matter which you use.

That's the main point of even

[2021-04-01 10:42] JanFellner commented on #2615
I would understand this if i would receive the same events when i disable simulcast layers on the client side but there are no such events then (neither if i remove a layer nor if i re add it - getStreamEncodings -> active:false ->setStreamEncodings). But actually they are only dispatched initially but not while things are changing...

If i just want statistic data the admin api adds a huge bunch

[2021-04-01 14:21] lminiero commented on #2614
As explained in the guidelines, questions like this belong to the [group](https://groups.google.com/g/meetecho-janus). Closing.

[2021-04-01 14:21] #2614 closed

[2021-04-01 14:39] #2615 closed

[2021-04-01 14:40] lminiero commented on #2615
I've added the missing substream to the `receiving` events, when simulcast is used. I verified this works with the EchoTest, and that even when I stop layers via `setParameters()` on the transceiver sender and then resume them later on, I get the `receiving:false` and then `receiving:true` I expect.

[2021-04-01 14:41] lminiero commented on #2615
Mentioning @mirkobrankovic as I think he mentioned this lack of support for simulcast events being an issue in the past.

[2021-04-01 17:40] lminiero commented on #2608
A colleague just made me notice that your picture shows the TLS traffic (TCP), *NOT* DTLS. As such, closing as there's no issue at all.

[2021-04-01 17:40] #2608 closed

[2021-04-02 11:19] isnumanagic opened #2617 "Multistream: unsubscribing using publisher mid is not working with string_ids set"
Hi,
On `multistream` branch, sending `unsubscribe` request with `feed` + `mid` fields when using `string_ids` does not seem to be working. After digging through the code, it seems that case is only covered when `string_ids` is set to false, even though that should not be a problem. Here is the problematic conditional: https://github.com/meetecho/janus-gateway/blob/50c5600d458d56eb2ecd6e77f83349451

[2021-04-02 11:22] isnumanagic commented on #2617
`feed_id` is only set when `string_ids` is set to false, as seen here: https://github.com/meetecho/janus-gateway/blob/50c5600d458d56eb2ecd6e77f83349451db63ad7/plugins/janus_videoroom.c#L8592

[2021-04-02 12:21] lminiero commented on #2617
Good catch, it's very likely that this is one of the leftovers when we merged the support for string identifiers from master. I'll have a look and fix it.

[2021-04-02 12:55] lminiero commented on #2617
The above commit should fix it: I found a few other parts where it needed the fix too.

[2021-04-02 12:55] #2617 closed

[2021-04-02 13:16] tunerooster opened #2618 "current gentoo port fails"
Does anyone know who maintains the gentoo ebuild for this package?  It fails to compile because of a known issue with janus-websockets.c and
libwebsockets.  It appears that the problem has been fixed in the current source code, but the gentoo janus-gateway-0.4.5.ebuild (from the ikelos layman overlay) is using old code.

It would be useful to have a janus-gateway-9999.ebuild version of the ebuild

[2021-04-02 13:20] lminiero commented on #2618
I don't know but it's not us. You may want to ask on the [group](https://groups.google.com/g/meetecho-janus) instead.

[2021-04-02 13:20] #2618 closed

[2021-04-05 07:41] yusukem99 commented on #1692
I had same problem, i installed libnice 0.1.18, make new janus binnary but janus says
`libnice version outdated: 0.1.14 installed, at least 0.1.16 recommended. `
in my case, after cloning janus-gateway to new folder, this warnig disappeared and everything worked fine

[2021-04-05 10:00] NotherGithubAccount opened #2619 "eventfd descriptors accumulating"
We're using a relatively simple Duktape plugin derived from the echo demo for the video side of a chat, the chat itself is managed by a separate websocket server.

Over time, file descriptors for "-> anon_inode:[eventfd]" accumulate, until pushEvent() calls start failing with "Error spawning pushevent thread (at line 642)". I assume that's when some sort of limit for these descriptors is reached.

[2021-04-05 15:16] cppdev-1 commented on #2619
This case seems akin to https://github.com/meetecho/janus-gateway/issues/2522 .

[2021-04-05 20:11] llspalex commented on #1354
Someone reports setting NAT mapping in  janus config: https://github.com/meetecho/janus-gateway/issues/1354#issuecomment-699594364

[code]

[2021-04-06 07:23] st-vinguyen opened #2621 "Add Authorization header to each request to server"
Hi,
I'm now using `janus-gateway` on the client-side.
I want to create a proxy as a middleware that will handle the business logic before forwarding the request to Janus server.
Anyone, please let me know if there is any way to attach my access token (through Authorization header) to each request.
Thanks

[2021-04-06 08:12] NotherGithubAccount commented on #2619
Thanks for the reference. Not sure what to make of #2522. The op says it was a problem with the open file limit, yet apparently measured 256k open files. I don't think it's the same issue.

Under normal operations after a restart, we use about 200-300 file descriptors. We ran into Debian's 1024 limit after a couple of days, so we changed that to 100k. I don't remember what the exact error message

[2021-04-06 09:46] cppdev-1 commented on #2619
@NotherGithubAccount I've meant that there is a descriptor leak.

[2021-04-06 10:07] lminiero commented on #2619
Whether the cause is the same or not, you should provide the same information we asked there. Nothing we can do otherwise.

[2021-04-06 10:08] lminiero commented on #2621
Please ask questions on the [group](https://groups.google.com/g/meetecho-janus). Closing as not a code issue.

[2021-04-06 10:08] #2621 closed

[2021-04-06 10:16] NotherGithubAccount commented on #2619
@cppdev-1 Yes, but unless I'm misinterpreting that issue, the problem was a false method of measuring open files and the limit not being set correctly for that use case, not a real leak.

I see the increase of eventfd references in /proc/$PID/fd.

[2021-04-06 10:21] NotherGithubAccount commented on #2619
@lminiero Unfortunately that setup is already in production. I'll try to get an strace during a quiet time. Though it's a very gradual increase, it likely won't be enough to test with a handful of connections.

[2021-04-06 11:07] atoppi commented on #2619
@NotherGithubAccount have you montored the number of threads spawned by Janus ?

maybe something related to event handlers or transports used ?

[2021-04-06 12:15] NotherGithubAccount commented on #2619
@atoppi I hadn't thought of that, no. Since I recently restarted the server and don't have a reference point, I can't yet say if threads increase with eventfd handles. It should become obvious in a few days.

We're not using any event handlers. The sample handlers were compiled, but aren't enabled in the config, log says "Event handlers support disabled" on startup. The only transport is wss, numb

[2021-04-06 22:52] dbrichards opened #2622 "Several mutex locks not initialized in Janus streaming plugin (janus_streaming.c) when using pthread mutexes"
Hi.

In the file **janus_streaming.c**, I believe the global mutex "**mountpoints_mutex**" and the "**mutex**" in the **janus_streaming_mountpoint** typedef (when dynamically allocated) are not initialized. This is only a problem if pthread mutexes are used (**USE_PTHREAD_MUTEX** is defined).  If Glib mutex locks are used (the janus default), the problem is masked because Glib uses zero as its ini

[2021-04-06 23:13] dbrichards commented on #2622
CORRECTION... I apologize!  After further review, I believe the only uninitialized mutex is "**mountpoints_mutex**". Thanks.

[2021-04-07 07:52] mirkobrankovic opened #2624 "Memory loss"
We have been running 0.10.10 version lately and noticed quite some mem loss over time:
[
![mem](https://user-images.githubusercontent.com/3499206/113829991-70464f80-9786-11eb-959b-79ab9c3dd974.png)
](https://user-images.githubusercontent.com/3499206/113829991-70464f80-9786-11eb-959b-79ab9c3dd974.png)
Running master in Valgrind showed me two places of loss, one initiating videoroom from file which

[2021-04-07 07:54] lminiero commented on #2624
Better to use libasan to track leaks, valgrind makes everything too slow to be meaningful.

[2021-04-07 10:09] #2622 closed

[2021-04-07 10:09] lminiero commented on #2622
Thanks, fixed :+1:

[2021-04-07 11:48] mirkobrankovic commented on #2624
Asan is reporting the same:
https://pastebin.com/xmPR2NSa

[2021-04-07 11:57] atoppi commented on #2624
@mirkobrankovic can you list the steps to reproduce the leak ?

[2021-04-07 12:11] mirkobrankovic commented on #2624
@atoppi using Audiobridge and Videoroom plugins, 3 members in each, all 3 members subscribe to other 2 in Videoroom.
After that I'm closing the client browser tabs, but signaling wise, backend is sending  leave requests for each member:
`{"body":{"request":"leave","room":1000042710}}`
Followed by detach for each member:
`{"handle_id":4533215128961913,"janus":"detach","session_id":5681561440596542}

[2021-04-07 12:23] atoppi commented on #2624
Why are you not destroying sessions too ?

[2021-04-07 12:28] mirkobrankovic commented on #2624
Unfortunate/Accidental design flow I guess :D
Since it is a WS connection between Signaling backend and Janus media backend it can all be done over one/or few WS connection/s.
We keep one WS conn always active as a keepalive and both Audiobridge and Videoroom creation destruction, user requests all is done over second WS connection that is destroyed later (when Elixir process dies)

[2021-04-07 12:37] mirkobrankovic commented on #2624
for example:
https://pastebin.com/bMBXd977

but I do have a reclaim_session option:
reclaim_session_timeout = 120

[2021-04-07 12:38] atoppi commented on #2624
It is not clear how many sessions are you using though (`connections != sessions`).
Having a pool of connections is okay, but if you are creating a janus session per user, you should also destroy it when the user leaves (or closes the tab).

[2021-04-07 12:42] mirkobrankovic commented on #2624
This use case creates 4 janus sessions over one ws connection (each janus session is responsible for one plugin, for all users) and it is destroyed in the end.
Sorry for not being clear enough

[2021-04-07 12:54] atoppi commented on #2624
Another test I did:
- enable session reclaim (30 seconds)
- enter videoroom demo with 3 participants
- refresh all tabs
- close janus

Some leaks are reported, but I think they are the data being hold by janus due to session reclaiming.
If I wait the session reclaim timeout and then close the server, no leaks are reported.

Anyway this is not exactly the same signalling as yours, because the conne

[2021-04-07 13:01] mirkobrankovic commented on #2624
@atoppi thanks, I will do some more tests and come back if I find new info

[2021-04-07 13:23] atoppi commented on #2624
Managed to reproduce exactly yours same trace
[code]

It is the result of:
- enabling session reclaim
- establish a session with a backend
- closing janus while a session was active

So yeah maybe we could fix something to avoid this unpleasant leak report but it's not clear if this might be an issue in the long run.

For example I'd like to know what happens if the session is going to be reclaime

[2021-04-07 13:27] lminiero commented on #2624
I don't think this needs fixing: if the session hasn't been destroyed (and the reclaim increases the time it lives), then it will leak and it's normal. We do cleanup sessions at shutdown but some may still be there. It would be an issue if during the Janus lifetime a session ended and the reclaim timed out too, but resources were not cleared, which from what I understood is not what's happening he

[2021-04-07 14:17] mirkobrankovic commented on #2624
Yeah, I agree.
I will fix it locally by removing the reclaim session, since we need it only in rare "local network problems" cases, which should not happen that often.
You guys know better internally what is best for Janus as session/user approach.

[2021-04-07 14:24] lminiero commented on #2624
No need to close, actually, I was just discussing with @atoppi that there may be a better way of cleaning up sessions at shutdown, which apparently we're not doing exactly as I remembered we did. It is lower priority (since leaks at shutdown are less of an issue), but worth keeping this issue open as a reminder. I'll let you know when there's a PR to test, thanks for bringing this to our attention

[2021-04-07 14:47] atoppi commented on #2624
Besides that enhancement on the shutdown operations, it's still unclear the root of the potential leak shown in the graph.
It's leaking more than 1 GB in ~7 days, that is not something to underestimate.
@mirkobrankovic
1) Could you please share another leak sanitizer report after observing a memory leak similar to the one into the graph?
2) Is that machine only hosting janus ? Could the leak be du

[2021-04-07 14:50] lminiero commented on #2624
If Janus was compiled with libasan support, the memory increasing may be because of that (libasan will keep info on all allocations in memory to know about leaks, and so will never stop growing).

[2021-04-07 15:06] mirkobrankovic commented on #2624
![image](https://user-images.githubusercontent.com/3499206/113889420-81fa1800-97c3-11eb-8602-991eba6e1bd7.png)
It is defenatlly only Janus using that much, now that you said it, maybe with simple use case I did, I didn't trigger the loss

[2021-04-08 00:34] winlinvip opened #2626 "Crash when publish about 1100 streams in multiple rooms"
Janus [v0.10.10](https://github.com/meetecho/janus-gateway/releases/tag/v0.10.10) on CentOS7.

I create some rooms for benchmark by config `janus.plugin.videoroom.jcfg`  https://pastebin.com/qPkB5cxg

Run janus by:

[code]

Then I publish about 2k streams to room by [benchmark](https://github.com/ossrs/srs-bench/tree/feature/rtc#janus):

[code]

Use the command to show the threads of janus:

[code

[2021-04-08 00:58] tmatth commented on #2626
From the line numbers it looks like this isn't the latest Janus, can you try with the latest HEAD?

Otherwise I'm guessing it's crashing here:
https://github.com/meetecho/janus-gateway/blob/e674f1a808dbd75b762f79de1e1f11080d12e2fd/transports/janus_http.c#L1107

which could probably benefit from error handling should `json_dumps` return NULL, which could happen on error (see https://jansson.readthe

[2021-04-08 00:59] winlinvip commented on #2626
@tmatth Thanks, I will try latest release [v0.11.1](https://github.com/meetecho/janus-gateway/releases/tag/v0.11.1), is this version OK?

[2021-04-08 01:02] tmatth commented on #2626
Yeah as it's 2 days old and I don't think any of the related components have changed since that's reasonable. Also if you need to paste large amounts of text/backtraces, please follow this guideline:

[2021-04-08 01:27] winlinvip commented on #2626
@tmatth I change the config and backtrace to pastebin. And I tried the [janus 0.11.1](https://github.com/meetecho/janus-gateway/releases/tag/v0.11.1), it still exsits https://pastebin.com/UhXZfJDS

The threads number arise up to 1400, then session timeout and threads decrease to about 1100 https://pastebin.com/VauWc0Tv

[2021-04-08 06:01] atoppi commented on #2626
@winlinvip have you tried increasing the mhd connection limit?
https://github.com/meetecho/janus-gateway/blob/master/conf/janus.transport.http.jcfg.sample

[2021-04-08 06:55] lminiero commented on #2626
I don't think the test as made makes sense. 1000 publishers all in the same room means a hurricane of notifications to other participants, growing in an exponential way. That's very likely why it's crashing in HTTP, which is signalling, and is probably caused by the excessive amount of data that is being pushed to many participants at the same time.

Not sure what scenario you were trying to repli

[2021-04-08 10:00] atoppi commented on #2624
@mirkobrankovic so did you manage to identify a critical use case that triggers the issue ?

[2021-04-08 10:02] mirkobrankovic commented on #2624
no I tried different scenarios but without reclaim session and no leak so far, i'll give it a bit more try with that setting again

[2021-04-08 10:16] atoppi commented on #2626
@winlinvip as @tmatth suggested check in the core file if `response_text` is `NULL`.

That response is not coming from another endpoint. It is a message containing the updated participant list being sent to the other publishers in the same room.

[2021-04-08 10:16] mirkobrankovic commented on #2624
@atoppi tonight I will remove  session reclaim setting and see if it will make a difference in production

[2021-04-08 12:01] tmatth commented on #2626
Oh good call, I should've read closer.

[2021-04-09 00:05] winlinvip commented on #2626
@atoppi Thanks, I will increase the `mhd_connection_limit` and do the benchmark again.

@lminiero It's a benchmark, to get the maximum streams that Janus supports, might not be the "right" scenario, but I think it's ok because it's  a benchmark test.

[2021-04-09 00:33] winlinvip commented on #2626
I modified the [`md_connection_limit`](https://github.com/meetecho/janus-gateway/blob/master/conf/janus.transport.http.jcfg.sample) https://pastebin.com/djc3JM4m and here is the benchmark result:

1. No crash, threads increase to about 1400, it's better :)
2. Threads increase to about 1400, then decrease to about 1300 https://pastebin.com/tqLvy5nX
3. New warnings `ICE failed for component 1 in str

[2021-04-09 01:08] winlinvip commented on #2626
I tried again:

1. Crashed about 200 threads/publishers https://pastebin.com/eSx9crvL
2. Crashed about 1190 threads/publishers https://pastebin.com/qzUt3CEu
3. Crashed about 1200 threads/publishers https://pastebin.com/FVHeRDG6

[2021-04-09 02:00] ssalenik opened #2628 "Enabling websocket event handler but disabling websockets leads to broken wsevh"
This is pretty minor, but if you configure with `--disable-websockets` transport but with `--enable-websockets-event-handler` the libjanus_wsevh lib doesn't get linked to libwebsockets, I think because the `WS_MANUAL_LIBS="-lwebsockets"` only gets sets when `--enable-websocekts`:

https://github.com/meetecho/janus-gateway/blob/b40d98a9f20c7fb4b71a090cfc7f54fa20eac0fc/configure.ac#L567-L591

Not su

[2021-04-09 02:54] tmatth commented on #2626
@winlinvip can you try with this patch? https://github.com/meetecho/janus-gateway/pull/2629

It's basically the bare minimum safety check so I'm wondering if something else will blow up down the line.

[2021-04-09 04:26] winlinvip commented on #2626
@tmatth Thanks, I will try it.

[2021-04-09 07:10] lminiero commented on #2628
That's a good catch, thanks. I'm wondering if we have the same issue with other protocols libraries that have both a transport plugin and an event handler.

[2021-04-09 07:50] atoppi commented on #2626
Thanks for the effort @tmatth !

Anyway I'm still interested in understanding what's going on here.

@winlinvip have you checked in the core dump the variable that is making janus segfault? Is it NULL or a wild pointer?
Could you please test again with libasan enabled?

[2021-04-09 11:16] mirkobrankovic commented on #2624
file:///home/mirkob/Downloads/memory.png
I guess I didn't hit the problem with my tests, I see even after turning off reclaim session memory is going down (enabled zabbix at 9:20AM)

[2021-04-09 12:06] atoppi commented on #2624
@mirkobrankovic
Did the sanitizer report something ?
What happened between 9:20 and 11:00 ?
I find suspicious that the slope started exactly when the zabbix agent has been launched. Have you integrated zabbix with some Janus API ?

[2021-04-09 12:16] mirkobrankovic commented on #2624
Yes, zabbix agent is running all the time, there is one check that it is pooling from Janus admin api (number of handles of all sessions), js script run by nodejs, ws connection to admin API.
But the drop started at 9:20 because that was the time I enables zabbix checks on the host it self, because the maintenance ppl forgot to enable it completely, so there was no data coming in.
Never the less,

[2021-04-09 12:49] lminiero commented on #2624
Are event handlers enabled too, by the way?

[2021-04-09 14:05] mirkobrankovic commented on #2624
@lminiero yes indeed,
janus.eventhandler.gelfevh
and
janus.eventhandler.sampleevh.jcfg to localhost:8080 with currently no listener

[2021-04-09 14:19] lminiero commented on #2624
Then you may want to check if those are what cause (or contribute to) the issue.

Does this mean it's trying to send events to a server that isn't up? This will cause events to be stored for a while, and retries to be done with exponential backoff after each failed attempt: so something that could cause memory to grow.

[2021-04-09 14:25] mirkobrankovic commented on #2624
ok thanks for suggestion, I will see to disable it tonight.

[2021-04-09 14:42] mirkobrankovic commented on #2624
with a simple test where I would accept post request and not respond so Janus would log:
`[janus] [Fri Apr  9 16:39:10 2021] [ERR] [events/janus_sampleevh.c:janus_sampleevh_handler:755] Couldn't relay event to the backend: Timeout was reached`

It did show quite a big leak:
[code]
I also noticed it on gelf eventhandler too, but for me this one is sending messages, unlike the sampleEvh

@lminiero t

[2021-04-09 14:59] atoppi commented on #2624
@mirkobrankovic launch janus with

`ASAN_OPTIONS=fast_unwind_on_malloc=0 /path/to/janus`

to get complete call stacks.

[2021-04-09 15:30] atoppi commented on #2624
in gelfevh the freeing of `rnd` is being skipped in case of errors:
https://github.com/meetecho/janus-gateway/blob/7e97ad9db6bac486b0d0a5bbff5cc9eba79c5675/events/janus_gelfevh.c#L249-L267

[2021-04-09 22:44] ssalenik opened #2630 "Doesn't build with libwebsockets > 4.0"
[code]

libwebsockets changed ping-pong behaviour to be automatic in 4.0:
https://github.com/warmcat/libwebsockets/blob/main/changelog#L125-L127

And then removed the `ws_ping_pong_interval` in this commit:
https://github.com/warmcat/libwebsockets/commit/280c81278dcb88c074aa19cbf8de809e366a9ece

Also, v 2.4.1 doesn't work well on macos, so maybe should add a comment to the readme about suggested v

[2021-04-09 23:04] ssalenik commented on #2630
Oups, sorry, saw that this is already accounted for in the latest version. I was on an older one.

[2021-04-09 23:04] #2630 closed

[2021-04-12 07:15] mirkobrankovic commented on #2624
@atoppi thanks for tips.
Indeed that needs fixing, but also json_dumps. Here is a new full report but also some direct leaks in Videoroom:
https://pastebin.com/nHB09cEp

[2021-04-12 07:53] zhiweny1122 opened #2632 "How to diable B frame when I use chrome to connect janus"
Hi Janus:
I set the codec = h264 and h264_profile = "42e01f" in janus jcfg.
I use the chrome and a usb logitech camera  to visit the janus server , and the video display well.
when I use the aiortc to pull the stream upload by chrome, I found the h264 stream have B frames.
Is there a way to avoid the B frame in Janus ?
"

[2021-04-12 08:03] lminiero commented on #2632
Questions for the group or discuss-webrtc, not here. Closing.

[2021-04-12 08:03] #2632 closed

[2021-04-12 09:07] mirkobrankovic commented on #2624
I read a bit more about them and I see the problem :D, thanks for your patience :D

[2021-04-12 09:48] atoppi commented on #2624
@mirkobrankovic I'm glad we managed to find the root of the leaks.
I'm labeling the issue as bug. Do you think you could submit a PR?

[2021-04-12 09:52] atoppi commented on #2619
@NotherGithubAccount any update about this issue ? Have you managed to get a `strace` capture for eventfds?

[2021-04-12 09:55] azimot opened #2633 "CPU high overload usage with just two publisher/subscriber in videoroom"
I got twice CPU high overload usage by Janus that shown in below :

line of 48 : https://pastebin.ubuntu.com/p/jdCFsMrFJN/
line of 33 : https://pastebin.ubuntu.com/p/pmRwP7J5Yk/

Janus log : https://pastebin.ubuntu.com/p/XPxPDbNp8R/

Seems when didn't received audio/video for more than 1 sec, CPU will be used high

Janus : 0.11.1
Tested Plugin  : videoroom
OS : ubuntu 20.04 server
CPU : AMD (Sempr

[2021-04-12 10:19] mirkobrankovic commented on #2624
@atoppi yes will do, fixed 3/4 of them, but i'm not sure about:
      #2 0x7fddd5d2e40b in janus_videoroom_handler plugins/janus_videoroom.c:6428

[2021-04-12 10:21] atoppi commented on #2624
what version of janus is that ?

[2021-04-12 10:26] atoppi commented on #2633
Hi @azimot , some things to check first:
1) please show the thread names, that will help identifying the source of the cpu usage
2) check that libnice version is 0.1.18 since we had similar problems with old versions (I suspect you are using binary packages)
3) Besides the abnormal cpu usage from that thread, is Janus behaving correctly? Are you still able to establish connections and send/receive

[2021-04-12 10:32] mirkobrankovic commented on #2624
latest master

[2021-04-12 10:40] lminiero commented on #2626
Apparently you're just using this issue to [make us look bad](https://github.com/arut/nginx-rtmp-module/issues/605#issuecomment-817031363) in comparison with your work. Apart from the fact that this is shitty behaviour in the open source ecosystem, it's also completely unacceptable, considering you're basically stress testing using an approach that makes no sense (as I've explained in previous pos

[2021-04-12 10:40] #2626 closed

[2021-04-12 10:45] atoppi commented on #2624
that line does not seem to match any malloc
https://github.com/meetecho/janus-gateway/blob/216d70c63f1fea629daf7b3c491f06e0d9448ffd/plugins/janus_videoroom.c#L6428

[2021-04-12 11:10] mirkobrankovic commented on #2624
yeah, I get the same line, which confused me :/
I'll see if I can repeat that one. Regarding the original problem, I fixed direct leaks in Gelf, but I still have indirect leaks in events.c, specifically:
https://github.com/meetecho/janus-gateway/blob/master/events.c#L305
Then I tried to disable all other event handlers (sample and ws) to have only one and avoid `json_deep_copy` , but it leads me t

[2021-04-12 11:34] atoppi commented on #2624
@mirkobrankovic are you compiling with `-Og` ?

[2021-04-12 11:45] atoppi commented on #2624
[code]
This one seems to be triggered by the notification of a started instance to the event handlers.

[2021-04-12 11:51] mirkobrankovic commented on #2624
I used the docs example:
`CFLAGS="-O1 -g3 -ggdb3 -fno-omit-frame-pointer -fsanitize=address -fno-sanitize-recover=all -fsanitize-address-use-after-scope" LDFLAGS="-fsanitize=address" ./configure --prefix ...`

[2021-04-12 12:07] atoppi commented on #2624
Can you try again (`make clean`, `configure` `make`), replacing `O1` with `Og` ?

[2021-04-12 12:21] mirkobrankovic commented on #2624
I did and I get these 2 outputs based on how many event handlers I have compiled and enabled (I was testing this):
`guint count = g_hash_table_size(eventhandlers);`
If I have 3 event handlers, but only gelf has config file and is emitting events, i get this:
https://pastebin.com/z0EzLc9q
json_deep_copy in event.c
if I compile only gelf and disable rest:
https://pastebin.com/DNG1R1be
indirect leaks

[2021-04-12 12:30] mirkobrankovic commented on #2624
@atoppi let me see, it might be that I didn't json_decref(event). :/

[2021-04-12 12:35] mirkobrankovic commented on #2624
@lminiero and @atoppi thanks a lot for patience and help :D

[2021-04-12 12:35] atoppi commented on #2624
Thanks, we'll review it asap.

[2021-04-12 13:51] azimot commented on #2633
Hi @atoppi

I'd like to explain how our tester colleague make that situation :
He used an old laptop with 2 CPU cores (Intel T4200 / 2.0GHz), cause of He wants to test Janus in critical ( hanged client ) situation
and by two publisher/subscriber in videoroom, client CPU goes to about ~98% - 100% usage
( config of 1234 room - VP8 ... )
and time by time makes more delay on received media we could to

[2021-04-12 15:34] atoppi commented on #2633
Since it is a MHD thread, I guess there is a lot of signaling / messaging between Janus and a low performing participant.
1) Could you try reproducing after setting `slowlink_threshold` to `0` in `janus.jcfg` ?
2) If you are using a reverse proxy to terminate HTTPS on a proxy, could you get a packet capture on the Janus HTTP port ?

[2021-04-13 05:23] winlinvip commented on #2626
I'm sorry, it's my fault.

The test scenario is not very common in traditional meeting scenario, but in modern meeting scenario, it's a possible path, for example, [ZOOM](https://zoom.us/) supports 1000+ participants.

I did do some compares and got some data between some open-source SFU or media server, but I did not just want show how bad is Janus, sorry for the link automatically created from N

[2021-04-13 05:59] RSATom commented on #2626
@winlinvip are you sure it's correct compare Zoom with proprietary protocol inside with something WebRTC based? Does Zoom do encryption for every connection?

[2021-04-13 06:04] winlinvip commented on #2626
@RSATom ZOOM does not use WebRTC, but I think it's possible to support 1000+ participates in a room, with encryption. For SFU server, it's ability to support forward as much as possible streams.

[2021-04-13 06:16] RSATom commented on #2626
Maybe it's even possible support 10000+ participants, but the question is how much CPU power it will require to encrypt every connection. And it's not correct compare app encrypting every connection with app which doesn't (or using less strong encryption). That's why I'm asking if Zoom supports encryption. Also, the question is who exactly do encryption, sender or server or both...

[2021-04-13 06:37] winlinvip commented on #2626
Yep, you're right.

1. Why publish 1000 streams to a room?

1. With encryption or which algorithm?

1. Why compare to other SFUs?

OK, If it's not the goal of Janus, I think it's OK to close this issue, and sorry for my fault.

[2021-04-13 06:40] RSATom commented on #2626
@winlinvip If Janus crashes in some usage scenario - it's definitely a bug, and it should be fixed. So this issue still has a meaning...

[2021-04-13 09:13] st-vinguyen commented on #2621
@lminiero
I already have the solution to deal with it. Thanks for your reply.

[2021-04-13 11:18] NotherGithubAccount commented on #2619
Sorry, no, pesky day job getting in the way. ;-)

Though I can say that number of threads reflects usage and do not increase with event FDs.

[2021-04-13 13:31] #2624 closed

[2021-04-13 14:59] lminiero commented on #2624
I think this might be "normal", because even though that event may be freed, when you shutdown the server there are still events in the queue that are never sent (the backend is still not reachable) and so may be leaked. One way to check if an event lost for timeout is actually leaked, is to make sure the events server becomes reachable again before closing Janus, so that events not timed out yet

[2021-04-14 13:09] karan10kk opened #2635 "Doesn't able to get rtp from videoroom..??"
trying to get RTP/SDP from video room using rtp-forward request, but doesn't able to get any response..??
Does anyone here could tell us step by step to get RTP/SDP with all configuration required..?

[2021-04-14 13:28] mirkobrankovic commented on #2624
Ok thanks for explanation.
Regarding the original mention for small leak on shutting down when reclaim session was enabled? Do you want to keep this issue open for it? It went in different directions a bit ;)

[2021-04-14 13:34] lminiero commented on #2624
No need. I actually did make some tests with a different approach, but due to the asynchronous nature of some cleanup mechanisms, leaks would happen anyway. I modified the code to tie removing a session from the hashtable to triggering the unref code, which was supposed to lead to a more rigorous cleanup on shutdown as well (since we destroy the table there, it automatically removes all items it c

[2021-04-14 16:52] lminiero commented on #2635
Question for the [group](https://groups.google.com/g/meetecho-janus), closing as not a code issue.

[2021-04-14 16:52] #2635 closed

[2021-04-14 20:46] mirkobrankovic commented on #2624
Fair points

[2021-04-15 09:42] #2628 closed

[2021-04-15 09:43] lminiero commented on #2628
Looks like WS was the only one affected, so I added the missing line you spotted. Thanks for the heads up!

[2021-04-15 09:56] lminiero commented on #2612
Closing for lack of feedback.

[2021-04-15 09:56] #2612 closed

[2021-04-15 16:23] lminiero commented on #2076
There's a patch for this in #2604, even though it needs to be updated. Please refer to updates there.

[2021-04-15 20:28] dbrichards opened #2636 "The Janus SIP Plugin not parsing custom headers in REGISTER 200 OK."
The Janus SIP Plugin does not parse custom headers in the REGISTER 200 OK message. I have specified the custom (non-standard) headers that should be read on incoming SIP events using the "incoming_header_prefixes" field in the register request.  It appears the code does this for many other message types, but not for the REGISTER 200 OK.

I'm not sure if this is by design or not. Would it be possib

[2021-04-16 09:38] lminiero commented on #2636
It looks like `janus_sip_get_incoming_headers` is used in case a register fails, but not when it succeeds. Probably an oversight in the original PR. I'll add it shortly.

[2021-04-16 09:40] #2636 closed

[2021-04-16 10:29] lminiero commented on #2578
Any update? Or can this be closed?

[2021-04-16 14:18] lminiero commented on #2582
@cppdev-1 sorry if this took a while, but I managed to find some time to use your code to replicate the issue and work on a fix. You can find it referenced above, please let me know if it fixes it for you.

[2021-04-16 16:13] dbrichards commented on #2636
Thanks!

[2021-04-16 16:13] dbrichards commented on #2622
Thanks!

[2021-04-16 22:56] enhany commented on #2578
still nothing... may be this bug has been fixed in meanwhile.

[2021-04-16 22:56] #2578 closed

[2021-04-17 18:04] cppdev-1 opened #2638 "Frame marking RTP header extension cannot be parsed"
A value is assigned to `participant->framemarking_ext_id`
[code]
However, a value of `context->framemarking_ext_id` is used.
[code]
The value of `participant->framemarking_ext_id` is never assigned to `context->framemarking_ext_id` so that `janus_rtp_header_extension_parse_framemarking` cannot parse frame marking extension.

[2021-04-17 19:27] lminiero commented on #2638
The frame marking extension is deprecated and going to be removed from all browsers (who don't use it either anymore, to my knowledge). As such, we're going to remove it from Janus as well, so I wouldn't worry about whether it's set or not.

[2021-04-18 10:28] errawn commented on #2035
really? which part in the readme where i can find the nginx? i cant see it :)))

https://janus.conf.meetecho.com/docs/README.html

[2021-04-19 00:56] winlinvip commented on #2626
I test it, NO crash now, thanks~

https://github.com/meetecho/janus-gateway/pull/2629#issuecomment-822100268

[2021-04-19 07:46] UGeneF opened #2639 "Incorrect flexfec formation in SDP since WebRTC M89"
Hello!
We have encountered an issue with the videocall plugin and WebRTC 89: Janus produces an SDP with the incorrect formation of the flexfex section - it hasn`t an ssrc group as stated at [RFC](https://tools.ietf.org/html/draft-ietf-payload-flexible-fec-scheme-20#section-7.1), so the SDP cannot be parsed.
The bug reproduces only in the case of a one-way video call with the WebRTC version M89 or

[2021-04-19 08:48] lminiero commented on #2639
We don't support flexfec. I haven't seen what the SDPs look like, but I'll drop it from the SDP entirely, maybe later today.

[2021-04-19 09:00] lminiero commented on #2639
Just checked the SDP. FEC has nothing to do with it: the ssrc-group that's missing is the one for rtx, not FEC (and in fact Chrome doesn't set an ssrc-group for that either). The ssrc-group for rtx is missing because the rirection of media in the answer is `recvonly`, but in that case we're incorrectly adding the additional SSRC for rtx (which will be unused), so that will need to be fixed. That s

[2021-04-19 09:01] fippo commented on #2639
but flexfec was added in M89 while the other behaviour has been around for ages? Either way, two bugs with one report :+1:

[2021-04-19 09:03] lminiero commented on #2639
Yes, I guess no one tried sendonly with VideoCall/SIP/NoSIP before :wink:

[2021-04-19 09:12] lminiero commented on #2639
I didn't get a `setRemoteDescription` failure in `91.0.4469.4` when doing a sendonly VideoCall to a recvonly user (it worked), but I fixed the SDP behaviour anyway. Flexfec is also rejected now, even though I don't see it in any offer (maybe it's still hidden behind a flag?). Closing.

[2021-04-19 09:12] #2639 closed

[2021-04-19 09:14] fippo commented on #2639
flexfec is activated recv-only -- the send part isn't... quite good yet.

[2021-04-19 09:21] lminiero commented on #2639
I didn't see any flexfec line in my SDPs, though, when trying to replicate with VideoCall. Maybe Linux is left behind as usual :hand_over_mouth:

[2021-04-19 09:35] cppdev-1 commented on #2638
@lminiero Does that mean temporal layers in H.264 are deprecated? Is frame marking rtp extension not used in H.264 temporal layers anymore? What is the replacement?

[2021-04-19 09:37] UGeneF commented on #2639
Thanks a lot for the instant reaction!

[2021-04-19 09:38] lminiero commented on #2638
Yes, to my knowledge it's not used anymore, so there's no way to use temporal layers in H.264 simulcast at the moment. The future replacement is being discussed in AVTCORE, but will probably be the generic extension they're working on for AV1 as well.

[2021-04-19 10:11] cppdev-1 commented on #2638
@lminiero Thank you! I think this issue can be closed.

[2021-04-19 10:22] lminiero commented on #2638
No need to close, we can keep it open until I merge #2640, which is the PR to remove framemarking. This way people encountering the same problem will know what to refer to.

[2021-04-19 10:43] Romk-a commented on #2638
@lminiero Could you tell me please how to adjust the temporal layer parameter in h264 (simulcast) if we don't use framemarking?

[2021-04-19 10:46] lminiero commented on #2638
You don't, it will just be substreams. Temporal layers are not strictly speaking part of simulcast anyway, since they're SVC stuff.

[2021-04-19 15:16] atoppi commented on #2458
I'm unable to reproduce with the following environment

**Ubuntu 20.04**

**libgnutls28-dev** + **libgnutls30**

**libmicrohttpd v0.9.72** from sources, configured with
`./configure --prefix=/usr --enable-messages --enable-https`

Janus successfully replies to both HTTPS admin and REST API.

[2021-04-19 15:27] lminiero commented on #2458
On Fedora 33, which ships 0.9.72 in repos, I can't replicate either, so if this was a problem in libmicrohttpd before, apparently they fixed it.

[2021-04-19 15:28] #2458 closed

[2021-04-21 04:11] azimot opened #2642 "clearInterval in videoroomtest.js not working because bitrateTimer has different ID"
Janus Ver : 0.11.1
Plugin : videoroom
Issue : in videoroomtest with just 2 publisher/subscriber, one of them refreshed their page then issue occurred

setInterval function always returns an ID to use it for clear in future but if you check by a simple log print, this part of code running by 4 !!

In line of 635 :

[code]

That means we have 4 setInterval function that wants to update bitrate and v

[2021-04-21 08:39] chris-shenzhen-china opened #2643 "centos7.9 compile janus-gateway, error: ice.c:2131:2: error: implicit declaration of function ‘nice_address_ip_version’ [-Werror=implicit-function-declaration"
compile error info:

ice.c: In function ‘janus_ice_cb_new_local_candidate’:
ice.c:2131:2: error: implicit declaration of function ‘nice_address_ip_version’ [-Werror=implicit-function-declaration]
  gboolean ipv6 = (nice_address_ip_version(&candidate->addr) == 6);

---pls help, how can i fix it?

[2021-04-21 08:41] lminiero commented on #2643
You need to update libnice.

[2021-04-21 08:41] #2643 closed

[2021-04-21 08:49] chris-shenzhen-china commented on #2643
updated libnice, done, thanks anyway.

[2021-04-21 11:40] cppdev-1 commented on #2582
@lminiero I've tested your patch, it works fine for me. I think the issue has been fixed.

[2021-04-21 12:50] lminiero commented on #2582
Cool, thanks for the feedback!

[2021-04-21 12:55] lminiero commented on #2642
Yes, it's normal you see the log being printed more than once: the subscriber code is invoked for each subscription you create, and you will often even multiple subscription instances. The setInterval ID is owned by the `remoteFeed` instance, which will be different for each instance, and will each work on a different UI element typically.

Unless you can explain better what issue you think is hap

[2021-04-22 14:02] shalseth opened #2646 "Missing audio from receiver using SIP plugin and early media."
First of all, thanks for the great work on Janus!

We have noticed and made a (probably horrible) fix for an issue we experienced after upgrading our old Janus based on 0.2.6 to current master, commit ebd34414a2e3f4a31c7c8c80481c02325e9a9953.

When placing a call between two Janus clients connected with the SIP plugin to an Asterisk server, we noticed that if Asterisk played early media ring tones

[2021-04-22 14:15] lminiero commented on #2646
Very bad idea. The core needs to fix RTP headers, because what plugins may generate is incorrect, or related to different SSRCs. As such, not sure what issue you're experiencing (and if it still happens with master, since you mention 0.2.6), but that's definitely not the right solution.

[2021-04-22 14:23] shalseth commented on #2646
I understand, we did this "fix" to reverse the commit that introduced the problem in the first place and verified that it solved the problem we were experiencing.
I was positive it was not the right approach, though not sure what would be.

[2021-04-22 14:25] shalseth commented on #2646
And the issue is experienced with master, yes. This issue is not present with 0.2.6, before the commit 77bcaa7f0de6cf681ea6fbdb4e55e4b02dfddd0b

[2021-04-22 14:31] lminiero commented on #2646
If you can provide a way to help us replicate this (e.g., via a SIPp script + pcap file) that would help, as we don't have SIP servers to test against, and setting up some would take time we unfortunately don't currently have.

[2021-04-22 14:51] shalseth commented on #2646
I'm not sure how easy it is to replicate using other tools, but we _could_ provide you with two SIP accounts for testing on one of our Asterisk servers.

You would have to set up two Janus.js clients for a Janus instance, and each client would connect to a SIP account we provide.

To replicate, start a call between them.
The caller will first hear the ringing sound (early media) and when switching

[2021-04-22 15:57] lminiero commented on #2646
No thanks, I'd rather replicate issues locally, also considering that it is indeed quite low priority IMHO. If you can't replicate via SIPp, then please provide a pcap with the SIP/RTP traffic of an affected call, and we'll have a look.

[2021-04-22 18:01] shalseth commented on #2646
I have sent a pcap by email, thanks!

[2021-04-24 15:18] azimot commented on #2642
Yes you are right, I checked it again with more accuracy and see this is not a problem.

Sorry for opening new Issue.
I close it as it was not an Issue

[2021-04-24 15:18] #2642 closed

[2021-04-24 17:56] azimot commented on #2633
Interesting to see when slowlink_threshold field is set to 0 in server side CPU has better situation but critical points are exist yet.

This test result is after slowlink_threshold = 0

Janus Log  :    https://0bin.net/paste/v3ZilsoN#fX9KDqrRfajOy8vO7Qhxx2W1Xfr0QAHIdaTD96XVhZN

Top Log     :   ( top -H -p `pidof janus` -b > /home/janus/top.txt )
time of 16:38:07
 https://0bin.net/paste/B7rhYcQR#c

[2021-04-26 10:07] atoppi commented on #2633
That is a 9.7% peak that lasted for 3 seconds. There are also other small spikes, but they always last 3 seconds and are probably due to high signalling in that time window.
Try with a different version of MHD, I don't see a clear Janus problem here.

I've tried to download the file and rename it to .pcap but Wireshark seems unable to decode it.

[2021-04-26 10:13] lminiero commented on #2633
Or even better, try not using HTTP at all. WebSockets is definitely more efficient, especially with so many users.

[2021-04-26 10:28] lminiero commented on #2633
And of course I should have re-read the title of the issue: two users are definitely not that many... :rofl:

[2021-04-26 10:49] lminiero commented on #2646
I don't see SSRC changes, so one ore more RTP contexts shouldn't matter. I do see something broken in the RTP stream, though, as after a couple of seconds (the tone sound, I guess) the SSRC remains the same and the sequence number increases as expected, while the timestamp goes back to 0 with the marker bit set. That's not proper RTP, and in fact even Wireshark says it's an "incorrect timestamp" w

[2021-04-26 10:51] #2582 closed

[2021-04-26 13:53] lminiero commented on #2646
Just re-read your initial report, and I don't think it makes sense. The line you commented out applies to _incoming_ traffic, that is the one the browser sends _to Janus_: it has nothing to do with the media the SIP plugin receives from Asterisk and sends back to the browser. The fact you see the SSRC changing twice is normal: that's because it's tracking two different directions. No idea why it s

[2021-04-26 14:18] lminiero commented on #2646
I managed to replicate the issue, and early media has nothing to do with it: with that pcap, it happens even if SIPp just answers a regular call and starts sending those packets. There's just a single RTP header context working, the one in the plugin, and in fact the work I see being done in the plugin, e.g.:

	[WARN] [SIP] 12704 / 23680 --> 148 / 23520
	[WARN] [SIP] 12705 / 23840 --> 149 / 23680

[2021-04-26 14:18] #2646 closed

[2021-04-26 14:41] shalseth commented on #2646
It makes sense because Janus is active in both ends.
The fix works when the _recipient's_ Janus is patched. The stream you see in the pcap comes from the recipient's Janus(browser to Janus), from Janus to Asterisk, and finally from Asterisk to the callers Janus instance where we have the pcap.
The problem is at the receiver's end, not the caller's, so that's where we apply the patch which solves t

[2021-04-26 14:46] shalseth commented on #2646
Thanks for the thorough analysis. Your explanation makes sense, and possibly there's a bug in Asterisk, however we do not experience it with Janus 0.2.6 or with the change in ice.c explained in the initial report.

We will soon update Asterisk to a new version, and maybe that will also fix the issue, and we can remove the patch.

[2021-04-26 14:47] lminiero commented on #2646
No, because the code you commented out is RTP coming in on the WebRTC side, not on the Asterisk side: it's what we do for media coming from a browser. The pcap you show is Asterisk sending media to Janus, and that RTP traffic is broken: even commenting out the header update in the SIP plugin (which means we don't touch the header at all), the browser does the same, which means it's the traffc Aste

[2021-04-26 14:50] shalseth commented on #2646
You're almost correct, but remember that you're watching the dump from the caller's Janus instance. You're not seeing the dump for the receiver Janus instance, where we apply the patch to ice.c (another machine). On the receiver the change matters because it's the RTP stream that you in turn see in the pcap (after going through asterisk)

[2021-04-26 14:54] shalseth commented on #2646
The fact that you identify a problem with the RTP stream coming from Asterisk is interesting, because Janus is the source of that stream, and our fix somehow resolves that RTP stream issue. I'm not sure what Asterisk does to the stream or not, but at least the change to only the receiver Janus fixes the audio delay.

[2021-04-26 15:09] shalseth commented on #2646
I have now sent you the pcap from the call receiver's Janus node, if you want to take a look at the RTP stream thas Janus send to Asterisk, and compare that with what you see in the first dump. Then you should be able to tell if Asterisk or  Janus is doing something wrong with the RTP stream.

[2021-04-27 09:53] shalseth commented on #2646
The issue is closed, so not sure if you're watching, but I would like to conclude that unless you find something wrong with the RTP stream from Janus to Asterisk in the latest pcap, the problem is with Asterisk and the combination of the RTP stream from Janus and Asterisk' early media generation.

I will proceed with testing latest version of Asterisk, and if the issue is present there as well, re

[2021-04-27 13:05] lminiero commented on #2646
There's nothing wrong in the stream Janus is sending: it just starts from seq=1 and ts=0, rather than random values. Wireshark is perfectly happy with it as well, and can decode/play it.

[2021-04-27 14:20] shalseth commented on #2646
Ok, great, then Asterisk is doing something wrong with the stream. Thanks a lot for your help!

[2021-04-28 02:13] mgarabedian opened #2647 "multistream/videoroom: data_mindex not set to the correct value"
While attempting a videoroom recording ( multistream branch ), I came across a bug on the data mjr recording.  Data was being saved in the audio mjr file, instead of the data mjr file (which was blank).

Digging in further, it appears participant->data_mindex is never updated in the plugin. I was able to solve this issue with the following code:

in janus_videroom.c

[code]

[2021-04-28 03:19] fanlion commented on #2272
i have same problem, sharing screen and camera in same room and same time.

[2021-04-28 07:30] mirkobrankovic commented on #2624
Just to confim it is fixed, I just replaces .so and  .la of Gelfevh till new tag rolls out, then a proper build will follow :)
![image](https://user-images.githubusercontent.com/3499206/116364211-3f48c000-a804-11eb-8622-0aee9b25dc92.png)

[2021-04-28 10:39] lminiero commented on #2647
Good catch! Looking at the code, I suspect this wasn't just preventing data recording, but data channel braodcasting to other subscribers as well, especially in cases where data subscribers and audio subscribers didn't match. I'll fix this as suggested :+1:

[2021-04-28 10:51] #2647 closed

[2021-04-28 13:20] mitre-mgarber opened #2648 "Update Jquery & remove usage of depricated .live() method"
We ran into this trying to leverage some of the existing Janus javascript client libraries from the demo implementations (specifically the T140 flavor of the SIP plugin) as a proof of concept in our SIP client application - the .live() method referenced in siptest.js has been deprecated (along with the bind and delegate methods) in favor of .on(), and we weren't able to use the older version of JQ

[2021-04-28 13:26] lminiero commented on #2648
I don't even remember why I used `live()` there, since the PR is almost 2 years old; we definitely don't use it anywhere else. If `on()` is the one to use, I'll fix that. For the rest, we already ask for jQuery 1.9.1 in all demo pages: if the T.140 branch still asks for an older one, it's because we haven't aligned in a while I guess.

[2021-04-28 13:30] #2648 closed

[2021-04-28 13:55] mgarabedian commented on #2647
Great, thanks. It looks like the code should also be added to janus_videoroom_multistream.c

[2021-04-28 13:57] lminiero commented on #2647
There's no such thing: there's just a single VideoRoom plugin.

[2021-04-28 14:00] mgarabedian commented on #2647
Apologies. That was something I was trying on my end. Thanks.

[2021-04-28 14:09] mgarabedian opened #2649 "janus.js: createOffer update, including an external stream, fails"
While testing an update to createOffer in janus.js, I came across a bug.  The following code, called a second time (update), will attempt to add the stream again in 'streamsDone' function.

[code]

I believe ths issue is here, in streamsDone. config.streamExternal is always true and always setting addTracks = true.

[code]

[2021-04-28 14:10] lminiero commented on #2649
Please check #2604, it's changing things there.

[2021-04-28 16:12] itamayo opened #2650 "Simulcast only response to High and Low Profile (Chrome)"
Hi there !

I have been doing simulcast tests with a 640x480 camera. And well in the echoTest test of your page as in local, it only lets me change the substream H and L. I wonder if it is some bug, or has its logic. I am using chrome v89 (GNU / Linux). As far I understand it should be using M substream for 320x240 (downScale:2). Close the issue if it isn't relevant, thanks !

[2021-04-28 16:17] lminiero commented on #2650
Questions belong to the group, closing.

[2021-04-28 16:17] #2650 closed

[2021-04-30 08:06] #2649 closed

[2021-04-30 09:56] shalseth commented on #2646
A quick update here. We tried this in Asterisk 16 and found that proper RTP is generated by changing the SSRC when switching from early media to the RTP stream from Janus.
So Asterisk 16 works with current Janus master without any changes.

Problem we experienced and reported was detected in Asterisk 1.8.28.

[2021-04-30 09:59] lminiero commented on #2646
Yes, that's because an SSRC change triggers the RTP rewriting mechanism in Janus, which ensures a consistent flow as far as the recipient is concerned. In fact the issue was that your version of Asterisk was restarting timestamps but keeping the SSRC the same. Good to know it was fixed by the update then!

[2021-05-03 13:04] #2638 closed

[2021-05-04 09:15] SkazochnikZlodey opened #2654 "executing make issue"
$sh autogen.sh
$./configure --prefix=/opt/janus
$ make
`which git` rev-parse HEAD | awk 'BEGIN {print "#include \"version.h\""} {print "const char *janus_build_git_sha = \"" $0"\";"} END {}' > version.c
echo "Tue May  4 09:13:03 UTC 2021" | awk 'BEGIN {} {print "const char *janus_build_git_time = \""$0"\";"} END {} ' >> version.c
echo "113" | awk 'BEGIN {} {print "int janus_version = "$0";"} END {

[2021-05-04 09:18] lminiero commented on #2654
Sounds like you need a more recent libwebsockets.

[2021-05-04 09:18] #2654 closed

[2021-05-04 09:26] #1360 closed

[2021-05-04 09:29] SkazochnikZlodey commented on #2654
with v4.2-stable
Updated 5 days ago by millikk
20
17
make is passed.
Thanks for help

[2021-05-04 20:52] lainlx opened #2655 "Possible use after free in janus_ice_cb_agent_closed"
I've encountered this crash like 3 times now and it always crashed on line ice.c:1420 from a build from commit fbf1060. But I haven't been able to reproduce 100%

[code]
The data argument is null and there's a de-reference without checks.

I'm not too comfy with the janus codebase, but it looks to me that if an event to detach the handle is received, `rtp_source` it is set to NULL whether or not t

[2021-05-05 12:05] isnumanagic opened #2657 "Multistream: Unable to enable more than 4 video codecs in a room"
Trying to enable support for all 5 codecs (i.e. `videocodec = vp8,vp9,h264,h265,av1`) throws error `Unsupported video codec 'h265,av1'`. This is because string split has max tokens set to 4 (not 6):
https://github.com/meetecho/janus-gateway/blob/b9d01265cc726ec298b3513d3dca01283d98421f/plugins/janus_videoroom.c#L3161

[2021-05-05 12:27] lminiero commented on #2657
That's not specific to multistream: the same is in master as well, and probably for audio codecs too rather than video only, in both cases a leftover from when I extended the support. I'm not at the office today, I'll address this tomorrow.

[2021-05-05 12:28] lminiero commented on #2655
Please provide a full trace as a gist/pastebin, not just a single line.

[2021-05-05 21:43] lainlx commented on #2655
is the [gist](https://gist.githubusercontent.com/lainlx/bfb0a0a71de64a7be571a74d237764a6/raw/0312c07c61e68def21087f29bdcdd81d7e215cdd/janus%2520backtrace) of all threads.

[2021-05-06 11:19] #2657 closed

[2021-05-06 13:27] #2655 closed

[2021-05-06 13:27] lminiero commented on #2655
The above commit should fix it, please let us know if you still encounter the issue.

[2021-05-06 13:58] lminiero commented on #2076
Closing as the PR was merged.

[2021-05-06 13:58] #2076 closed

[2021-05-06 15:26] lu-zero opened #2658 "Output opus (optionally) in mka"
Since the preprocessor is already muxing to webm would be fairly simple to support this format as well.

If you are ok with adding this feature, I can send a patch myself to implement it.

[2021-05-06 15:29] lminiero commented on #2658
Do you mean the postprocessor? Sure, please submit the patch as a pull request and we'll have a look, thanks!

[2021-05-06 15:29] lminiero commented on #2658
As a side note, the Opus output currently uses libogg directly, and not ffmpeg, so the changes may not be trivial; the webm output is only there for VP8 and VP9.

[2021-05-08 04:27] knasim opened #2659 "Nginx"
How this is better than nginx ?
-K

[2021-05-08 04:30] #2659 closed

[2021-05-11 09:11] nu774 opened #2660 "videoroom plugin doesn't preserve HEVC fmtp line in the offer SDP from publisher"
In the function janus_videoroom_handler(), the code at first generetes answer via janus_sdp_generate_answer() at around line 7550.
However here, fmtp in the original offer isn't get passed to janus_sdp_generate_answer() via JANUS_SDP_OA_VIDEO_FMTP. Therefore, answer wouldn't contain fmtp in case of HEVC.

After that, at around line 7615, fmtp is searched from **answer** and is put into a variable

[2021-05-12 08:15] nu774 commented on #2660
Thanks, it's OK.
Actually, I tried to patch videoroom plugin to preserve original fmtp, but it seems browsers somehow don't like it (chrome refused to play H264 stream when original fmtp with sprop-parameter-sets and profile-level-id is present in the offer SDP).

[2021-05-12 08:15] #2660 closed

[2021-05-12 11:32] tijmenNL opened #2663 "Entire SIP MESSAGE in content from message event"
We're testing with receiving SIP MESSAGEs on accounts registered through the SIP plugin.

If you receive a couple of messages really short after each other, sometimes the content field of the message event from Janus will contain the parsed body of the message **and** the next entire SIP Message. I don't see this coming in on the network interface. There they are normal separated messages.

See th

[2021-05-13 15:40] lminiero commented on #2663
Mh, that's weird, as the event handler support in the SIP plugin is indeed a bit of a hack, but to my knowledge only for outgoing messages. In fact, Sofia doesn't give us to the full outgoing messages: to overcome that, we have to basically override the logger (where full messages are printed) and extract them from there,

	if(notify_events && callback->events_is_enabled()) {
		JANUS_LOG(LOG_WARN,

[2021-05-13 15:44] lminiero commented on #2663
Scratch that, I misunderstood the problem... I thought you were talking of event handlers, but this is an issue on an API event related to the content of an incoming SIP MESSAGE, so something completely different!

In that case, we're just accessing some Sofia struct fields to access the content:

[code]

If that's what you see in the message, it's likely that that's how Sofia parsed those message

[2021-05-14 09:54] tijmenNL commented on #2663
I updated the gist with a ngrep and the corresponding janus events received over the websocket

[2021-05-17 15:11] lminiero commented on #2663
Tried replicating the issue with SIPp and I can't. Please try to prepare a SIPp script that consistently replicates the issue for you, and in case the same script causes the same issue to me I'll have a look.

[2021-05-17 19:09] sassyn opened #2666 "failed to build v0.11.2 with mqtt"
Hi,

I'm using Ubuntu 20.04.
I have build paho.mqtt.c tag version v1.3.2, version v1.3.6 and also the latest, but when building janus I'm getting the error:

transports/janus_mqtt.c: In function ‘janus_mqtt_client_disconnect’:
transports/janus_mqtt.c:1335:3: error: implicit declaration of function ‘janus_condition_wait_until’; did you mean ‘janus_condition_wait’? [-Werror=implicit-function-declara

[2021-05-18 06:55] pazicb opened #2667 "HMAC-Signed token authentication"
Hello
does HMAC-signed token authentication only work for the VideoRoom plugin? If so, are you considering extending it to other plugins for example audiobridge?

[2021-05-18 06:57] #2667 closed

[2021-05-18 11:47] nyok92 opened #2668 "Janus NDI (Broadcasters.vc) container not working"
Hi ! I was testing broadcaster.vc (The janus NDI plugin) but i cannot manage to make the docker container running.
Here are the logs:

---------------------------------------------------
  Starting Meetecho Janus (WebRTC Server) v0.10.7
---------------------------------------------------

Checking command line arguments...
Debug/log level is 4
Debug/log timestamps are disabled
Debug/log colors are

[2021-05-18 12:32] lminiero commented on #2668
Out of scope here. Closing.

[2021-05-18 12:32] #2668 closed

[2021-05-19 10:04] B-R-Bender opened #2669 "Janus do not respects SDP m=video line priority"
Hello!
I'm encountered an issue with m=video line processing on the server side.

I'm mangling local SDP to change video codec priority with respect to user preferences.
To do so I'm reordering media tokens in m=video line so preferred codec will appear at the start.

For instance:
before mangling
`m=video 9 UDP/TLS/RTP/SAVPF 96 97 98 99 100 101 102 121 127 120 125 107 108 109 35 36 124 119 123`
a

[2021-05-19 10:17] danjenkins commented on #2668
@nyok92 feel free to email over at broadcaster@nimblea.pe for support on broadcaster beta

[2021-05-21 01:54] lhphong09t2 opened #2670 "Maybe this statement is redudant"
In audiobridge example javascript file - janus-gateway/html/audiobridgetest.js
Line 144
if(!webrtcUp) {
   webrtcUp = true;

I am confused that whether this statement redudant or not? because you didn't to videoroom example
If this isn't an issue, just skip it. Thanks

[2021-05-24 08:42] lminiero commented on #2670
It's not redundant. It's to ensure we only do that once, since it defaults to `false`, and is set to `false` when we hangup too. Closing.

[2021-05-24 08:42] #2670 closed

[2021-05-24 08:45] lminiero commented on #2666
Looks like we have different definitions for that macro when we use Glib mutexes (default) and when we use pthread (what you're doing apparently). In the latter the macro is indeed incorrectly defined as ` janus_condition_wait`, I'll fix this.

[2021-05-24 08:46] lminiero commented on #2666
Edit: to be more precise, `janus_condition_wait` is actually fine, as it's there in both cases: it's `janus_condition_wait_until` that's missing in the pthread case. I'll have to check if it's because it's missing entirely in the pthread API, which would be an issue.

[2021-05-24 09:03] #2666 closed

[2021-05-24 09:03] lminiero commented on #2666
Should be fixed now, even though I haven't tested (I always use Glib implementation in my testbed).

[2021-05-24 09:07] lminiero commented on #2669
We don't have great support for profiles in VideoRoom. I don't remember what the core SDP utils do when you don't specify a profile in the room, but when we do it must be an exact match: we don't have priorities for profiles.

[2021-05-24 09:08] lminiero commented on #2669
Pretty sure that for profiles (fmtp) we're reading the order of the fmtp lines, _NOT_ the order of payload types in the m-line itself. This means that you need to munge those too, not just the m=video line.

[2021-05-24 09:34] lminiero commented on #2663
@tijmenNL any update on this?

[2021-05-24 09:35] lminiero commented on #2633
Any update on this, on can the issue be closed?

[2021-05-24 10:28] tijmenNL commented on #2663
I tried replicating it but there was no definitive/reliable method to get it. I noticed that it happened after Janus was running for a while.

Since then I moved the container where Janus was running to a faster filesystem. After that I did not see it (I think), but it is hard to say it will never happen, since I could not reliably reproduce it anyway.

So this can be closed. I will reopen the iss

[2021-05-24 10:28] #2663 closed

[2021-05-24 13:06] michelepra opened #2672 "ice restart fail due to empty credential on libnice master"
I've do some test to discover the reason why ice restart fail in janus 0.11.2 (nosip plugin) with libnice master on centos7.

Libnice log, after ice restart , always report that have empty credential (ufrag/pwd) when start connectivity check and the reason is on method [nice_agent_restart](https://gitlab.freedesktop.org/libnice/libnice/-/blob/master/agent/agent.c#L5525) that [reset credential](htt

[2021-05-24 20:01] sassyn commented on #2666
seems to be working!

Thank you

[2021-05-26 07:02] lminiero commented on #2672
It seems to be working just fine for me (echotest demo).

[2021-05-26 09:51] michelepra commented on #2672
do you think that can be issue related to plugin?
Here ther's log [before](https://pastebin.com/TWbX6Arv) and [after](https://pastebin.com/yQ7ds516) this patch.

Before patch when libnice try to send stun message to new candidate it log (line 1348)

After patch [STUN-CC REQ]/[STUN-CC RESP] with new pair and credential SUCCEEDED

[2021-05-27 16:19] michelepra commented on #2672
So sorry, i reported the wrong version of libnice, this behaviour was with libnice master.
I try janus 0.11.2 without patch with libnice 0.1.18 and [icerestart work](https://pastebin.com/Z9PjqSLz)

As you can see [here](https://gitlab.freedesktop.org/libnice/libnice/-/blob/master/agent/agent.c#L5525) master is different from [0.1.18](https://gitlab.freedesktop.org/libnice/libnice/-/blob/0.1.18/age

[2021-05-27 16:23] lminiero commented on #2672
Got it, thanks for the heads up! We'll need to check what changes they may have made. We still don't advise using a version later than 0.1.18 as to my knowledge there are some issues with keepalives that may cause sessions to be torn out sooner than needed (I think @alexamirante or @atoppi know the details), so for the time being we're fine.

[2021-05-28 07:50] lminiero commented on #2672
Yeah, it looks like [this is the commit](https://gitlab.freedesktop.org/libnice/libnice/-/commit/36aa468c4916cfccd4363f0e27af19f2aeae8604?merge_request_iid=188) that started resetting remote credentials on a restart. In that case I agree with you we should somehow ensure remote credentials are set after we call `nice_agent_restart`, which in our code though depends on how the negotiation is taking

[2021-05-28 07:52] stritti opened #2676 "Update package at npmjs.com"
Could you please update janus-gateway package at
https://www.npmjs.com/package/janus-gateway

[2021-05-28 07:55] lminiero commented on #2676
Not ours.

[2021-05-28 07:55] #2676 closed

[2021-05-28 08:08] michelepra commented on #2672
All test that i do are in same condition of network and direction. A(caller - jsep) B(callee - sdp)
After all webrtc stuff are done (ice/dtls) rtp transit from A to B and around. At this time A switching network and do ice restart phase. So, for answer your question, my test are always browser that sending offer to Janus ans Janus answering

[2021-05-28 11:24] stritti commented on #2676
Oh okay.
Would be nice, if you could add an official one then.

[2021-05-28 11:26] lminiero commented on #2676
Sorry, we're not planning to. This repo is the only official source.

[2021-05-31 13:22] yin-zhang opened #2677 "typo in janus_rtcp_incoming_transport_cc()"
Ran into a couple of typos in janus_rtcp_incoming_transport_cc() in rtcp.c:

[code]

should be changed to:

[code]

That is, s ==> ss.  Otherwise the parsing of TWCC packets may get wrong deltas

[2021-05-31 13:53] atoppi commented on #2677
@yin-zhang thanks for reporting.

According to the draft:
[code]

So `length` (either 7 or 14) should be set according to the `ss` variable (that matches the symbol size S of the specs).
Hopefully not a big issue, since we're not doing much with incoming twcc feedback.

Anyway, I'm fixing this asap.

[2021-05-31 13:58] #2677 closed

[2021-06-01 08:32] homevk15 opened #2678 "postprocessing"
Error occured during installation in Ubuntu 16 xenial
postprocessing/pp-g722.c:213:3: error: implicit declaration of function ‘av_packet_free’ [-Werror=implicit-function-declaration]
   av_packet_free(&avpacket);

[2021-06-01 09:27] lminiero commented on #2678
Is this the only warning you see? `av_packet_free` is used in other processors as well, not just G722. Is it just the "implicit declaration" warning, or is there some error after that?

[2021-06-01 09:28] lminiero commented on #2669
@B-R-Bender have you tried what I wrote above?

[2021-06-01 09:42] homevk15 commented on #2678
It's an error after a compilation using 'make'.
I chose your older version v0.11.1 (April 6,2021) and it was compiled and it works OK

[2021-06-01 09:55] homevk15 commented on #2678
sorry Lorenzo, I lost terminal where I couldn't compile 'Janus'. There were many warnings about packets needed for postprocessing.

[2021-06-01 10:12] lminiero commented on #2678
Then please try again and share the whole output in a pastebin or gist link. It compiles just fine here.

[2021-06-01 11:20] atoppi commented on #2678
@homevk15 are you issuing `make clean` before trying to compile? The recent merging of #2665 has changed the way pp-rec imports libav dependencies.

[2021-06-01 12:28] subashsds opened #2681 "Unable to launch Janus URLs in browser after deployment"
Dear Team,

We are setting up Janus in our Ubuntu server. We have followed the steps given in the following URL: (https://janus.conf.meetecho.com/docs/README.html).
All the dependencies/plugins has been installed without any error and we have started the janus servises successfully. PFB the status of the janus service.

root@*****:/home/ubuntu# ps -ef | grep janus
root      136749       1  0 May31

[2021-06-01 12:30] lminiero commented on #2681
Explained in the docs: https://janus-legacy.conf.meetecho.com/docs/deploy

[2021-06-01 12:30] #2681 closed

[2021-06-01 18:50] sagittariusaurus opened #2682 "wrong type passed to va_arg?"
shouldn't `char*` be passed as a type to `va_arg` instead of `void*` [here](https://github.com/meetecho/janus-gateway/blob/master/events.c#L235)?

[2021-06-02 08:15] lminiero commented on #2682
Why? It's not a string. It's a pointer to a transport-specific property.

[2021-06-02 08:15] #2682 closed

[2021-06-04 07:24] Zzij opened #2683 "sip demo error"
hi
  i installed janus following README.md. when i used sip-test demo, something wrong with me. i searched anywhere, but i could not solve the problem.
which sofia-sip version should i choose？
any advice could you give?
hope for your reply.

janus： latest master code
linux：centos 7.5
sofia-sip：1.13.3
browser：Chrome Version 89.0.4389.82

![image](https://user-images.githubusercontent.com/35696626/1

[2021-06-04 20:21] subashsds opened #2686 "Remote Video not loading/Streaming"
Dear Team,

We have installed Janus and webserver. We are able to access the page successfully from browser. But we are facing issue in testing the demo video call.

When i access the URL "https://<<myserver>>:8443/janusUi/html/videocalltest.html"

The attached page loads and I can see my video publishing. But remote vide is not streaming/loading. PFA the screenshot

Kindly help to resolve this is

[2021-06-05 14:50] vvviphosl commented on #2686
"https://<>:8443/janusUi/html/videocalltest.html"

[2021-06-06 12:35] subashsds commented on #2686
Hi Team, the above update doesn’t give any resolution. Can you suggest what action should be taken or if anything is missing from our end? Request you to please send some proper reference which we can refer to resolve this

[2021-06-06 12:44] lminiero commented on #2686
As per the guidelines, question belongs to the group, not here.

[2021-06-06 12:44] #2686 closed

[2021-06-07 07:56] lminiero commented on #2683
Sounds like issues installing Sofia SIP on CentOS properly, which has been discussed several times in the past already. Please search on old issues or old threads on the forum for details. Not a Janus issue anyway.

[2021-06-07 07:56] #2683 closed

[2021-06-07 07:57] lminiero commented on #2678
Any update? Otherwise I'll just close, since it works fine here.

[2021-06-07 07:57] lminiero commented on #2669
Closing.

[2021-06-07 07:57] #2669 closed

[2021-06-09 02:09] hu-ping commented on #1733
hello，Why add 1？this->baseSequenceNumber   = sequenceNumber + 1;

[2021-06-09 08:45] ibc commented on #1733
Otherwise first delta would always be 0 which does not make any sense.

BTW which is the purpose of your question?

[2021-06-09 09:52] #2678 closed

[2021-06-09 10:14] lminiero commented on #2633
Closing for lack of activity. Feel free to reopen if you can provide more details using the latest version.

[2021-06-09 10:14] #2633 closed

[2021-06-10 05:12] lionelnicolas opened #2691 "streaming plugin: deadlock when handling API messages"
I think one of our janus servers experienced a deadlock in the streaming plugin. The websocket API became unresponsive and I was not able to create/destroy mountpoint anymore (no response from the streaming plugin API)

I think the deadlock happens on the `mountpoints_mutex` mutex.

To determine that, I use the admin API to communicate with the streaming plugin.

If sending :
[code]

I receive the

[2021-06-10 06:53] hu-ping commented on #1733
thank you，in the process of learning mediasoup, I have some doubts about this place.

[2021-06-10 07:02] lminiero commented on #1733
I think your confusion goes beyond that line of code: this is the Janus repo, not mediasoup :hand_over_mouth:

[2021-06-10 07:12] lminiero commented on #2691
If you want to debug locks, you can use our lock debugging feature, which will print any attempt to lock/unlock and the file/line where it happened. Ideally you'll want it to start from the beginning (enabled in janus.jcfg), but it can be enabled/disabled dynamically via Admin API as well. Of course, you should ensure it's enabled before the issue starts, or you may be missing info. Notice it migh

[2021-06-10 07:23] ibc commented on #1733
I didn't realize neither 🤣

[2021-06-10 15:04] lionelnicolas commented on #2691
Ok thanks, I'm planning to use that feature as soon as I find a reproducer.

[2021-06-11 09:25] #2658 closed

[2021-06-11 14:42] arseny30 opened #2694 "SVC and sequence number of reordered (or retransmitted) packets"
When SVC is used, some packets are dropped because of too high temporal or spatial level
`v_base_seq` is incremented by 1, so all later packets will have seq decreased by 1 when relaying
https://github.com/meetecho/janus-gateway/blob/2d5f2be38b9c19d7affa45a929d7b7e5596dc6aa/plugins/janus_videoroom.c#L7942
https://github.com/meetecho/janus-gateway/blob/2d5f2be38b9c19d7affa45a929d7b7e5596dc6aa/rtp.c

[2021-06-11 21:40] tmatth opened #2697 "ThreadSanitizer: data race warnings on janus_log_freebuffers"
I can't tell if these are false positives (if so, I'd be happy to submit a suppression file) but when running Janus with `-fsanitize=thread`, I'm seeing loads of warnings of the form:
[code]

which seems to indicate that it's not threadsafe to call the logging functions, since the logging thread can be invoking `janus_log_freebuffers` while another thread is reallocating and writing to the same ad

[2021-06-12 08:03] lm123 opened #2698 "janus coredump at plugins/janus_videoroom.c:2725"
Janus (v0.11.3) coredumps at plugins/janus_videoroom.c:2725, the backtrack is as following:

[code]

[2021-06-13 09:03] avdance opened #2701 "how to build janus-pp-rec?"
When I build janus， I don't get janus-pp-rec tool and I don't find the targrt from Makefile. why?

[2021-06-13 09:07] avdance commented on #2701
I have found the option about post-processing

[2021-06-13 09:07] #2701 closed

[2021-06-14 08:48] lminiero commented on #2694
It's not a problem in the real world, because no one uses this in the real world right now :slightly_smiling_face:  SVC is only available for VP9, and VP9-SVC is hidden behind an experimental flag in Chrome (even though that may have changed, not sure).

Jokes apart, I didn't give it much thought at the time, so not sure if this could indeed be an issue. That said, I think the receiver would not g

[2021-06-14 08:52] lminiero commented on #2697
I think @atoppi looked at this already, when he started tinkering with ThreadSanitizer. IIRC (he'll correct me if I'm wrong) his analysis at the time was that TS had way too many false positives to be useful to us, mainly due to the fact that we now default to GMutex (which uses Futex as much as possible) which TS doesn't seem to detect properly when identifying races. Maybe compiling with pthread

[2021-06-14 08:53] lminiero commented on #2698
[code]

Are you sure you're using a recently compiled version of Janus? This warning seems to suggest the code is more recent than the executable and shared objects.

[2021-06-14 09:07] B-R-Bender commented on #2669
Thank you Lorenzo.
I'm sorry for a late response, I'll give it a try and will share my findings.

[2021-06-14 11:12] atoppi commented on #2697
@tmatth that is a false positive.
The buffer block gets allocated by the core thread `T21`, then the log thread `T1` prints the content of the buffer pool and (in some circumstances) performs a clean-up (`janus_log_freebuffers`). There is no way the two threads collide on the same struct at the same time, since the enqueuing of the block on the pool by `T21` is synchronized and happens after the a

[2021-06-14 11:17] atoppi commented on #2697
And for those who are interested in TSan, I suggest the reading of this excellent blog post by Mozilla

https://hacks.mozilla.org/2021/04/eliminating-data-races-in-firefox-a-technical-report/

[2021-06-15 01:32] lm123 commented on #2698
Yes.

[2021-06-15 05:32] daurenast89 opened #2704 "Hello. I can't install Janus gateway. When I try using "meson --prefix=/usr build" command i have trouble. The Meson build system Version: 0.45.1 Source dir: /home/qazmeet/libnice Build dir: /home/qazmeet/libnice/build Build type: native build meson_options.txt:1:0: ERROR: Unknown type feature."

[2021-06-15 05:38] daurenast89 opened #2705 "can't install Janus_gateway."
Hello. I can't install Janus gateway. When I try using "meson --prefix=/usr build" command, I have trouble.
The Meson build system Version: 0.45.1
Source dir: */libnice Build dir: */libnice/build
Build type: native build
meson_options.txt:1:0: ERROR: Unknown type feature.

[2021-06-15 05:50] #2704 closed

[2021-06-15 06:22] #2705 closed

[2021-06-15 07:15] #2691 closed

[2021-06-22 09:24] lminiero commented on #2439
Looking into this right now, as I'm trying to refactor @cppdev-1's PR to make it a bit less complex.
Since I have 1.12.11 installed and not 1.13.x, can you guys confirm it's only an issue for guest registrations, and not when you register normally? It's not clear looking at the referenced Freeswitch PRs, since I don't see answers from their team and I'm not familiar enough with the Sofia internals

[2021-06-22 10:11] lminiero commented on #2439
See the PR above for a possible fix. Feedback welcome: please notice that if I don't get any feedback, I'll just cancel the PR and close the issue again, as I'll assume there's no interest in this anymore.

[2021-06-22 11:24] xadhoom commented on #2439
I'll be glad to review if no one else does, but in a couple of weeks since
I'm not operational in these days.

Il mar 22 giu 2021, 12:11 Lorenzo Miniero ***@***.***> ha
scritto:

[2021-06-22 12:08] lminiero commented on #2439
Thanks!

[2021-06-23 16:23] narayanan-ka opened #2710 "Videoroom event : Error 429"
Hello

Im testing the videoroom multistream but getting the following error message in the console

Error code: 429,
Error: Missing mandatory element (secret)

What do I need to add/modify and where ?

[2021-06-23 17:01] lminiero commented on #2710
Don't use our demo server, install your own.

[2021-06-23 17:09] narayanan-ka commented on #2710
Hello. We have installed janus on our server already.

[2021-06-23 17:24] lminiero commented on #2710
Then as explained in the guidelines, please ask questions on the [group](https://groups.google.com/g/meetecho-janus), not here.

[2021-06-23 17:24] #2710 closed

[2021-06-23 17:26] narayanan-ka commented on #2710
I have already.

https://groups.google.com/g/meetecho-janus/c/Zk2xYtDjSRk/m/JRbRdOcUAAAJ

Kindly assist us.

[2021-06-24 09:16] wann2 opened #2711 "transports/janus_websockets.c:1626:17: error: implicit declaration of function ‘lws_write_ws_flags’"
![image](https://user-images.githubusercontent.com/8732515/123236807-1436d000-d518-11eb-932c-3d63a56f2760.png)

When I execute "make", the below error always happens.

<img width="1202" alt="스크린샷 2021-06-24 오후 6 13 39" src="https://user-images.githubusercontent.com/8732515/123237034-45af9b80-d518-11eb-8fb8-ec39084a41c4.png">

[2021-06-24 09:49] lminiero commented on #2711
See #2654.

[2021-06-24 09:49] #2711 closed

[2021-06-24 09:55] wann2 commented on #2711
I read #2654, but I do not understand how he could resolve it.
Hard to understand.

The below is that I installed libwebsockets.

![image](https://user-images.githubusercontent.com/8732515/123243050-9bd30d80-d51d-11eb-90ce-e3633c4374cf.png)

[2021-06-24 10:02] wann2 opened #2712 "transports/janus_websockets.c:1626:17: error: implicit declaration of function ‘lws_write_ws_flags’"
![image](https://user-images.githubusercontent.com/8732515/123236807-1436d000-d518-11eb-932c-3d63a56f2760.png)

When I execute "make", the below error always happens.

<img width="1202" alt="스크린샷 2021-06-24 오후 6 13 39" src="https://user-images.githubusercontent.com/8732515/123237034-45af9b80-d518-11eb-8fb8-ec39084a41c4.png">

I read #2654 that lminiero  commented, but I do not understand h

[2021-06-24 10:04] wann2 commented on #2654
with v4.2-stable
Updated 5 days ago by millikk
20
17
make is passed.

Is the upper the solution?
Could you please explain in detail to understand?

[2021-06-24 10:05] lminiero commented on #2712
Please **STOP** opening issues for the same thing over and over! I already pointed you to the solution. If you open another issue I'll have to ban you from the repo.

[2021-06-24 10:05] #2712 closed

[2021-06-24 10:09] wann2 commented on #2712
Sorry, but I do not understand what you pointed the solution and the issued I did marked "closed", I would appreciate if you could explain to me what is wrong.

[2021-06-24 10:11] lminiero commented on #2712
You're using an old release of lws, and you need a recent one.

[2021-06-24 10:18] wann2 commented on #2712
Now I can see what is the problem. Thanks a lot and sorry for the issue i wrote. I met Janus today for the first time. I has been trying to implement it for my company.
Thanks lminiero

[2021-06-24 14:12] igo95862 opened #2713 "Cross-compilation fails on Debian because `pkg-build` is used directly to to create `libnice_version_string`"
This is the line in `Makefile.am`:

https://github.com/meetecho/janus-gateway/blob/23535f02ac15d8b5bf6b4a7dfb51c7cadc4bad07/Makefile.am#L211

Not sure why but at least on Debian the `PKG_CONFIG_PATH` is not set however it provides wrappers like `aarch64-linux-gnu-pkg-config` setup which are set by `PKG_CONFIG` variable.

I think changing that line to use `"$(PKG_CONFIG)"` fixes the issue. I tested

[2021-06-24 14:17] lminiero commented on #2713
PKG_CONFIG doesn't seem to be defined anywhere on my Fedora, so I'm not sure the fix would work.

[2021-06-24 14:27] lminiero commented on #2713
Scratch that, I wasn't considering these env variables may only make sense within the context of configure/make. Just tried putting what you suggested and it seems to do the trick.

[2021-06-24 14:28] igo95862 commented on #2713
Good to hear. I was just about to pull Fedora docker image to test.

[2021-06-25 10:17] #2713 closed

[2021-06-25 16:04] flaviogrossi commented on #2439
the first tests were successful, this seems to work fine. Added some details in the relevant PR if anyone wants to follow the discussion

[2021-06-25 16:10] flaviogrossi commented on #2439
There is still something not working when trying to setup tls with the new sofia though (if not using the `sips: false` parameter of course). In particular the `nua_create()` call fails, but that's a separate issue, will look into it later

[2021-06-27 07:31] jonassmedegaard opened #2716 "maybe replace libwebsocket with wslay"
I've noticed [some](https://www.eclipse.org/lists/mosquitto-dev/msg02468.html) [projects](https://godotengine.org/article/websocket-updates-udp-multicast) switching from libwebsocket to Wslay - mentioning here in case that might be relevant here as well.

[2021-06-28 02:51] thecodewarlock19 opened #2717 "Videoroom :Black remote video display when i stream mp4 or any video file"
I get a black remote video display when i stream mp4 or any video file the following is my code.
   But this same code works (remote video works) when i stream live from device camera. thanks in advance

`Janus.debug("Created remote video stream:", stream);` =>
 Created remote video stream: MediaStream {id: "5a3d8f2d-4ca3-4deb-85a3-ee3fb0a4c7df", active: true, onaddtrack: null, onremovetrack: null

[2021-06-28 03:03] thecodewarlock19 commented on #2717
But this same code works (remote video works) when i stream live from from device camera

[2021-06-28 12:32] akilude commented on #2717
Hi,

Best place to ask questions is the [group](https://groups.google.com/g/meetecho-janus/)

[2021-06-28 14:07] yutin1987 opened #2718 "On Safari use multistream mode, the player not working after other user re-enter room"
Will use same MediaStreamTrack (same mind) when it has new track of user, after old user leaving / unsubscribe, but that track has been "ended".

On Chrome and Firefox is working, so this issue only on Safari.

How to get status?
[code]
On audio player html tag (reassign new player):
[code]

[2021-06-29 05:48] lminiero commented on #2716
Thanks for the heads-up, but I don't see any reason why we should switch ourselves, considering the WS transport works as expected, and it would take a lot of time to look into these alternatives and refactor the existing code.

[2021-06-29 05:48] #2716 closed

[2021-06-29 05:48] lminiero commented on #2717
Yes, belongs to the group.

[2021-06-29 05:48] #2717 closed

[2021-06-29 05:50] lminiero commented on #2718
Please don't post screenshots, they're useless to identify issues. Make sure you test our default demo and provide info on that, as we don't debug third-party clients.

[2021-06-29 09:25] yutin1987 commented on #2718
On this demo can repeated issues

https://janus.conf.meetecho.com/mvideoroomtest.html

On audio got `readyState=ended`, when other user rejoining
![截圖 2021-06-29 下午5 23 23](https://user-images.githubusercontent.com/2505934/123772843-c1399000-d8fe-11eb-8270-5808d502584a.png)

On video always `readyState=live`, when other user rejoining
![截圖 2021-06-29 下午5 12 53](https://user-images.githubuserconten

[2021-06-29 10:29] gushenjie opened #2719 "unity janus android"
Is there any unity client version resources, it is best to support VIDEOROOM mode

[2021-06-29 10:30] lminiero commented on #2719
You may want to ask the [group](https://groups.google.com/g/meetecho-janus).

[2021-06-29 10:30] #2719 closed

[2021-06-29 12:03] narayanan-ka opened #2720 "Multistream results in a blank screen"
My friend and myself are working on a streaming app. He posted on the groups. Got no response yet. Any help will be appreciated.

"I am using flutter and flutter-janus-client to create a multistreaming service, or so I think.

What I want to do is broadcast the contents of a video room with, say 2 publishers, to others. For this I am first creating a videoroom, then create an rtp-forward, finally

[2021-06-29 12:26] lminiero commented on #2720
Not receiving answers on the group doesn't entitle you to just open issues here. Someone will answer when there will be time to give an answer. Closing.

[2021-06-29 12:26] #2720 closed

[2021-06-29 14:15] lminiero commented on #2698
Please share a libasan trace instead: https://janus-legacy.conf.meetecho.com/docs/debug.html

[2021-07-01 08:32] #2439 closed

[2021-07-02 02:00] gushenjie opened #2722 "janus videoroom api"
![image](https://user-images.githubusercontent.com/10531802/124209559-549bdc80-db1c-11eb-93a7-d21de24133d9.png)

[2021-07-02 06:15] lminiero commented on #2722
Please ask questions on the group, and giving a detailed description of your setup: a screenshot with no info is useless.

[2021-07-02 06:15] #2722 closed

[2021-07-03 06:59] fippo commented on #2718
sounds like https://bugs.chromium.org/p/chromium/issues/detail?id=1187576 which was fixed in Chrome but might not yet be in Safari.

[2021-07-04 22:17] mmatthebi opened #2723 "Media Array: Can't add mountpoint, no audio, video or data have to be streamed..."
Hello,

I'm using Janus from master branch, 16e2cc31, and having this streaming-config:

[code]

It exactly resembles the [streaming documentation](https://janus.conf.meetecho.com/docs/streaming.html) where a media array for multi-video RTPs is described. However, wher I start janus, I get this error:

[code]

Is that a regression in the code or in the documentation? How would the correct configur

[2021-07-05 04:16] rajneeshksoni commented on #2723
This new config is available only with multistream branch. for master branch use the example in the conf/ folder.

[2021-07-05 05:22] mmatthebi commented on #2723
Thanks for your comment. However, also with the `multistream` branch the error remains the same:

[code]

[2021-07-05 06:24] rajneeshksoni commented on #2723
i think you are not using the latest code, line 1801 is different in the latest code.

[2021-07-05 08:28] lminiero commented on #2723
As others have pointed out, that's the documentation for multistream, not master.
https://groups.google.com/g/meetecho-janus/c/AqZ6ENFXH44/m/PA7BV69UEAAJ

[2021-07-05 08:28] #2723 closed

[2021-07-05 11:12] kaqq opened #2725 "no response on datachannel unsubscribe request (multistream)"
There is no WebSocket response or ACK when unsubscribe request is sent for the data channel, however, data channel messages stop flowing.
Example JSON:

[code]

[2021-07-05 16:23] jabesq commented on #2712
@wann2 How did you fix your issue because i'm facing the same with janus 0.11.3 and libwebsocket (branch master)

[2021-07-05 17:08] adigeo opened #2726 "SDES key missmatch"
SDP offer from outside (Blink SIP client)

[code]

SDP answer (Janus/Sofia plugin)

[code]

The crypto line should match the offer (Notice the “1" instead of correct 3) the line should read:

 a=crypto:3 AES_CM_128...

[2021-07-05 17:13] lminiero commented on #2726
Yeah it looks like we have `1` hardcoded in a couple of places:

https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_sip.c#L6111
https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_sip.c#L6120

so that would need to be fixed. Do you have a SIPp script that we can use to replicate the issue, to verify it works if/when we come up with a fix?

[2021-07-05 17:38] adigeo commented on #2726
Hm, I do not know how to do it with sipp. But you can reproduce this using a SIP comand line tool which has control over the encryption types used for the SRTP stream.

Add the debian repo depending on your distro:

https://docs-new.sipthor.net/w/debian_package_repositories/

sudo apt-get install sipclients3

Force encryption to SDES:

sip-settings3 -a set bonjour rtp.encryption.key_negotiation=sd

[2021-07-05 17:53] lminiero commented on #2726
I'll work locally so my server will not be available externally. I'm not familiar with that command-line client, tomorrow I'll check if it's available on Fedora too.

[2021-07-05 18:18] adigeo commented on #2726
Something unrelated or not, perhaps.

If no SDES cyphers are comonly agreed (the 200 OK from sofia has no crypto lines) what we experience is that calling SIP end-point ca hear the web browser mic, but the web browser does not hear the SIP end-point.

Perhaps the browser always expects to have an encrypted stream? Any idea what the bahviour should be without SDES?

[2021-07-06 10:13] lminiero commented on #2726
The SRTP on the WebRTC side has nothing to do with the one on the SIP side, they're separate contexts.

[2021-07-06 10:38] lminiero commented on #2726
@adigeo please test the PR above.

[2021-07-06 11:40] kalturaguy opened #2728 "crash when querying admin's handle_info"
Hi,

In the multi-stream branch, there is crash if we call handle_info during establishing connection to room plugin.

Reproduced 100% each time

Thanks,

Dump is in here:
https://januscrashdumps.s3.eu-central-1.amazonaws.com/dump.tar.gz

<details>
<summary>Call stack</summary>

[code]
</details>

[2021-07-06 13:02] lminiero commented on #2728
As clearly explained in the guidelines, please do NOT paste huge chunks of text inline: yours even messed with issues references. I edited the text for you to make it collapsible, this one time.

[2021-07-06 13:04] lminiero commented on #2728
You should also write exactly which commit you're on, or line numbers may nor make sense.

[2021-07-06 13:17] lminiero commented on #2728
The above commit fixes it for me.

[2021-07-06 13:17] #2728 closed

[2021-07-06 13:21] lminiero commented on #2725
Not an issue, and expected. Unsubscribing from a publisher for data results in no renegotiation (the data channel itself survives since you may be subscribed to other people for data, or you'll need datachannels later), so you never get any updated offer, so no event either. While we may add a placeholder ack in the future, it's not there but it's not a bug. Closing.

[2021-07-06 13:21] #2725 closed

[2021-07-06 13:30] lminiero commented on #2725
Ack `updated` event added in case there's no SDP changes.

[2021-07-06 13:30] lminiero commented on #2697
I think this can be closed.

[2021-07-06 13:30] #2697 closed

[2021-07-07 10:34] lminiero commented on #2672
@michelepra I prepared a small PR that you can find linked above. If possible, please test with both an older and newer version of libnice (especially the ones that broke for you), and possibly testing restarts originated both by NoSIP caller and callee to cover both perspectives. In case you make any test and have feedback to share, please add it to the PR and not here.

[2021-07-10 18:27] groupboard opened #2731 "Janus ICE handle possible leak"
To recreate:

- start janus with -d 7
- add -dREFCOUNT_DEBUG=1 to CFLAGS
- open videoroom test page with a few users
- reload web page a few times for each user
- press ctrl+c

You'll see a message saying a number of reference counters are still allocated. The more you reload the page for the users, the more refs are active at the end. They seem to be allocated from janus_ice_handle_attach_plugin

[2021-07-10 18:28] groupboard commented on #2731
[janus_debug.txt](https://github.com/meetecho/janus-gateway/files/6795761/janus_debug.txt)

Here is an example debug log. I've just removed ip addresses, and added a little bit more debug info to print the handle refs to make it easier to track them.

[2021-07-10 18:33] groupboard commented on #2731
Oh, and I should add that I tested with libasan and nothing was mentioned regarding leaks. I think it's not technically a leak (in terms of how libasan defines a leak) because the memory is still referenced from somewhere in janus even though the refcount is 0.

[2021-07-12 08:04] lminiero commented on #2731
IMO that's normal, and there's no leak to worry about. Refreshing a page means a session needs to timeout before it's cleaned: you're probably issuing the CTRL+C before that, and so the still-to-timeout-sessions are leaked. You can see an explaination of why and why it's nor an issue [here](https://github.com/meetecho/janus-gateway/issues/2624#issuecomment-819522489).

[2021-07-12 15:26] groupboard commented on #2731
Yes, you're right. During earlier testing I did notice a 5 second delay between closing the browser and seeing the debug message saying the resources were freed. But I think I forgot to wait during this particular test. I tried it again now and there are no resources still allocated when I wait 10 seconds before pressing ctrl+c. Closing.

[2021-07-12 15:26] #2731 closed

[2021-07-13 12:26] boumerdes154 opened #2733 "newbie in JANUS"
HI. i am new in JANUS and admin conf so be easy on me xd

- when i test my local janus server from my local  adress everything works fine
- but when i test it from my IP adress the textroom works fine but when i try echotest or video call i get this message (webrtc error...undefined )

[2021-07-13 12:44] #2733 closed

[2021-07-13 14:05] JanFellner opened #2734 "Eventing Websocket connection time if destination is not available"
Hi @lminiero
hi MeetEcho team

as you were complaining about not receiving PRs (At least @fippo told me so ;] ) from our side i am finally stepping into the code.
Actually i wanted to improve something super trivial but in the end my lack of knowledge in libwebsocket hinders me to really make a PR out of it but i provide the code.

We are using Janus as SFU and have an own signalling server upfron

[2021-07-14 08:06] chengmo03013106 commented on #1274
Excuse me:
May I have the number of "certain" of connections with Janus ?
I have used LWS 3.1 as well.

[2021-07-14 09:05] JanFellner commented on #2734
Using libwebsocket 4.1-stable branch just to have it mentioned

[2021-07-14 09:05] atoppi commented on #2734
@JanFellner

Not strictly related to your changes, but the `lws_service` waking up after 25-30 seconds is an issue I've step into too.
A simple way to reproduce is starting janus (I don't use event handlers, only the transport), wait a couple of seconds, then close with CTRL-C. The process will halt unti the `lws_service` returns.

I noticed that the issue happens only on lws >= 3.2.
According to

[2021-07-14 09:08] atoppi commented on #2734
As a side note I've tested the minimal lws server example and CTRL-C immediately stops the process.
I guess there is something we do in janus (ctx init, threading etc.) that triggers the issue.

[2021-07-14 09:18] JanFellner commented on #2734
Thanks @atoppi for stepping into it.
So you will track that 25 second lws issue loosen from my issue here and i wait for that fix before i place the PR or shall i place the PR for the changes i made?

[2021-07-14 09:24] lminiero commented on #2734
You may want to investigate this yourself as well, in the meanwhile. As Alessandro said, it doesn't happen with the example they provide, so looking at the differences from more POV would help.

[2021-07-14 09:25] lminiero commented on #2734
On the PR, probably better to wait until the issue is solved, as otherwise from what I've understood it wouldn't be usable due to the long timeout anyway, is that correct?

[2021-07-14 12:45] JanFellner commented on #2734
If i compare the websocket sample they do nothing in the lws_service loop and handle the connecting completely in dedicated scheduler callbacks (lws_sul_schedule)

https://libwebsockets.org/git/libwebsockets/tree/minimal-examples/ws-client/minimal-ws-client-tx/minimal-ws-client.c

I will check if thats a working approach cause i was already playing around with all the initialization parameters wit

[2021-07-14 12:54] lminiero commented on #2734
Yes, you need to "wake up" the loop using `lws_cancel_service`: we just found out that's what was causing the issue @atoppi was experiencing in the WS transport. Very likely we'll need to do the same in the WS EVH reconnect logic.

[2021-07-14 12:57] atoppi commented on #2734
here is the commit
https://github.com/meetecho/janus-gateway/commit/eb5b20a0a2fcb252d4e40be7bb2f7128802bd35b

[2021-07-14 13:15] JanFellner commented on #2734
Nice finding, but for the eventing websocket i dont see it solving the problem.
I added the cancel to the connecting failed. It wakes the loop up, the loop checks wether the duration for the reconnect has passed by and as it has not sleeps again.

I wonder as all the implementations i find concerning the libwebsocket do nothing in the lws_service loop so i would implement it based on the sample. h

[2021-07-14 13:15] #2726 closed

[2021-07-14 13:18] lminiero commented on #2734
The examples use `lws_sul_schedule` to do scheduled callbacks, but that's only available since 3.2, and we support older versions too. I'm not going to make changes that break backwards compatibility.

[2021-07-14 13:35] JanFellner commented on #2734
i will have that in mind...... so up to 3.2 connect attempt out of the service loop
starting with 3.2 and higher build something based on the scheduler...

[2021-07-14 13:38] lminiero commented on #2734
No need, we fixed it already. Commit to come.

[2021-07-14 13:53] JanFellner commented on #2734
k, standing by, if you touch it please check the maximum duration a reconnect may take.
That was the initial thing about my changes. In case you don´t touch that one i will make a new PR based on the new master.
(Idea was to be able to specify a maximum idle time of the eventing websocket to speed up connects/reconnects)

[2021-07-14 14:25] #2734 closed

[2021-07-14 14:27] atoppi commented on #2734
The above commit fixes the issue for us.
We have added a `MAX_RETRY_SECS` macro hardcoded to 8 (seconds).

[2021-07-14 14:35] JanFellner commented on #2734
Will check if it fixes the startup issue of the two servers. Thanks.

[2021-07-14 14:48] JanFellner commented on #2734
The lws_service still sleeps for 25 seconds. the janus shutdown is fixed, it returns from lws_service due to the lws_cancel.
I guess the key is not to do the reconnect in the lws_service loop but a dedicated method loosen from that thread.
(like in the samples)

* [Wed Jul 14 16:43:03 2021] [ERR] [events/janus_wsevh.c:janus_wsevh_callback:724] Error connecting to backend
* [Wed Jul 14 16:43:31 202

[2021-07-14 15:01] atoppi commented on #2734
I can not reproduce the issue anymore. Please try again with a clean install.
If it still happens, please provide some steps.

[2021-07-14 15:05] atoppi commented on #2734
these are the logs from a janus instance with enabled ws ev handler (and upstream ws server not started)
[code]

[2021-07-14 15:08] JanFellner commented on #2734
strange, which libwebsocket is beeing used?

[2021-07-14 15:23] atoppi commented on #2734
lws 4.2

[2021-07-14 15:41] JanFellner commented on #2734
Found it:
The connect itself takes 25 seconds if the target is not on the same machine.
If i specify a local port it works like expected ...

I will play a bit and see if the connect is established if the server starts while he is waiting for the connect.

[2021-07-15 09:05] #2672 closed

[2021-07-15 09:56] atoppi commented on #2734
Good catch.
I guess that is a whole different problem: checking lws client connection timeout.
Please submit a new PR in case you end up with a proper fix.

[2021-07-15 09:58] michelepra commented on #2672
Nice, your pr is exactly the same that i [do](https://github.com/michelepra/janus-gateway/commit/a737e56d210bd50a3e4c79fbb1f9e61afad499d3)
With this change i've tested older and newer libnice version and icerestart works, good to know that is become official.

Thanks

[2021-07-15 10:09] atoppi commented on #2734
fyi there are a couple of references to timeout settings in a lws [client example here](https://github.com/warmcat/libwebsockets/blob/v4.2-stable/minimal-examples/ws-client/minimal-ws-client-rx/minimal-ws-client.c#L102)

[2021-07-15 11:25] JanFellner commented on #2734
I already played around with those timer values yesterday but did not get a proper result.
The funny thing is that the connection failed callback always comes after 5 seconds.
But the lws_service does not wake up afterwards.

I have it not working with the approach from the samples using the lws_sul_schedule and leaving the lws_service on it´s own. That looks promising.

[2021-07-15 11:33] JanFellner commented on #2734
Looks promising. But due to the change with the scheduler a bit refactored.
Prepping PR, let´s follow up the discussion then in the PR.

[Thu Jul 15 13:32:10 2021] [WARN] WebSocketsEventHandler: Error attempting connection... (next retry in 1s)
[Thu Jul 15 13:32:11 2021] WebSocketsEventHandler: Connecting to upstream websocket server 10.20.3.220:3000...
[Thu Jul 15 13:32:16 2021] [WARN] WebSockets

[2021-07-20 05:58] YSRE opened #2737 "janus crash when play file"
I jave an audioroom, no participant in room. and I just play files for Announcement.
My janus server runs in docker.
sometimes  janus will crash after answer a request of  play_file.

here are logs
**kernel logs like**:
kernel: traps: mixer 15784[303309] general protection ip:7fd522d55079 sp:7fd18d7f5c50 error:0 in libc-2.17.so[7fd522d08000+1c4000]
kernel: mixer 20004[429677]: segfault at 7fa9f263

[2021-07-20 06:06] rajneeshksoni commented on #2737
- specify the janus version you are using.
- follow the direction in - https://janus.conf.meetecho.com/docs/debug.html

[2021-07-21 17:21] tranngocphat0901 opened #2739 "error: implicit declaration of function lws_write_ws_flags"
Hi guys,

I have install janus server on Ubuntu 18.04 but I have a problem. Please help me fix it.

/some text ommit/
make  all-recursive
make[1]: Entering directory '/root/janus-gateway'
Making all in html
make[2]: Entering directory '/root/janus-gateway/html'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/root/janus-gateway/html'
make[2]: Entering directory '/root/janus-gate

[2021-07-21 18:11] lminiero commented on #2739
Update libwebsockets.

[2021-07-21 18:11] #2739 closed

[2021-07-21 21:30] goekce commented on #2530
Archlinux here. I have `libwebsockets` 4.2.1 and get similar error:
[code]

[2021-07-23 09:41] LiuAriel opened #2742 "DTLS Handshake error: error:141023F2:SSL routines:dtls1_read_bytes:sslv3 alert unexpected message"
“Handshake error: error:141023F2:SSL routines:dtls1_read_bytes:sslv3 alert unexpected message ”

This problem occurs when dtls handshake. When connecting with web echo, this problem occurs when you update to the latest chrome. The strangest thing is that sometimes it can and sometimes it’s always not. What is the problem?

[2021-07-23 14:29] LiuAriel commented on #2742
I modified the problem caused by the code, which caused problems with the role of dtls after p2p punching. The role conflict caused by the controlled and controlled setting was inconsistent with the web setting. This caused a problem with the client and server allocation of the role, which was related to the business and the business. Inconsistent.

[2021-07-24 07:02] #2742 closed

[2021-07-26 07:23] tranngocphat0901 commented on #2739
Hi @lminiero, Let me try.

[2021-07-26 11:59] tmatth commented on #2739
Note that Janus' CI is using v4.1-stable, so if in doubt you can be sure that that version works:
https://github.com/meetecho/janus-gateway/blob/9a76ed29aebe5da21b8ffdeb4b1b2d442c2f232b/.github/workflows/janus-ci.yml#L123

[2021-07-30 14:18] lminiero commented on #2737
@YSRE any info on the required info as explained above? Please notice we'll just close the issue if you don't provide details, as we'll assume you either fixed is, or just don't care anymore.

[2021-07-30 14:18] lminiero commented on #2718
I guess this is not a Janus issue, then. Closing.

[2021-07-30 14:18] #2718 closed

[2021-07-30 14:19] lminiero commented on #2698
@lm123 any update on the libasan trace we asked for?

[2021-07-30 14:58] le-chat commented on #1007
We get `sctp_sendv error (2)` from sctp.c:janus_sctp_send_text_or_binary (https://github.com/meetecho/janus-gateway/blob/dca2068beb8df3aaed64cb6f91ffce6078d75f61/sctp.c#L818) when the client is disconnected (for example, the browser is closed). I think it is not related with sending too fast, because before disconnection data flows through channel well.

As I understand, errno 2 (No such file or d

[2021-07-31 21:27] dewebdes opened #2748 "videoroom plugin playing remote stream on windows not work"
hi meetecho
before anything, tanx for ur perfect solution, its grate :)
videoroom plugin work fine in all mobile browsers
but the issue is for all windows browsers
in windows, localstream is fine and it send the stream perfectly and mobile clients get the remotestream perfect
and it get the  others remote streams with ok peer connection
**BUT Can Not Display Them**
_remotevideo.srcObject.getTracks

[2021-08-02 09:32] lminiero commented on #2748
Questions and usage problems belong to the [group](https://groups.google.com/g/meetecho-janus), not here.

[2021-08-02 09:32] #2748 closed

[2021-08-03 21:04] dewebdes commented on #2748
By the way
I write this bug on google group:
https://groups.google.com/g/meetecho-janus/c/LsZExza20Uc

you answered questions that writes after this conversation, BUT not answered to this yet on google...
and my issue on github not a question about usage, this is a bug report.
I am thinking that ur manner is political and i understand it.

[2021-08-05 07:27] lminiero commented on #2748
I do not answer ALL questions on the group. It's a community, so a place where all users are supposed to help each other, not the "Lorenzo fixes everything" group. I answer what I want, as a best effort, and in my spare time. No idea what you mean by "political", but if it's meant as an insult, you're definitely not increasing the chances I'll ever answer that post you opened.

[2021-08-05 13:39] fabioaccetta opened #2749 "[FR] Typescript - simplify definitions export"
### Environment

Ionic Framework (latest)
Angular (latest)
Typescript (latest)
VSCode (latest)

### Description
I'm trying to import `janus-gateway` inside my `ionic/angular/typescript` application but i'm not able to get the type checking to work in VSCode.

Case 1: I have already followed your giude about recompiling the npm module with `rollup`, so i'm able to compile the module (in `es` format

[2021-08-05 15:06] fabioaccetta commented on #2749
Sorry but, even if everything seems ok, this code produces runtime error, saying that my `JanusSession.isWebrtcSupported() is called on undefined`, meaning that the original `Janus` class in not really loaded.

I try to continue to investigate because i suppose that my proposed solution is not complete.

[2021-08-05 20:07] dewebdes commented on #2748
But all question about blank screen have no answer
u just answer fast to very simple questions like "https not set" or ...
the main question is multiteam for windows
and i think u have the solution
but keep it for ur customers and who contact u for order a webrtc applications
and i understand this
but u understand that people like me take a lot of time to work on ur engine and advertise for it
and

[2021-08-05 20:41] lminiero commented on #2748
I'm not staying here to be insulted: I've devoted my professional like to open source. If I wanted to make easy money, I'd turn Janus into a proprietary tool that ungrateful freeloaders like you can't use anymore. Now get lost: I'm officially on vacation, so get back in a month or ask somebody else for help.

[2021-08-05 20:52] kumail-raza opened #2750 "Getting error: Missing mandatory element (feed)"
https://janus.conf.meetecho.com/mvideoroomtest.js:662
[code]

Receiving error onmessage (callback) line #685;

**Missing mandatory element (feed)**

Any clue why I am getting this error when I am testing the same JS file with our janus server? Is there any configuration that need to be made on server side?

Further I am not getting **streams** on joining or any user subscribe. Message get received

[2021-08-05 20:52] alexamirante commented on #2748
I shut down this thread as I don't like the attitude and where it's going. Hope this behavior is not seen as "too political"...

[2021-08-06 06:31] dewebdes opened #2751 "Fix solution for blank screen in videoroom for PC(windows) or others like google-devices"
**This is a solution for issue:** https://github.com/meetecho/janus-gateway/issues/2748

Before anything, I must apologize from @lminiero and @alexamirante for my angry comments, I was in high stress and love so much janus, sometimes the angriness comes from love, Bless me :|

please review below steps to run from blank screen issue:

1. Instead of "master" repo, Use this branch repo: https://gith

[2021-08-06 07:15] fabioaccetta commented on #2749
Well, I found the final solution, so this FR becomes more a question about writing style than functionality, because import works even if `janus.d.ts` has default export (sorry for my poor knowledge about typescript even if it seems a good practice as i read).

So, to give a sense to this issue before closing it, I want to share my simplified solution with minimal changes to existing apps to impor