[2019-01-10 10:01] #1490 closed

[2019-01-14 15:59] Ben-Mark commented on #1117
Reopening this issue since it occurred in several janus instances
details:
- janus server was running on AWS EC2 c5.large instance
- janus had an average of 200 streams "load"

log - [](https://pastebin.com/d4Hkjvtz)

The error:
`[Mon Jan 14 15:07:12 2019] [31m[ERR][0m [ice.c:janus_ice_setup_local:3026] [7761206425404772] Error getting list of interfaces...`

out janus.cfg relevant fields are co

[2019-01-14 16:01] lminiero commented on #1117
We're not going to reopen an issue from more than a year ago: Janus is completely different. If you can replicate and have data to provide, open a new issue instead.

[2019-01-15 10:35] petergerten opened #1493 "GStreamer WebRTC <-> Janus Gateway DTLS error"
Hi,
I try to establish a WebRTC connection between the gstreamer webrtc implementation and Janus Gateway (streaming plugin specifically).

After I send the SDP answer to Janus as well as all trickle candidates, I get DTLS errors and finally a DTLS timeout. I searched a bit and found one thread where someone else experienced the same issue but it was never resolved: https://github.com/centricular/g

[2019-01-15 10:50] petergerten commented on #1493
This is the debug output on gstreamer side with GST_DEBUG=*dtls*:6:
https://pastebin.com/dHa8sfLw

[2019-01-15 11:43] lminiero commented on #1493
I'm not familiar with how the DTLS works in gstreamer, sorry, you should ask them. Try capturing the traffic to see if DTLS handshake messages are being exchanged at all: if we're retransmitting it's because we're not getting answers/feedback to what we send.

[2019-01-15 12:03] petergerten commented on #1493
Thanks, Lorenzo.
I just checked with wireshark and did not see any DTLS packets on the wire. (with another janus client I see them though). Strange - will check further what is going on...

[2019-01-16 11:46] lminiero commented on #1442
Closing as I assume it's fixed now. Please let us know if it's still an issue.

[2019-01-16 11:46] #1442 closed

[2019-01-16 11:46] lminiero commented on #1437
Closing as I assume it's fixed now. Please let us know if it's still an issue.

[2019-01-16 11:46] #1437 closed

[2019-01-16 11:47] lminiero commented on #1455
@danpascu just pinging to check if you managed to get back to this in the meanwhile.

[2019-01-16 12:54] petergerten commented on #1493
From what is visible in the admin data https://pastebin.com/qFBctiyS - is it conclusive that the next stage would be the sending of a DTLS handshake by the gstreamer side?
Some of the gstreamer devs said on similar issues that the ICE process was probably not finished yet. But from what I can see there is a selected pair.

[2019-01-17 02:37] petergerten commented on #1493
@saket424 As using webrtc with gstreamer is not a simple pipeline but rather code with handlers I do not have a minimal example to reproduce the issue at this point. I will look into this though.

[2019-01-17 02:39] petergerten commented on #1493
@lminiero From the admin output https://pastebin.com/qFBctiyS , would you say that the next step is the DTLS handshake to be initiated by the gstreamer side or is there a possibility of any other step that is still missing?

[2019-01-17 03:14] petergerten commented on #1493
What I don't understand is this:
[code]
As far as I understand DTLS role "passive" on Janus side indicates that the other side needs to initiate the DTLS handshake. When I captured the above admin info, there were zero DTLS packets going over the wire (checked with wireshark). What exactly is Janus doing when it counts up the "retransmissions" ?
Does that just mean it is waiting for the other side

[2019-01-17 04:45] petergerten commented on #1493
After further investigation I found that gstreamer did not automatically add the ICE candidates from the SDP and I had to manually add them. (I wrongly assumed I only have to do that for trickle candidates)
After that - all is fine and the DTLS handshake works :-)

[2019-01-17 09:56] lminiero commented on #1493
No, it means a call to `DTLSv1_get_timeout()` told us a DTLS timer expired. Since this is usually associated to something we sent and didn't get a response to, we increase an internal counter called `retransmissions` (which is what you see in the Admin API). I guess that it can also happen when the DTLS stack is waiting for a start and it doesn't arrive, which is your scenario: in that case, yes,

[2019-01-17 09:56] #1493 closed

[2019-01-18 16:31] uxmaster opened #1495 "Segfault in janus_flags_is_set"
The segfault happened at
https://github.com/meetecho/janus-gateway/blob/4f2093bbda27528a17c20d1693de9a1d6c221799/utils.c#L115
Here is [the backtrace](https://gist.github.com/uxmaster/04deb3123d097e6a92fe551211865c13) and [the log](https://gist.github.com/uxmaster/725f31444c0098bccbb307b0a34ced88).

[2019-01-19 09:21] petergerten opened #1496 "SDP parsing issue "Missing mandatory lines (o=, s= or m=)""
I am using the gstreamer webrtc implementation to talk to janus. For video that works. Now I am trying to add a datachannel and send the following SDP answer to janus: https://pastebin.com/K2C8WmEK

Janus gives me the following error:
[code]

There is probably something wrong with the SDP provided - I just could not figure out what.
In any case the error message is a bit ambiguous as all of the li

[2019-01-21 11:30] lminiero commented on #1496
Are you sure Gstreamer supports datachannels in the first place?

[2019-01-21 11:36] petergerten commented on #1496
@lminiero yes, gstreamer supports datachannels in master - will be available in the upcoming 1.16 release

[code]

src: https://gitlab.freedesktop.org/gstreamer/gst-plugins-good/blob/master/NEWS

[2019-01-21 11:37] petergerten commented on #1496
Ok, I will check why datachannels got rejected.

Regarding the parsing issue - do you have a suggestion on how I can debug that?

[2019-01-21 11:43] lminiero commented on #1496
I tried giving the string you provided to `janus_parse_sdp` and it worked fine, so it may be something that happens after we "anonymize" the SDP to pass it to the plugin. I'll have a look when I have some time.

I assume you're using master, right? I won't do anything if you didn't test the latest code.

[2019-01-21 11:56] petergerten commented on #1496
@lminiero I use a bit customized code - let me reproduce this with a clean master version and I will come back to you.

[2019-01-21 12:55] uxmaster commented on #1495
I'll try to run it with libasan.

[2019-01-22 03:10] kimilpyoung opened #1497 "if i add streaming plugin permanent info, then janus segment fault"
i used api and send
{ request: 'create',
  type: 'rtp',
  id: 33,
  description: 'domain',
  audio: true,
  video: true,
  audioport: 9000,
  audiopt: 111,
  audiortpmap: 'opus',
  videoport: 5800,
  videopt: 96,
  videortpmap: 'VP8',
  permanent: true }
 to my janus server

but janus is down with "Saving mountpoint 33 permanently in config file
Starting streaming relay thread
segmentation fault

[2019-01-22 03:56] kimilpyoung commented on #1497
i used websocket, and  disappears text in streaming.jcfg file  when an error occurs

[2019-01-22 07:41] lminiero commented on #1497
Please provide a gdb stacktrace or a libasan dump.

[2019-01-23 08:38] kimilpyoung commented on #1497
**this is core file gdb stack text**

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `bin/janus'.
Program terminated with signal 11, Segmentation fault.
#0  0x00007fd939d98dbc in config_setting_set_string ()
   from /lib64/libconfig.so.9

chat where

(gdb) where
#0  0x00007fd939d98dbc in config_setting_set_string () a

[2019-01-23 09:39] lminiero commented on #1497
As it's written pretty much everywhere, PLEASE DO NOT write dumps inline! They mess up references to old issues, and make issues unreadable. I've edited the formattation for you, I'll simply close the issue next time.

[2019-01-24 02:07] kimilpyoung commented on #1497
sorry for my mistake.. I'll be careful next time.

So.. you know anything about the cause?

Is it just a bug? Or is it my server problem?

[2019-01-25 01:40] saket424 commented on #1493
@petergarten,
I would appreciate an example and associated code and handlers for others who may want to reproduce the gst-webrtc and Janus interworking success that you had so they can use that as a starting point
Many thanks.

[2019-01-25 07:19] lminiero commented on #1493
Please discuss that offline, it's off topic here.

[2019-01-25 10:14] Musashi178 opened #1498 "Streaming mount point info lacks properties if no secret is set"
If requesting the info for a RTP streaming mount point where no secret has been set, no "admin" information will be returned like audio UDP or video UDP port.

The only workaround for this is to always use a mount point secret, but there might be situations where I do not want that.

[2019-01-26 11:28] oscarvadillog opened #1500 "Problem recoding SIP calls with recordings_tmp_ext"
I am using SIP plugin (v0.6.0) and I was testing the recording request.

The record files are correct, however, if you enable the recordings_tmp_ext and the SIP call is hung for any reason, the file is not being renamed by removing the temporary extension .tmp. I tried hanging up the SIP call from an Asterisk. It also happens if the browser of the SIP client is closed.

It seems to be a plugin iss

[2019-01-29 13:15] lminiero commented on #1498
Closing as we merged your fix.

[2019-01-29 13:15] #1498 closed

[2019-01-29 13:16] lminiero commented on #1500
It may be an issue with the recording code in the core, actually. I'm abroad for a few days, I'll have a look when I have some time.

[2019-01-31 09:33] DileepNunna opened #1504 "janus sending local ip in connection information (webrtc to sip call) even though nat_1_1_mapping ip available when janus behind NAT."
Installed janus server behind NAT (aws server). while doing webrtc to sip call, janus sending local ip in sip invite sdp connection information. janus not receiving any media packets from sip side due to local ip in connection info. so where i have to give public ip to get effect in sdp.

[2019-01-31 11:06] perlethandersen commented on #1497
I have the same issue. Whenever I try to create a mountpoint permanently to the configuration, I get segmentation fault. Happens locally as well as on my server.

[Backtrace](https://gist.github.com/perlethandersen/1d6e6b0e0ecdbbf927bec35e2f3943e7)
[address sanitizer](https://gist.github.com/perlethandersen/6b96c088880bdbfe8feb5c0112bb5963)

[2019-01-31 11:54] lminiero commented on #1497
Make sure you try with master, as I recently fixed an issue in the configuration management code in the core.

[2019-01-31 12:06] perlethandersen commented on #1497
It works now.

My mistake was that I hadn't pulled from master the last few weeks.

[2019-01-31 12:49] lminiero commented on #1497
Good to know that's fixed! I'll probably have to tag a new version soon, if 0.6.0 has this issue. Closing then.

[2019-01-31 12:49] #1497 closed

[2019-01-31 12:53] lminiero commented on #1504
Please describe the issue in the text itself, not just the title: the issue text is still the placeholder we add ourselves.

Is the public IP missing where? In the SDP Janus sends to the browser? Or to the SIP endpoint? If it's the former it's a bug; if it's the latter it's not, since the SIP plugin is configured in a different way, and the nat-1-1 mapping has no effect on plugins, only the core.

[2019-01-31 13:41] DileepNunna commented on #1504
Installed janus server behind NAT (aws server).  while doing webrtc to sip call, janus sending local ip in sip invite sdp connection information. janus not receiving any media packets from sip side due to local ip in connection info. so where i have to give public ip to get effect in sdp.

[2019-01-31 13:54] lminiero commented on #1504
Yep, then as I said, the nat-1-1 mapping only applies to the core, so the SDP on the WebRTC side. To do the same on the SIP side would need a new configuration property in the SIP configuration instead.

Have you already tried setting the public IP in the `local_ip` property of `janus.plugin.sip.jcfg` or `janus.plugin.sip.cfg`?

[2019-01-31 14:03] DileepNunna commented on #1504
yes, i tried by setting the local_ip in janus.plugin.sip.cfg. but janus verifying is a valid ip address or not (is the ip in the interfaces list or not). getting error 'Error setting local IP address to 52.10.x.x, falling back to detecting IP address...'.

[2019-02-03 07:57] johnpanos opened #1507 "SRTCP Unprotect Error while trying to"
I am currently using this gstreamer command to send video to Janus, and I'm getting the error below it when trying to view from the demo page.

I saw #108 which had the same problem, however I could not find a solution that'd apply to me.

Command:
`gst-launch-1.0 videotestsrc ! video/x-raw,width=1280,height=720,framerate=30/1 ! omxh264enc bitrate=1000000 ! h264parse ! rtph264pay config-interval=1

[2019-02-04 10:09] lminiero commented on #1507
That's an error for RTCP packets coming from the browser, so not sure what we have to fix in Janus. If you get `srtp_err_status_auth_fail`, then libsrtp is complaining about it, not us.

[2019-02-04 15:06] #1500 closed

[2019-02-04 15:08] lminiero commented on #1500
This commit should fix it, please let me know if that's not the case.

[2019-02-04 15:13] lminiero commented on #1504
Yeah, makes sense, that setting only constrains what we'll bind to, not what we'll put in the SDP. I'll take note of the fact that we need a new setting to set the public IP in the SIP plugin as well.

[2019-02-04 15:25] lminiero commented on #1495
@uxmaster any update on libasan?

[2019-02-04 15:40] uxmaster commented on #1495
Not yet. The crash didn't happen again.

[2019-02-04 15:52] #1504 closed

[2019-02-04 15:53] lminiero commented on #1504
This commit should fix it, see the new `sdp_ip` property you can set in the SIP configuration file: please let me now if that's not working for you. Please notice this only impacts the `c=` attributes in the SDP, and so only media, not signalling.

[2019-02-05 13:46] lminiero commented on #1495
Mh, looking at the backtrace again, looks like it originates in a `janus_rtc_mixer_thread` that is definitely not ours. Probably something broken in your code? Closing, feel free to reopen if you can replicate in existing plugins.

[2019-02-05 13:46] #1495 closed

[2019-02-05 14:48] uxmaster commented on #1495
It rather looks like something broken in the core, since plugins (mine as well) do not touch flags.

[2019-02-05 14:51] lminiero commented on #1495
My guess is that you're pushing RTP with `relay_rtp` after the handle was destroyed and the PeerConnection torn down, so after a `hangup_media` and probably a `destroy_session` too.

Since we don't have access to your code and we don't debug third party plugins, I can't help unless you can replicate on one of the existing plugins or find libasan info.

[2019-02-06 11:10] shrdlu68 commented on #6
I am facing this issue with current master.
Behind NAT, Janus registers with the internal IP address rather than the external one.
This happens despite using a stun server `-S` or specifying the external address `-1`.

[2019-02-06 11:23] lminiero commented on #6
@shrdlu68 please don't hijack old and closed issues, especially those from ages ago.

[2019-02-06 12:11] shrdlu68 opened #1509 "Janus sends internal address in SDP when behind NAT"
Similar to #6:
Behind NAT, Janus registers with the internal IP address rather than the external one.
This happens despite using a stun server `-S` or specifying the external address `-1`.

[2019-02-06 14:00] lminiero commented on #1509
You're not giving enough information. There's no registration in Janus.

Unless you're talking about the SIP plugin, and the related REGISTER requests sent on behalf of WebRTC users? If so, the settings you mentioned only refer to core stuff. Plugins are configured somewhere else, and the SIP plugin specifically in `janus.plugin.sip.jcfg`, which contains a NAT-related property.

Closing as not an

[2019-02-06 14:00] #1509 closed

[2019-02-11 17:30] mtbramo opened #1510 "Merged SDP not sent to event handlers"
Problem link to fix "Make sure the merged SDP is sent to event handlers".

It seems that it miss a call to method json_incref(merged_jsep) before sending the event to transport.

And the test line 2772 on jsep and not merged_jsep seems also not correct.

Regards,

 Eric.

[2019-02-11 17:37] lminiero commented on #1510
Mh, no need for a `json_incref`, we probably just have to use `json_object_set` instead of `json_object_set_new` at ~L2793:

	if(merged_jsep != NULL)
		json_object_set(event, "jsep", merged_jsep);

since AFAIK `json_object_set` adds a reference automatically. Can you check if it fixes it for you?

[2019-02-11 17:40] lminiero commented on #1510
Nevermind that, I see now that this isn't enough, as we still need to take a leak into account in case. I'll think of a fix and let you know.

[2019-02-11 17:42] mtbramo commented on #1510
Thanks lorenzo, I just forget to say that we get crashes on this event treatment.

[2019-02-11 17:44] lminiero commented on #1510
It seems to be working fine for me, though... anyway, it looks like a fix is needed anyway.

[2019-02-11 17:48] #1510 closed

[2019-02-11 17:49] lminiero commented on #1510
I've moved the event handler message before the API event itself: this ensures that the merged SDP is still valid at that point. Please let me know if it solves the issue for you.

[2019-02-11 18:10] mtbramo commented on #1510
Seems OK for me too. Thanks

[2019-02-13 09:15] marcelgoya opened #1512 "HTML video play function not working with Chrome 72"
Hi, I'm using the code from the streaming example, except that I'm triggering the start button and video selection programmatically. The problem is that the video stream does not start in Chrome 72 but does in Firefox. When executing the video.play() function I'm getting the following error:
[code]

[code]

I'm using the latest janus version (0.61).

Cheers,
Marcel

[2019-02-13 09:31] lminiero commented on #1512
As explained in the guidelines, please don't paste hige chunks of code inline here. Use a pastebin or gist link for the purpose.

[2019-02-13 10:12] uxmaster commented on #1512
@lminiero I think the guidelines should state "don't paste **any** chunks of code inline" because apparently, "hudge" is considered as something different for most of the contributors to Janus. It'll save your time for explanations.

[2019-02-13 10:14] marcelgoya commented on #1512
@lminiero @uxmaster Regardless, I remove the JS bit because the code was identical to the one from the streaming example anyway

[2019-02-13 10:23] renagaev opened #1513 ""Not a recording session, can't update" in Firefox 65"
Hi. I'm trying recordplay demo (https://janus.conf.meetecho.com/recordplaytest.html) in Mozilla 65.0.
First video records successfully but when I try to record the second video it fails with "Not a recording session, can't update".

How to fix it?

[2019-02-13 10:33] AKMishra22 opened #1514 "Janus not working with Digital Camera on Firefox"
**Steps to reproduce:**
1. Connect 'Sony hdr-cx405' camera to computer using video card
2. Open Firefox browser
3. Open below URL
    https://janus.conf.meetecho.com/videoroomtest.html

**Actual results:**
Janus Video room not working and throwing below ‘WebRTC error’
WebRTC error.. ("name":"NotReadableError","message":"Failed to allocate videosource"}

**Expected results:**

User should join to V

[2019-02-13 11:24] lminiero commented on #1512
@uxmaster I was referring to a previous version of the edit; I don't think your suggestion would work, because in my experience who opens issues rarely reads guidelines at all, which is why I have to appear as the Github jerk and say the same thing all over again.

Marcel has edited the content to meet my requirements, so thanks @marcelgoya.

[2019-02-13 11:26] lminiero commented on #1514
Looks like an incompatibility between Firefox and the camera+card you're using: nothing we can do on that.

[2019-02-13 11:26] #1514 closed

[2019-02-13 11:48] marcelgoya commented on #1512
@lminiero Ur welcome :)

[2019-02-14 09:54] renagaev commented on #1513
@lminiero, could you help with this?

[2019-02-15 03:27] postacik opened #1515 "Video call plugin - Trickle messages come before offer and accept"
I'm testing on master branch.

I enabled full trickle on Janus and while testing the video call plugin with the demo pages I noticed something weird.

![image](https://user-images.githubusercontent.com/3977227/52832638-7bdbe580-30ea-11e9-9c6d-ea8f4feca772.png)

Janus starts sending trickle messages before sending offer and the offer is accepted.

You can see it clearly in the attached image.

Is t

[2019-02-15 12:20] postacik commented on #1515
As Lorenzo stated in another discussion, this case is being handled properly in janus.js.

Closing issue...

[code]

[2019-02-15 12:20] #1515 closed

[2019-02-17 09:57] saravana87 opened #1516 "data streaming issue ( Can't add 'rtp' stream 'data-example': no datachannels support......)"
I tried to broadcast text using RTP using the following example

https://www.meetecho.com/blog/data-channels-broadcasting-with-janus/

but I got the following. could somebody help

[ERR] [plugins/janus_streaming.c:janus_streaming_init:1473] Can't add 'rtp' stream 'data-example': no datachannels support......

[2019-02-17 13:14] lminiero commented on #1516
You didn't install usrsctp or the configure couldn't find it. Closing.

[2019-02-17 13:14] #1516 closed

[2019-02-18 10:33] lminiero commented on #1513
Probably the PeerConnection was not closed, and so the "play" is trying to reuse the same PeerConnection as before instead of creating a new one: since that one was recvonly and used for recording, though, it can't be updated and you get the error.

Not sure why the PeerConnection is not being closed in your case, but it might be easy enough to force a hangup from the web page when the recording s

[2019-02-18 10:36] lminiero commented on #1512
You should check what causes the exception in your case, as your snippet doesn't say. Try wrapping the whole `onremotestream` code (I assume it's happening there?) in a try/catch to see if the exception manifests with more detail. If you're using an older janus.js, you may want to use a more recent one, as I remember adding those try/catches myself.

[2019-02-18 10:45] marcelgoya commented on #1512
Great idea, sorry I haven't thought about that. I'll get back to you once I got a more detailed error message.

[2019-02-18 11:14] #1513 closed

[2019-02-18 11:15] lminiero commented on #1513
Should be fixed now: it works as expected for me in Firefox 65.

[2019-02-19 12:56] Aidenhjj opened #1517 "Failure to load event handler plugin"
I've compiled Janus for Tx2 (aarch64), with [this](https://pastebin.com/QMFmGXSq) configuration.

When set:

`events: {
    broadcast = true
}`

In janus.jcfg, and:

`general: {
    enabled: true
}`

In janus.eventhandler.sampleevh.jcfg, I get:

[code]

[2019-02-19 13:46] lminiero commented on #1517
Looks like a missing `-lm`. Try adding it [here](https://github.com/meetecho/janus-gateway/blob/master/Makefile.am#L307) and recompiling.

[2019-02-19 15:13] Aidenhjj commented on #1517
Thanks. Great project by the way. Have added https://github.com/meetecho/janus-gateway/pull/1519 to resolve. If the pull request is badly formatted, please tell me, as I have 0 experience with github.

[2019-02-19 15:26] #1517 closed

[2019-02-19 15:26] lminiero commented on #1517
Thanks, I've added the fix myself then.

[2019-02-20 00:04] picitujeromanov opened #1521 "Replacing audio track with video track"
https://github.com/meetecho/janus-gateway/blob/1a9463ac742269979714e31349aef3382999b519/html/janus.js#L1554

[2019-02-20 11:58] lminiero commented on #1521
Good catch, thanks! I'll fix it shortly.

[2019-02-20 12:00] #1521 closed

[2019-02-20 12:05] lminiero commented on #1496
Closing as I assume this has been fixed. Feel free to reopen if that's not the case.

[2019-02-20 12:05] #1496 closed

[2019-02-22 08:41] naeem opened #1522 "Janus randomly crashing using sip plugin"
Hi

I'm using Janus as a SIP Gateway. It's currently running as an ubuntu docker container.

I cannot pinpoint to the scenario that's causing Janus to crash.
I've linked the [ASAN log](https://gist.github.com/naeem/011ce9a306887d225c37dac45ef42a4b)

Please guide me on how to fix this on janus_sip_handler plugins/janus_sip.c:2263

Thanks

[2019-02-22 09:52] naeem commented on #1522
I'm going to test this change, I have 0 c skills.

https://github.com/naeem/janus-gateway/tree/1522-null-session

[2019-02-24 02:48] TaoistKing opened #1523 "Streaming plugin act as callee"
Hello, I'm using Janus streaming plugin to stream audio to Chrome, in my applications i need the Chrome works as a offerer and the plugin works as answerer, so I made a bit modify of janus_streaming.c, I attached the sdp offer which created from Chrome to the watch request, and in the request handler I created sdp answer and send it to janus core and then back to Chrome, after then Chrome accepts

[2019-02-24 10:32] TaoistKing commented on #1523
thank you for reading this, the problem is solved. nothing wrong with the janus side, everything is good now.

[2019-02-24 10:32] #1523 closed

[2019-02-25 21:14] StephaneG31 commented on #1504
We have the same type of problem, and with this fix is OK.
But we still have a problem with Contact header.
We try to use behind_nat=true but we are on a local private network will internet access only available through a forward proxy.
Maybe sdp_ip must also be apply to Contact header? Or maybe a new parameter can fix our problem?

[2019-02-26 14:47] StephaneG31 opened #1526 "Janus sending bad IP in Contact Header"
With https://github.com/meetecho/janus-gateway/issues/1504, there's a new `sdp_ip` property you can set in the SIP configuration file (Sip plugin)
But in our case, the Contact header is not set to a good value (local IP and not floatting IP provided by cloud provider) and we don't use any STUN server and our network so `behind_nat = true` is not useful.

Is it possible to have a `contact_ip` in si

[2019-02-26 17:51] patrick-werner opened #1527 "Janus.isWebrtcSupported checks only navigator.getUserMedia"
Currently Janus.isWebrtcSupported checks only the deprectad navigator.getUserMedia, but WebRtc can also be supported through: navigator.mediaDevices.getUserMedia

https://github.com/meetecho/janus-gateway/blob/e027f0a03804d55e2865fd56aa1f4a408906e14b/html/janus.js#L384

[2019-02-26 17:54] lminiero commented on #1527
We actually only use `navigator.mediaDevices.getUserMedia` in `janus.js`, so that check is indeed broken. Thanks for the heads up, I'll fix it shortly.

[2019-02-26 17:56] #1527 closed

[2019-02-26 18:08] lminiero commented on #1526
I don't think there's a way to force what IP to show in the Contact header using Sofia SIP. Have you tried setting an `outbound_proxy` instead?

[2019-02-27 08:24] SArtemJ opened #1529 "Stop's events for streaming not working"
Hi!
I have some problems with getting janus events (plugin streaming), for example:
- create new stream (rtsp source)
- start stream from janus/demos/streaming web-page
- stop stream

From time to time i cant' get stream stop event  - not stable for both type (in my case) - mqtt/http
Here logs of events and janus actions [https://pastebin.com/DnVTCnfd](url)
gdb - no craches in this case
Why events

[2019-02-27 09:27] lminiero commented on #1529
Closing as there's a post here already: https://groups.google.com/forum/#!topic/meetecho-janus/UFixKP_l_80

[2019-02-27 09:27] #1529 closed

[2019-02-27 09:28] lminiero commented on #1522
Unfortunately the trace doesn't say much, if not the line number: it may be that `session->stack` is NULL or invalid there, but the trace doesn't say if it was previously freed. What fix were you trying to apply?

[2019-02-27 13:48] Bepartofyou opened #1530 "rtp timestamp accuracy"

[2019-02-27 13:50] Bepartofyou commented on #1530
file rtp.c

time_diff = (time_diff*90)/1000; 	/* We're assuming 90khz here */

accuracy lower than millisecond ？ not time_diff = (time_diff*90*1000)/1000;  ?

[2019-02-27 17:25] manifest opened #1531 "Add `opaque_id` to event messages along with `sender`"
There is already a way to pass optional `opaque_id` string identifier in "attach" request that may be used for [different purposes](https://github.com/meetecho/janus-gateway/pull/748).

The problem, it seems to be only accessible through Admin/Monitor API. In that case to map `sender` message field (or handle_Id) of event messages like "webrtcup", "hangup", "slowlink", etc. is only possible by per

[2019-02-27 17:34] manifest commented on #1025
I just want to mention, that there is an [RFC 7807](https://tools.ietf.org/html/rfc7807) describing error format.

[2019-02-28 01:32] #1530 closed

[2019-02-28 11:43] lminiero commented on #1531
I don't see why that's needed in the regular API. The opaque_id only makes sense for stats purposes, which is why it's only in the Admin API and Event Handlers.

[2019-02-28 12:15] naeem commented on #1522
I just added a null check on that line where it was crashing.
Janus has been up for 6 days now, previously it wouldn't last for more then 3 days.
I will monitor it for a few more days and then submit a pull request.

[2019-02-28 15:17] dimidiam opened #1532 "Headers on MacOS in Janus.useDefaultDependencies (janus.js)"
The Janus.useDefaultDependencies headers in the janus.js are not working with safari.

working (with safari and chrome) code below:
Janus.useDefaultDependencies = function (deps) {
.
.
.

httpAPICall: function(url, options) {
			// var fetchOptions = {
				// method: options.verb,
				// headers: {
					// 'Accept': 'application/json, text/plain, */*'
				// },
				// cache: 'no-cache'
			// };

[2019-02-28 15:38] lminiero commented on #1532
I don't see how that's supposed to work, since you're basically dropping the `Accept` and `Content-Type` headers. I'm not aware of any issue with Safari (IIRC we tested recently with success) so it looks more like an issue in your setup. If you can investigate more on why using fetch with Safari causes you issues happy to help, but I'm not going to apply the fix you suggested as it is, sorry.

[2019-02-28 15:54] lminiero commented on #1532
Maybe something CORS related?

[2019-02-28 16:08] manifest commented on #1531
In our case we have a web service in front of Janus Gateway implementing authorization and some additional API. Users connect to the web service and it relays request messages forward to Janus Gateway and response and event messages back to the users. In order to deliver response and event messages within active plugin handle a user created, we need to map session_id and handle_id to the particula

[2019-02-28 16:19] lminiero commented on #1531
Got it, make sense, thanks for the clarification :+1:
I'll still have to think about the possible implications, since `opaque_id` is supposed to be an application specific identifier, meaning applications may insert user-specific info there that's not supposed to be known to others than the user and the application itself (hence why it's only in Admin API and event handlers right now, for correlat

[2019-02-28 17:16] manifest commented on #1531
Thanks. IMHO, there shouldn't be any secrets on that level of API. I mean application developers should never mix secrets or authorization data with data. Looking forward for your decision.

[2019-03-01 07:48] dimidiam commented on #1532
I have to say that I am still on 0.52 version but I dont think the janus.js changed since then.
I dont know about the server implementation though.
On an older janus.js I have checked there arent any headers specified.

The strange thing is that it occurs not allways in the first, but in one of the first 3 posts of the session.
So some posts get through.
The error in the janus logs is unspecified.

[2019-03-02 07:09] SanskarSans opened #1533 "Can janus supports MCU so that we can record multiple streams?"

[2019-03-02 07:53] #1533 closed

[2019-03-02 08:03] SanskarSans commented on #1533
why is this closed without any comments? I am totally unsure if it support multiple stream recording or not so i can choose technology based on it for my product.

[2019-03-02 10:29] lminiero commented on #1533
1. we don't answer questions with no description;
2. we only use Github for code issues, not suggestions/questions; use the [group](https://groups.google.com/forum/#!forum/meetecho-janus) instead.

[2019-03-02 10:35] SanskarSans commented on #1533
Thank you. The description of my question is

There will be three streams which need to be recorded to the server separately. After that the recorded stream should be sent to somewhere like OBS studio for compositing. For this i wanted to ask if we can record 3 raw streams using MCU approach or not when using janus. Because in an example there is only stream shown for record so i wanted to ensure.

[2019-03-04 11:17] lminiero commented on #1512
Any update?

[2019-03-04 11:31] marcelgoya commented on #1512
@lminiero Not yet but I will have on tomorrow

[2019-03-04 11:48] lminiero commented on #1531
Well, that's up to applications, though, not me :smile:  If that's what they need for correlation purposes (e.g., to identify users when evaluating stats), the API and opaque ID allow for this.

Anyway, I'm adding support for this in an optional way via `janus.jcfg`: by default we behave as we've always done, unless you set `opaqueid_in_api = true` in the general configuration. That should cover y

[2019-03-04 11:50] lminiero commented on #1531
Forgot to tag the issue in the commit: this is it, https://github.com/meetecho/janus-gateway/commit/ddbf37fef43ade61d73173c7661a2449c13582d4
Closing.

[2019-03-04 11:50] #1531 closed

[2019-03-05 10:23] lminiero commented on #1526
@StephaneG31 any update on the suggestion above?

[2019-03-05 10:26] lminiero commented on #1532
You may want to check under what circumstances Safari decides to drop an outgoing request, especially when it contains a `Content-Type` or `Accept` header. From the very brief search I did it could be related to CORS settings, but I didn't dig deeper than that. If you investigate the possible issues (I don't have a Safari instance to play with myself) it might help us figure out a solution, otherw

[2019-03-05 10:27] lminiero commented on #1532
You may also want to open a post on our group, just to see if any other Janus user ever encountered the same issue, and if so how they solved it: https://groups.google.com/forum/#!forum/meetecho-janus

[2019-03-05 20:52] StephaneG31 commented on #1526
We try with outbound_proxy and we got 503 error
We try with a STUN in config, but the private address 192.168... is still used in the contact header.

[2019-03-06 17:50] amnonbb opened #1534 "Many feeds make cuted SDP"
I did test with many feeds.
And in room with 16 participants I got:
"WebRTC error: DOMException: Failed to execute 'setRemoteDescription' on 'RTCPeerConnection': Failed to parse SessionDescription. c=IN IP4 51. Invalid SDP line.\n"

jsep that come in "onmessage" callback was cuted
Actually I found that more than 8 feeds already do problem

https://pastebin.com/QRVwmYVr

In Janus log sup looks the

[2019-03-06 18:06] lminiero commented on #1534
Looks like the SDP is cut:

[code]

Probably the buffer we're using for the SDP is too small. I'll have a look.

[2019-03-06 18:08] lminiero commented on #1534
@amnonbb can you try changing the `char buffer[2048]` in `sdp.c` to `char buffer[4096]` or  `char buffer[8192]` and recompile to see if it fixes it?

[2019-03-06 18:18] tmatth commented on #1534
@lminiero also `g_strlcat` is being invoked with `JANUS_BUFSIZE` (i.e. 8192) as the `dest_size` argument, but it should really be sizeof(buffer), or buffer size should be increased to JANUS_BUFSIZE as you suggest:
https://github.com/meetecho/janus-gateway/blob/bb6e97adab70aec7c289c55f950d852b7514b28d/sdp.c#L1125

[2019-03-06 18:20] lminiero commented on #1534
@tmatth yeah, the 2048 there should just become `JANUS_BUFSIZE` as well, since it's what we use in the SDP utils too :+1:

[2019-03-06 18:21] lminiero commented on #1534
Should be fixed in that commit, so I'll close: @amnonbb please let me know if that's not the case.

[2019-03-06 18:50] amnonbb commented on #1534
It's did not help :(
I tried to put 16384 as well, and it's cuted in same place.

[2019-03-06 18:57] lminiero commented on #1534
Then you can try redefining JANUS_BUFSIZE itself to a larger value: I don't remember where it is (travelling right now) but it should be in one of the header files.

[2019-03-06 19:09] lminiero commented on #1534
Sorry, it's in sdp-utils.c and not one of the headers as I thought. If you change the define there it should be used wherever it counts.

[2019-03-06 19:25] amnonbb commented on #1534
Raised it to 16384 help. Now I can't test 16 feeds for now. Tomorrow I'll do that test

[2019-03-06 23:49] jeffreyb-arcules opened #1535 "MQTT Subscribe succeeds, Publish Fails"
I built janus 0.6.2 from scratch. I am running a local mosquitto broker without authentication or ssl.

Janus can connect to the broker, subscribe to topics, and receive messages, but, when it tries to publish its response it fails.  The error code is -15, which correspons to invalid MMQTT options. It feels like something in the configuration file might be missing...

Here is the log, thanks in ad

[2019-03-06 23:50] jeffreyb-arcules commented on #1535
here is the mqtt config:
$ cat etc/janus/janus.transport.mqtt.jcfg
# Configuration of the MQTT additional transport for the Janus API.
general: {
	enabled = true						# Whether the support must be enabled
	json = "indented"						# Whether the JSON messages should be indented (default),
										# plain (no indentation) or compact (no indentation and no spaces)

	url = "tcp://localhost:1883"		# Th

[2019-03-07 10:23] amnonbb commented on #1534
It's work. Thanks.

[2019-03-07 10:27] lminiero commented on #1534
Well, before closing I should apply the fix on the repo myself :smile:

I'm a bit hesitant to enforce such a big value for all SDP usages. I'm wondering if this might be done in a way that is aware of the number of m-lines: e.g., if we assume ~1000 bytes per m-line (just speculating, since you said 16k worked for your 16 participants), then we might just use buffers that are num*1000 large. I'll t

[2019-03-07 12:01] lminiero commented on #1534
For now I've simply used a larger buffer as you did in your tests. We can revisit this later on, if need be.

[2019-03-07 12:01] #1534 closed

[2019-03-07 15:04] ololobster opened #1536 "Latching is not working for RTSP stream"
See #1218 and 49416c2.

Janus uses wrong IP 0.0.0.0 to send UDP packages. Log:
[code]
Janus receives `c=IN IP4 0.0.0.0` from the camera, which is the cause of IP 0.0.0.0.
So there are no UDP packages from the camera (I am looking with wireshark). Log:
[code]
I tried to hardcode real ip into `source->rtsp_vhost` [here](https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_streaming.c#

[2019-03-07 15:13] lminiero commented on #1536
Looks like a problem in the RTSP server, not Janus. If `0.0.0.0` is what they put in the SDP, then clearly our latching packet will not reach the destination. They should insert a valid IP instead. Closing.

[2019-03-07 15:13] #1536 closed

[2019-03-09 01:48] evictor opened #1537 "recordplay files sporadically 8 bytes"
Same server, about half the time it is recording/saving videos just fine and reporting "File is x bytes" with the correct size, but the other half of the time I get logs similar to the following in which files end up as only 8 bytes and are clearly truncated (and the frontend thinks it is still recording). I believe the only different logs are the [ERR] ICE failure that you see for these error cas

[2019-03-09 08:18] lminiero commented on #1537
This is not an issue: files will be 8 bytes if they're empty, and they're empty because setting up connectivity failed due to ICE. As such, I'm closing the issue: feel free to discuss the reasons of why you're getting the ICE failures on our Google group instead (you may want to investigate with the Admin API first though).

[2019-03-09 08:18] #1537 closed

[2019-03-09 20:26] evictor commented on #1537
OK, thanks. I should have mentioned also that it is exact same client/network also. In other words in a vacuum sometimes ICE works, sometimes not. I assumed this would point to a Janus bug since there are no apparent external differences.

I will begin a discussion on the group.

[2019-03-11 07:33] shrdlu68 opened #1539 "SIP Plugin: sdp_ip property not working"
The `sdp_ip` property, which fixes #1504, does not work for us - Janus still sends the private IP (we have 1-1 NAT), which happens to be the value of the `local_ip` property.

We're still seeing `c=IN IP4 192.168.1.25` in SDP, where we expect the public IP we've set as the value of the `sdp_ip` property.

[2019-03-11 08:26] lminiero commented on #1535
Sorry but I'm not familiar with MQTT, and I have no idea of what -15 as an error means. You may want to investigate that and let us know, so that we can check if it's a bug in our code or something you're doing wrong.

[2019-03-11 08:34] lminiero commented on #1539
I assume by SDP, you mean on the SIP side, right? On the WebRTC side that value has no effect at all, it will be overridden by the core.

Try launching Janus with log level 5, and check if you see the log line we print [here](https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_sip.c#L1300) when we detect the `sdp_ip` setting. You should see something like this:

    IP to advertise

[2019-03-11 12:45] amnonbb opened #1540 "Send PLI on switch request"
Looks like in "switch" request we does not ask I frame from switched stream.

[2019-03-11 12:55] shrdlu68 commented on #1539
I am building in a container, turns out the layer was cached a while back.
Works now, thanks!

[2019-03-11 12:55] #1539 closed

[2019-03-11 13:42] marcelgoya commented on #1512
@lminiero Hi, I've finally managed to find the problem. It was basically Google Chrome not allowing the HTML video.play() function because I didn't add the muted tag. It is quite ridiculous because it referenced the MediaStream object as error source but didn't output anything when I used a try/catch clause inside the janus.js file (which was correct).

[2019-03-11 13:42] #1512 closed

[2019-03-11 13:45] lminiero commented on #1512
@marcelgoya thanks for the feedback!

[2019-03-11 13:46] marcelgoya commented on #1512
@lminiero Ur welcome, and thanks for trying to help me!

[2019-03-11 13:47] lminiero commented on #1540
Should be fixed now: https://github.com/meetecho/janus-gateway/pull/1459/commits/96febf86eb587face06c4a36cb35b2e9aede24d1
Thanks for the heads up and for testing this so intensively!

[2019-03-11 13:47] #1540 closed

[2019-03-11 14:52] amnonbb opened #1541 "Crash on switch from "empty" handle"
If feed leave but handle not destroyed on client side. If you try to do switch request Janus crash.
https://pastebin.com/WHW0CNUF

[2019-03-11 15:08] lminiero commented on #1541
Is this master of unified-plan? Looking at the snippet it looks like it's the latter.

Please, don't forget to reference the unified-plan when you create issues for that, otherwise it's very hard for me to track things and map them properly.

Doing it now for you: #1459

[2019-03-11 15:11] lminiero commented on #1541
Any chance you can get a libasan dump of when it crashes?

[2019-03-11 17:19] amnonbb commented on #1541
#1459
This? :-|
https://pastebin.com/atQtGUFf

[2019-03-11 17:22] lminiero commented on #1541
No need to reference the PR again, once is enough :smile:

Yep, that's the libasan trace, even though it doesn't seem to provide any useful information. Do you have some quick steps that I can follow to replicate consistently? I'm out of office today, but I'll have a look tomorrow. Thanks!

[2019-03-11 17:42] amnonbb commented on #1541
Sorry, im not hard git worker :smile:

We start from at least 2 subscribers
attach 1st
switch on 2nd
2nd leave
switch 1st - here :boom:

[2019-03-11 21:55] jeffreyb-arcules commented on #1535
Thanks for your response, I did look up error 15 and pasted in the original post. Perhaps it was too wordy:

[2019-03-12 10:07] vashi commented on #1536
Yes its maybe server bug. But its a plain web camera that can't fixed anyway. Moreover VLC plays this stream without any doubt. So, I think is better to create small workaround in Janus.

[2019-03-12 10:09] lminiero commented on #1536
We can't "invent" the remote address, so not sure which workaround we should create here... if you share (in a gist/pastebin) the SDP coming from the camera we can check if the address is available in some other field.

[2019-03-12 15:45] ololobster commented on #1536
Check out [RFC 4317](https://tools.ietf.org/html/rfc4317#section-5.3):

So camera's behaviour is correct.

We already have the remote address, we are sending DESCRIBE, SETUP and PLAY somehow.

[2019-03-12 16:03] lminiero commented on #1536
I think you're confusing a bit of concepts and putting them together. The excerpt you mentioned described the hold functionality, which is typically used in SIP when you want to temporarily put a call on hold: it has nothing to do with RTSP. In this case, yes, the camera is saying that it doesn't want any media in, which is exactly why we can't do latching.

There is absolutely no guarantee in RTS

[2019-03-12 16:54] kuzm1ch opened #1544 "Janus was died unexpectedly."
I've noticed a problem similar to this issue:
https://github.com/cargomedia/janus-gateway-audioroom/issues/38

FYI: In videoroom some users was in audio only mode.

 "commit-hash": "0f1dcfd7a18c5dc13e91ee7e5ec92270560f91d7",

Main log message from Janus:
[code]
And main log message from journactl:
[code]
More useful logs about the crash  from journalctl:  https://pastebin.com/rtLDwD0c

Also, CPU m

[2019-03-12 17:05] lminiero commented on #1544
Please try master, that commit is from 3 months ago.

[2019-03-12 17:06] lminiero commented on #1544
Make also sure you're using the master version of libnice and not a repo one.

[2019-03-12 17:20] kuzm1ch commented on #1544
@lminiero  There aren't not  many changes since commit 0f1dcfd7a18c5dc13e91ee7e5ec92270560f91d7 .
Also, seems like this issue is  related to glib (https://pastebin.com/rtLDwD0c ):
[code]
From my side I've rebuild janus according to your advise and ping if it will reproduce, but seems that this issue is  not occur frequenly ( cargomedia/janus-gateway-audioroom#38 ).

[2019-03-12 17:21] lminiero commented on #1544
Addressed in the FAQ, closing.
https://janus.conf.meetecho.com/docs/FAQ#ulimit

[2019-03-12 17:21] #1544 closed

[2019-03-12 19:03] lminiero commented on #1541
It should be fixed in the above commit, or at least I can't replicate it any more: the patch also solves a couple of other problems and crashes that were uncovered as part of the same tests. Notice that the fix now means that, although `switch` almost always does not trigger a renegotiation, it might in some cases, and your scenario is one of them: in fact, switching an stream inactive stream to a

[2019-03-12 19:03] #1541 closed

[2019-03-14 11:38] kkbpower opened #1546 "Android native(not browser) I met an error when I received offer"
I trying to implement Janus WebRTC in Android native.
I found odd problem.
I have Samsung Galaxy S9(v9.0), HUAWEI WAS-LX2J(v7.0) and Samsung Galaxy Note 4 (v6.0).
My code is fine on S9 and Note4. But Only occurred in HUAWEI.

I create PeerConnection with setRemoteDescription() when I received offer from another peer.
HUAWEI device always occurred onSetFailure() of SdpObserver when I call the setRe

[2019-03-14 11:48] lminiero commented on #1546
Sounds like that mobile device doesn't support H.264 in WebRTC. Not a code issue, so closing. You may want to ask on [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) instead.

[2019-03-14 11:48] #1546 closed

[2019-03-15 11:47] lminiero commented on #1535
I didn't change anything in the plugin code, and I tried using the same test client I used successfully months ago, but I'm getting the same error too now:

[code]

Unfortunately I'm not that familiar with MQTT, so no idea if anything changed in Mosquitto to cause this issue that never happened before. Pinging @manifest and @oej as they may know more.

[2019-03-15 11:49] lminiero commented on #1535
The MQTT event handler is affected too:

[code]

[2019-03-15 13:16] lminiero commented on #1535
Looks like we might have to explicitly specify the version field in the `MQTTAsync_responseOptions`, as this is what seems to trigger a `MQTTASYNC_BAD_MQTT_OPTION` error when sending a message with paho.mqtt.c:

		if (m->c->MQTTVersion >= MQTTVERSION_5)
		{
			if (response->struct_version == 0 || response->onFailure || response->onSuccess)
				rc = MQTTASYNC_BAD_MQTT_OPTION;
		}
		else if (m->c->M

[2019-03-15 13:20] lminiero commented on #1535
Yep, that was the issue, but for a different reason: we were not setting the `MQTTAsync_responseOptions` instance to 0 after declaring it, and so struct version was very likely different than 0 because we were not setting it. Fixing as I type.

[2019-03-15 13:21] #1535 closed

[2019-03-15 13:46] lminiero commented on #1526
Then I'm afraid you'll have to setup a STUN server to get the `natify` stuff to work, and enable `behind_nat`. Closing.

[2019-03-15 13:46] #1526 closed

[2019-03-15 13:46] lminiero commented on #1526
The STUN server you configure in `janus.jcfg` is only for the Janus core, not the SIP plugin.

[2019-03-15 13:57] lminiero commented on #1526
PS: the Sofia SIP documentation says that «[..] If there is no public address, it will try to generate a Contact URI from the "received" and "rport" parameters found in the Via header of the response message.», so you may want to make sure you're putting those values in the response.

[2019-03-15 15:26] lminiero commented on #1522
@naeem any update?

[2019-03-16 14:14] naeem commented on #1522
Hi, It hasn't crashed since putting that fix in.
I'll create a pull request

[2019-03-16 21:19] oscarvadillog commented on #1522
I use SIP plugin (v0.6.2) and it works without crashes for me. I am using
on Debian 9 64 bits. Whats the origin of the crash?

El sáb., 16 mar. 2019 15:14, Naeem Ally <notifications@github.com> escribió:

[2019-03-18 21:58] jsdir opened #1550 "replaceVideo/replaceAudio not working on iOS Safari"
Using `media.replaceAudio` or `media.replaceVideo` is failing on iOS Safari since none of the conditions required for using `RTCRtpSender.replaceTrack` (Firefox or Chrome >= 72) are met.

Instead, iOS Safari defaults to the following logic, which causes the RTCPeerConnection to send a second track for that media type without removing the first track.

https://github.com/meetecho/janus-gateway/blob

[2019-03-19 15:29] naeem commented on #1522
Unfortunately we have not been able to identify the cause as it seems randomly but it could very likely be a weird scenario in our app that is causing this.

[2019-03-20 10:27] lminiero commented on #1550
Just checking for the presence of `RTCRtpSender.replaceTrack` will not work. There are browsers (e.g., some older versions of Chrome that are probably still around) that had the method, but it didn't do anything: in that case, the feature would just fail.

We can modify the check we have so that if it's Safari, we use replaceTrack as well. I'd like to be sure all versions of Safari supported this,

[2019-03-20 11:35] #1550 closed

[2019-03-20 11:36] lminiero commented on #1550
Eventually decided to change the code to use replaceTrack in Safari too.

[2019-03-20 13:45] lminiero commented on #1550
Improved the check, as I wasn't 100% sure replaceTrack was available in all Safari instances or only TP. Please let me know if you have feedback or you can verify this introduces regressions (can't check myself, sorry).

[2019-03-20 21:52] bwerther opened #1552 "Video stream not connection with spec-compliant simulcast on Chrome M74+"
Hi Lorenzo,

I'm not sure if this should be working yet, but your recent merging of the simulcast-rid branch into master suggests it should.

I'm using the latest master (as of today), and both Chrome beta.M74 and canary.M75.

I've modified the janus.js addTrack code to do spec-compliant simulcast initiation:
[code]

Without the sendEncodings block, things work as they always have. With it, we see

[2019-03-21 12:52] lminiero commented on #1552
My guess is you've put the code in the wrong place. I've used this snippet to replace [this line](https://github.com/meetecho/janus-gateway/blob/master/html/janus.js#L1741) for my tests:

	if(track.kind === "audio") {
		config.pc.addTrack(track, stream);
	} else {
		config.pc.addTransceiver(track, {
			direction: "sendrecv",
			streams: [stream],
			sendEncodings: [
				{ rid: "h", active: true, m

[2019-03-21 13:05] lminiero commented on #1552
Or maybe the difference is in how you create the transceiver? type+encodings first, and track only after that.

[2019-03-21 13:38] qmohammed93 opened #1553 "mvideoroomtest.js missing mandatory element (feed)"
This issue is for PR #1459 (Unified Plan branch), on the latest commit as of now (4c9bbdd164b28277cd17a4bffcdd5729f1d5bf53). It occurs on the mvideoroomtest demo.

When I enter a display name and click "Join the room", I get a bootbox pop-up "Missing mandatory element (feed)" at the same time as the prompt for allowing camera/microphone.

In the Janus.log, I see the following error:
[ERR] [plugins

[2019-03-21 13:59] qmohammed93 opened #1554 "Typo/out of scope variable in mvideoroomtest.js"
https://github.com/meetecho/janus-gateway/blob/4c9bbdd164b28277cd17a4bffcdd5729f1d5bf53/html/mvideoroomtest.js#L260

It appears there's a typo here as we are trying to unsubscribe from the variable "leaving" which is undefined in this scope, shouldn't it be unsubscribeFrom(unpublished) over here?

[2019-03-21 15:15] lminiero commented on #1553
Tried earlier today and it works as expected for me. Are you sure the demo is talking to the unified-plan Janus, and not a "regular" one? The error makes me think it's a matter version of Janus that is receiving the request.

If you have steps to consistently replicate the issue, please let us know.

[2019-03-21 16:19] alienpavlov opened #1555 "Stream doesn't work in Chrome Canary version 75"
I'm using Canary version of Google Chrome (_Version 75.0.3739.0 (Official Build) canary (64-bit)_) and after some update Janus stopped to establish peer connection anymore.
I'm not sure if this issue related to https://github.com/meetecho/janus-gateway/issues/1552

But I've tested it on https://janus.conf.meetecho.com/echotest.html page and what I found:
<img width="971" alt="Screenshot at Mar 21

[2019-03-21 16:26] vivaldi-va commented on #1555
i've experienced this myself with the videoroom plugin. From what I can tell, it is due to the fact that chrome 75+ will drop support for TLS versions < 1.2, and as as result there are DTLS failures. Janus log output suggests that it expects or is receiving TLS 1.0.

[2019-03-21 16:27] lminiero commented on #1555
The hangup event says "dtls alert". You should check what the Janus logs have to say about that. No connectivity for me today (typing on my phone) so nothing I can do until tomorrow I'm afraid.

[2019-03-21 16:28] lminiero commented on #1555
Yeah that may be one of the causes. We use the generic DTLS stack in openssl which should offer both 1.0 and 1.2, not sure if the new Chrome will reject it.

[2019-03-21 16:30] bwerther commented on #1555
I just ran into this, and fixed it by upgrading OpenSSL to 1.1 on the
server. Now works fine.

On Thu, Mar 21, 2019 at 09:28 Lorenzo Miniero <notifications@github.com>
wrote:

[2019-03-21 16:38] lminiero commented on #1555
Which means that for pre-1.1 we need to use DTLSv1_2_method() instead of DTLSv1_method(). I'll take note of that to fix it when my ISP decides I can join the first world again.

[2019-03-21 16:44] lminiero commented on #1554
Good catch, yes that's a typo. Unfortunately I don't have connectivity at home right now: I'm answering from my phone. I'll fix this when it gets back.

[2019-03-21 18:00] bwerther commented on #1552
Thanks -- this was very helpful. I did the following and it started working (with all 3 simulcast streams). Looks like the key was calling addTransceiver with the track itself, rather than calling replaceTrack after creation.

Btw, the only issue now is that, when I switch the substream, it freezes for a 2-3 seconds and the video sometimes breaks up into a blocky mess (particularly when switching

[2019-03-21 18:01] qmohammed93 commented on #1553
Thanks for your response. You are correct the mvideoroomtest.js was running on a master Janus backend. No problem like this using Unified Plan branch Janus backend.

[2019-03-21 18:01] #1553 closed

[2019-03-21 18:47] qmohammed93 opened #1556 "ICE disconnects / fails when connecting 3 users to mvideoroomtest with data: true"
I am testing mvideoroomtest in PR #1459 (Unified Plan branch), using Firefox browser.

I set data: true where the comments recommended it for data channel use. I have set up ondataopen and ondata callbacks (for both the Janus.init and subscribeTo()). I've set data: true in three locations, two within the media object in publishOwnFeed() and remoteFeed.createAnswer() and a final one in the publish

[2019-03-22 16:30] lminiero commented on #1555
Fixed here: https://github.com/meetecho/janus-gateway/commit/435a1e91f1661e99d7a78c7953adfeedd95b66e3

[2019-03-22 16:30] #1555 closed

[2019-03-22 16:49] lminiero commented on #1552
Sorry, no time to look into this until the end of the month. If it turns up during the hackathon we'll see what causes it.

[2019-03-22 17:34] bwerther commented on #1552
Thanks Lorenzo.

On Fri, Mar 22, 2019 at 09:49 Lorenzo Miniero <notifications@github.com>
wrote:

[2019-03-22 17:37] lminiero commented on #1554
Fixed.

[2019-03-22 17:37] #1554 closed

[2019-03-22 18:17] lminiero commented on #1552
You can try the new `simulcast2=true` query string attribute in some of our demos (e.g., EchoTest, VideoRoom) to enable rid-based simulcasting in Chrome using janus.js: I just added it here, https://github.com/meetecho/janus-gateway/commit/0ba905deb50767d6332a6b4c8cb3163c0746b133

Just tested myself and I do get all layers, and apparently it works just as munging SDP does. That said, I only made a

[2019-03-22 19:03] bwerther commented on #1552
Thanks Lorenzo. I suspect there might be some problem upstream with the FIR
processing, but we can wait till you put it through its paces in the
hackathon.
Also perhaps delaying the switchover till the first iframe is seen on the
new su stream?

On Fri, Mar 22, 2019 at 11:17 Lorenzo Miniero <notifications@github.com>
wrote:

[2019-03-22 19:30] alienpavlov commented on #1555
Thanks everyone. Just tested in `Version 75.0.3739.0 (Official Build) canary (64-bit)` and it works as expected!

[2019-03-22 19:43] lminiero commented on #1552
We already wait for the keyframe.

[2019-03-23 00:42] bwerther commented on #1552
I found the problem. In janus_h264_is_keyframe it should return true for either the IDR (5) or SPS (7). It was checking for both of these in the case of a fragmentation unit, but only for the IDR in the case of the single unit. Adding the check for (fragment==7) gets rid of the substream-switching issues I was seeing. Here's the code:

[code]

[2019-03-23 07:25] #1552 closed

[2019-03-23 07:26] lminiero commented on #1552
Thanks, just fixed upstream!

[2019-03-23 13:26] lminiero commented on #1555
Mh, looks like the fix in https://github.com/meetecho/janus-gateway/commit/435a1e91f1661e99d7a78c7953adfeedd95b66e3 may not be working as I thought on older OpenSSL versions... despite the fact I'm explicitly using `DTLSv1_2_method()` there, if I have a look at the traffic with Wireshark DTLS 1.0 is still being used, causing failures. This means that at the moment the only way to get this working

[2019-03-23 13:30] lminiero commented on #1555
@alienpavlov did you get it fixed upgrading OpenSSL to 1.1, or with my fix? Just asking in case it's specific to the OpenSSL version on the instance I'm using to reproduce the issue.

[2019-03-23 14:12] lminiero commented on #1555
Scratch that, looks like it's working now... probably a compilation issue!

[2019-03-23 20:36] timsu opened #1558 "Can't removeVideo and then addVideo in videoroom plugin"
I'm using the videoroom plugin, and can successfully send audio and video. However, when a user tries to turn off their camera, there is a webRtc error.

Here is the Javascript code for removing video:

[code]

The error is "Failed to execute 'getUserMedia' on 'MediaDevices': At least one of audio and video must be requested"

The error is happening here in janus.js:
https://github.com/meetecho/ja

[2019-03-23 21:43] lminiero commented on #1558
I was aware that removeVideo had stopped working as expected, but didn't have time to look into it, so thanks for debugging and proposing a fix. A pull request would be welcome, thanks, I'll be happy to test and review.

[2019-03-23 21:58] timsu commented on #1558
Awesome. I have removeVideo working, but now when I try to re-add video, the other client doesn't get any jsep messages. All I get is the following mesasge:

`{videoroom: "event", room: <room id>, started: "ok"}`

Thus, no re-negotiation. Any ideas?

[2019-03-24 08:12] lminiero commented on #1556
I haven't tested datachannels in that configuration yet, so can't confirm it's an issue. I'm away for the IETF this week, so it may be a while before I can investigate.

That said, it looks like an ICE failure, so you may want to check the Admin API for the reason why it fails.

[2019-03-24 08:15] lminiero commented on #1558
Do you get an `onremotestream` when video is removed, with your changes? If not, that may be it. Not sure, away for the IETF at the moment so I don't know when I'll be able to check myself.

[2019-03-24 08:35] lminiero commented on #1558
Pretty sure it's because we're missing onmute and onunmute handlers on tracks, though, which we have in the unified-plan flavour of janus.js instead: https://github.com/meetecho/janus-gateway/blob/6a54e28554162cf1a8750ba5e36fdd8b55861ba7/html/janus.js#L1737

[2019-03-24 10:19] alienpavlov commented on #1555
just with your fix and it seems to be working, but I'm going to update to OpenSSL 1.1 anyway (current version is 1.0.2)

[2019-03-24 10:31] lminiero commented on #1552
@bwerther can you make some tests removing the two `==5` checks and only leaving `==7`? Not sure if we need the `start_bit` check either. Asking as during the hackathon and testing against Safari, we noticed artifacts when doing H.264 simulcasting, which _may_ have to do with the way we detect the keyframe detection: considering SPS/PPS packets may be sent in separate packets than the ones with NA

[2019-03-24 10:45] lminiero commented on #1552
Just FYI, I committed the fix here https://github.com/meetecho/janus-gateway/commit/86a00fe94879478197e66754503a4ba7757e9a06 as it seemed to do the trick in our tests. Please let me know if you encounter issues with that and we'll revisit.

[2019-03-24 23:46] bwerther commented on #1552
Thanks Lorenzo, I played with it a little, and I think I understand what is
going on a little better, and I don't understand a couple of things going
on.

- What we are really looking for when we switch is to know the SPS/PPS info
and see an NAL=5 keyframe. Without knowing SPS/PPS, an NAL=5 keyframe is no
help.

- The most conservative approach then, is to wait for NAL=7 SPS packets,
since we know

[2019-03-25 07:45] cosysun opened #1560 "janus error:1410242E:SSL routines:dtls1_read_bytes:tlsv1 alert protocol version"
hi, my webrtc server is base on janus, but recently i find webrtc dtls handshake always failed in chrome canary(chome 75), the reason is chrome 75 already remove support tls1.0 and 1.1 support, but my janus server dtls is support tls1.0. my openssl version is 1.0.2g. now how can i fix it. upgrade openssl version? thanks you.

[2019-03-25 07:47] lminiero commented on #1560
Either update to master (we have a fix for that) or upgrade OpenSSL to 1.1. Closing.

[2019-03-25 07:47] #1560 closed

[2019-03-25 10:56] lminiero commented on #1552
In WebRTC, a keyframe always includes a SPS AFAIK, so the fix we made should cover that, since we don't switch streams in simulcast until we get a keyframe for the new stream. Now we only use nal=7 (sps/pps) as an indication for a keyframe, and ignore 5.

The fact you only see normal quality at the beginning is normal, I think. The browser bandwidth estimator may take a bit to figure out it has en

[2019-03-25 11:19] cosysun commented on #1560
thanks. upgrade openssl version is ok.  and can you tell me what branch fix the problem.

[2019-03-25 19:49] bwerther opened #1561 "How to track status of simulcast substreams?"
Two scenarios I'm trying to figure out:

1) When chrome starts broadcasting with spec-compliant simulcast, I'm seeing that it doesn't start to stream the highest quality stream for a few seconds. I'm assuming that under the covers the browser hasn't yet enabled that MediaStreamTrack, but how can we know that it has become active so we can automatically switch up to it? (Right now it requires an ex

[2019-03-25 20:04] lminiero commented on #1561
Please post on the group, we only use github for issues. Closing.

[2019-03-25 20:04] #1561 closed

[2019-03-26 02:21] timsu commented on #1558
When I remove the track, I do get onRemoteStream. Here are the logs for removing track:

<details><summary>Remove Track Logs</summary>

[code]
</details>

Here are the logs for adding a track after that. It looks like the SDP doesn't come with video info.

<details><summary>Add Track Logs</summary>

[code]
</details>

[2019-03-26 02:46] timsu commented on #1558
From the SDP the problem seems to be that we're not sending video the second time.  Here are the logs on the publisher side when we invoke video the second time:

<details>

[code]
</details>

[2019-03-26 03:03] timsu commented on #1558
I noticed in the response coming back from the server:

[code]

And no video codec is returned.

[2019-03-26 03:57] timsu commented on #1558
Looked into the backend logs:

[code]

After that, both audio and video get dropped by the SFU.

[2019-03-26 09:18] kkbpower opened #1562 "[Android native] onDataChannel() never called."
this is my code.

peerConnection = factory.createPeerConnection(iceServers, new PeerConnection.Observer(){
    @Override
    public void onDataChannel(DataChannel dataChannel) {
        Log.e("DataC", "DataChannel onDataChannel");

        this.dataChannel.registerObserver(new DataChannel.Observer() {
          @Override
            public void onBufferedAmountChange(long l) {
                Log.

[2019-03-26 09:20] lminiero commented on #1562
Did you enable datachannels when compiling Janus? Anyway, not sure it can be considered an issue in Janus, especially if it works as expected with "regular" browsers.

[2019-03-26 09:23] kkbpower commented on #1562
@lminiero
Actually, I did not compiling. So I don't know.
If Janus was complied with disable datachannels, What can I do?

[2019-03-26 09:23] lminiero commented on #1562
Please check the README for instructions on how to build Janus with datachannels support. Closing.

[2019-03-26 09:23] #1562 closed

[2019-03-26 09:24] kkbpower commented on #1562
@lminiero
If Janus was complied with disable, I have to re-compile?

[2019-03-26 09:25] lminiero commented on #1562
To check if Janus has datachannels support, you can send an "info" request to Janus, or contact the `/janus/info` endpoint. For instance, this is the configuration of our online demos:

https://janus.conf.meetecho.com/janus/info

where you can see we have a `"data_channels": true` property.

[2019-03-26 09:25] lminiero commented on #1562
Yes.

[2019-03-26 11:38] kkbpower opened #1563 "sctp not found issue when I compile janus."
janus-janus.o: In function `main':
/home/ubuntu/janus-gateway/janus.c:3924: undefined reference to `janus_sctp_init'
/home/ubuntu/janus-gateway/janus.c:4424: undefined reference to `janus_sctp_deinit'
janus-dtls.o: In function `janus_dtls_srtp_create_sctp':
/home/ubuntu/janus-gateway/dtls.c:594: undefined reference to `janus_sctp_association_create'
janus-dtls.o: In function `janus_dtls_srtp_incom

[2019-03-26 12:57] lminiero commented on #1563
Is this from a clean install? Did you install usrsctp?

[2019-03-26 13:01] lminiero commented on #1558
I wasn't aware of the `summary` syntax for log snippets, very useful! Keeps threads very readable.

[code]

When you add video again after removing it, a new m-line is created instead of reusing the previous one. Since Janus master only supports the first audio and video m-lines, the other one is discarded and ignored. For unified-plan browsers, replaceTrack should be used in that case instead of

[2019-03-26 16:54] mykola-mokhnach opened #1565 "Configure script fails on OSX Mojave (Package 'libffi', required by 'gobject-2.0', not found)"
Just following the README:

`$ ./configure --prefix=/usr/local/janus PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig `

[code]

[code]

[2019-03-26 17:50] lminiero commented on #1565
Unfortunately I'm not familiar at all with Mac OS, so no idea what the steps to fix that would be. You may have better chances of solving this by asking on our meetecho-janus group too: I think more people will read it there than here.

[2019-03-26 17:53] timsu commented on #1558
Yeah, the SDP logs get super long, I thought there had to be a way using GH markdown.

From what I understand you saying, we can't use addTrack once we've sent a video track. However, once we've removed the track, we can't use replaceTrack either due to the following code:

https://github.com/meetecho/janus-gateway/blob/93186203676615bc9e494fb4df99b81bdccd33c1/html/janus.js#L1928-L1931
https://git

[2019-03-26 18:38] mykola-mokhnach commented on #1565
Thanks @lminiero. I'll try to ask there.

[2019-03-26 18:38] #1565 closed

[2019-03-30 10:12] ahmadazarnia opened #1566 "Send audio stream via janus"
Hi, I developed my app without any problem. Now, i have connected a device that sends audio stream to mobile via Bluetooth, How to send this stream(byte[]) into VideoRoom as a AudioTrack?

[2019-03-30 10:19] lminiero commented on #1566
Question for the [group](https://groups.google.com/forum/#!forum/meetecho-janus), as explained in the guidelines we only use github for issues. Closing.

[2019-03-30 10:19] #1566 closed

[2019-03-31 18:20] kiq7 commented on #1565
Same problem here :(

[2019-04-01 09:05] lminiero commented on #1532
Any update on your research?

[2019-04-01 09:10] lminiero commented on #1558
Apologies for the late response, I was away for the IETF and didn't have much time to catch up with Janus related activity.

Your suggestion wouldn't work as it wouldn't change the source. That might work if you're removing and re-adding the same source (e.g., webcam), but not if you want to remove a webcam, stay without video for a while, and then add screensharing or a different webcam. Besides,

[2019-04-01 09:10] lminiero commented on #1563
Any update?

[2019-04-01 10:12] lminiero commented on #1556
Mh, just replicated your issue, and it is indeed as you said: in my case the first user that joined had his publisher ICE state change for some reason, which makes no sense since it was not THAT PeerConnection that was being updated or established. As a result, the other two participants got no video from that user. I'll have a look to see what's going wrong, and to see if it's a client thing or a

[2019-04-01 13:09] lminiero commented on #1556
Ok, found out the issue: it was a missing unlock when updating a subscription, in particular when trying to add a second datachannel (that we prevent when we already have one). The relevant fix is here: https://github.com/meetecho/janus-gateway/pull/1459/commits/a0240a17afa7a1a6377a48ad6630b5d2b54f6ed7

[2019-04-01 13:09] #1556 closed

[2019-04-01 18:32] asadkhan77 opened #1568 "Porting Janus webrtc to windows"
I was successful in porting latest code to windows but at run time, I am getting "create" error. I am not sure what went wrong. Any help in this regard will be very helpful. Here is my output:
"janus
Janus commit: bf28e2121026b3f77658e8c5816b93f32587a96d
Compiled on:  Mon, Apr  1, 2019  1:33:52 PM

---------------------------------------------------
  Starting Meetecho Janus (WebRTC Server) v0.7.0

[2019-04-02 05:37] xinxi053 commented on #1124
libwebsockets: stable 3.1.0 (bottled)  still no websocket response.

[2019-04-02 06:10] dimidiam commented on #1532
No nothing yet.Still looking.
    On Monday, April 1, 2019, 12:06:11 PM GMT+3, Lorenzo Miniero <notifications@github.com> wrote:

Any update on your research?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-02 08:46] lminiero commented on #1568
Sorry, we can't help on issues for code that is not in the repo. I see you've posted on the group too, so the discussion can happen there.

[2019-04-02 08:46] #1568 closed

[2019-04-02 08:49] xinxi053 commented on #1124
Finally, when i downgrade to 3.0.0 stable, and compile manually,  it works! https://github.com/warmcat/libwebsockets/blob/v3.0-stable/READMEs/README.build.md

[2019-04-03 08:46] garg-geek opened #1570 "Stream not coming When publisher on chrome"
I had installed janus using master on ubuntu 18.04 . I am using video room plugin.  When publisher is on chrome, subscriber is not able to view feed but if publisher is on firefox it is working fine. In Logs, for publisher DTLS handshake completed log was not printed.  I checked the [Admin Api Response](https://pastebin.com/hCTAPkDr) and here also ready is false of dtls. I am using OpenSSL 1.1.0g.

[2019-04-03 08:52] atoppi commented on #1570
Hi,
with the same setup
[code]
videoroom (pub and sub) is working fine with both Chrome stable 73 and Chrome dev 75.

[2019-04-03 09:12] lminiero commented on #1570
As explained in the guidelines, questions like this belong to the [group](https://groups.google.com/forum/#!forum/meetecho-janus), we only use github to track issues. Closing.

[2019-04-03 09:12] #1570 closed

[2019-04-03 15:31] qmohammed93 opened #1571 "Configure request not renegotiating after first publish (Unified Plan)"
This issue was observed on videoroomtest in PR #1459 (Unified Plan branch), using Firefox browser.

When sending a configure request in an attempt to make changes to the published streams, the following errors pops up:

and renegotiation on the peer side does not occur.

We observed this error to be only on the Unified Plan branch, however it works correctly on master.

To recreate the issue follo

[2019-04-03 15:50] lminiero commented on #1571
No, `publishOwnFeed` won't update streams. It can only be used to publish the first time. The demo doesn't include any hook to the updated API to change what you publish: it's up to you to do for the time being. Closing as not an issue.

[2019-04-03 15:50] #1571 closed

[2019-04-04 09:08] kkbpower opened #1572 "Merge each recording file(combined to mp4) into a file."
Hey, long time no see.

I have a interesting question.
I already combine audio and video files into mp4.

If multiple peers are in a room, how to combine multiple mp4 into a file?

Like this:
merged_recording_file.mp4
included peer1.mp4 & peer2.mp4.
Not continue stream.

[2019-04-04 09:15] lminiero commented on #1572
As clearly explained in the guidelines, we only use github for issues, not questions or debugging. Please refer to the [group](https://groups.google.com/forum/#!forum/meetecho-janus) for that. Closing.

[2019-04-04 09:15] #1572 closed

[2019-04-04 09:16] lminiero commented on #1563
I assume it's not an issue anymore. Closing.

[2019-04-04 09:16] #1563 closed

[2019-04-05 10:07] vahidov opened #1573 "Segfault in lws_callback_on_writable when closing PC"
Not usually. I have two crashes during 10 days on highly loaded production

Janus commit: d76a2516e4dc91a16fd8a1e907288d317fb2d957
libwebsocket ver: v3.0.0-53

gdb - https://gist.github.com/vahidov/6bfa1ee8581c6a69f2f077b2be74902a

P.S. I'l try update libwebsocket to last version, will see, whats will happend.

P.P.S. Don't know - is this real issue or not. May be helps you. You may close ticket.

[2019-04-05 13:00] tmatth commented on #1573
@vahidov you'll want to compile libwebsocket with `-DLWS_MAX_SMP=1`

[2019-04-05 13:16] vahidov commented on #1573
@tmatth
this segfaults was with this libwebsockets build config

`cmake -DLWS_MAX_SMP=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_C_FLAGS="-fpic" .. && make && make install`

[2019-04-08 08:24] mykola-mokhnach commented on #1565
Figured this out. Needed to alter PKG_CONFIG_PATH and now it looks like that (considering libffi has been already installed with brew): `PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig:/usr/local/opt/libffi/lib/pkgconfig`

[2019-04-08 08:26] mykola-mokhnach commented on #1565
@lminiero I assume it makes sense to update the README

[2019-04-09 08:46] fancycode opened #1575 "Wrong extension id for encrypted headers"
In some cases, Janus is sending an answer with a wrong extension id if encrypted extension headers are used. You can test this by enabling the flag "Negotiation with encrypted header extensions for SRTP in WebRTC" in `chrome://flags`.

Offer from Chrome:
[code]

Answer from Janus:
[code]

Note that the extensions got mapped to the id of the encrypted version from the offer (that has the `urn:ietf:

[2019-04-09 15:00] atoppi commented on #1573
Next steps:
- enable AddressSanitizer
- enable debugging symbols (`-O1 -ggdb`) also in lws

[2019-04-10 09:34] DaGLiMiOuX opened #1576 "[ERROR] Failed to set remote audio description send parameters"
Hi there.

Referring to https://groups.google.com/forum/#!topic/meetecho-janus/zi1ECKDDALY where I posted that I have a problem with audio description parameters in videoroom plugin using Chrome 73.0.3683.90 for Android, I tried to test janus in your demo page https://janus.conf.meetecho.com/videoroomtest.html and the same error is thrown with your demo server.

[code]

I already updated gateway a

[2019-04-10 16:02] mykola-mokhnach opened #1578 "H264-encoded stream does not get properly shown in the client if received from a RTSP source"
Everything is done on the same machine (Ubuntu 18). Janus is built from source (master branch)

1. Start RTSP server on the main interface (we are using https://github.com/chriswiggins/rtsp-streaming-server, but any other would also be ok)
2. Start FFMpeg stream to this RTSP server

[code]

3. Configure streaming plugin, so it should autotetect stream type:

[code]

4. Start janus and open the str

[2019-04-11 13:42] atoppi commented on #1573
@vahidov Can you test with a lws `stable` branch ? Like for example `v3.1-stable`.

[2019-04-11 18:24] lminiero commented on #1575
We don't support encrypted headers yet, and they require ad-hoc negotiation as you pointed out. I'll keep the issue open as a memo that we need to implement it, but I'm not sure when that will happen: AFAIK they're still hidden behind a flag anyway.

[2019-04-11 18:27] lminiero commented on #1576
From the SDP you shared on the group, the one with extmap:0, it might be related to #1575. Do you have the encrypted RTP extension flag enabled? If so, we don't support them yet.

[2019-04-11 18:28] lminiero commented on #1578
Question for the [group](https://groups.google.com/forum/#!forum/meetecho-janus): as explained in the guidelines, we only use github for code issues. Closing.

[2019-04-11 18:28] #1578 closed

[2019-04-12 05:17] kkbpower opened #1580 "Admin api returns "Unhandled request 'list_session' at this path""
I sent HTTP request to Janus
curl --header "Content-Type: application/json" --request POST --data '{"janus":"list_session","transaction":"random_string","admin_secret":"my_admin_secret"}' https://domain/janus/admin

Then Janus returned this:
{
   "janus": "error",
   "transaction": "random_string",
   "error": {
      "code": 457,
      "reason": "Unhandled request 'list_session' at this path"

[2019-04-12 06:09] kkbpower commented on #1580
Okay. I found admin config in janus.transport.http.jcfg
And I changed enable from disable "admin_http" and "admin_https".

[2019-04-12 06:11] #1580 closed

[2019-04-12 06:59] fancycode commented on #1575
It's fine to not support encrypted extensions, that's why Chrome is offering the same extensions both encrypted and unencrypted. However it's not allowed to answer with the unencrypted extension but with the id of the encrypted extension:

Offer:
[code]

Answer:
[code]

The solution for now would be to ignore all encrypted extensions (that contain `urn:ietf:params:rtp-hdrext:encrypt`) and not use

[2019-04-12 07:08] fancycode commented on #1575
Thinking more about this, re-assigning ids should be fine (i.e. using `11` or any other number for `urn:3gpp:video-orientation` in my example), but replying with an id of `0` is not. For now the fix would be to ignore the encrypted extensions (which luckily are all using the dynamic id `0`).
However if Chrome would change the order in the SDP and use assigned ids for the encrypted extensions and `

[2019-04-12 07:21] fancycode commented on #1575
Fix available in #1581.

[2019-04-12 08:09] DaGLiMiOuX commented on #1576
It worked disabling "Negotiation with encrypted header extensions for SRTP in WebRTC" in `chrome://flags`. Thank you.

Also, I saw that you have a pull request to ignore SRTP when modifying SDP. I will update when it is merged to master :)

Br,
D.

[2019-04-12 08:27] SadSeep opened #1582 "SIGSEGV in librabbitmq"
Hi,
    i am trying out the videoroom plugin with rabbitmq as transport between my server and janus. as the number of participants in the room (who both publish their own stream and subscribe to others) increase, janus crashes. running with gdb, output log displayed is

[code]

I have no idea what is going wrong and it seems to occur every now and then. I am unable to scale my videoroom because of

[2019-04-12 08:59] lminiero commented on #1582
Please provide a libasan dump: https://janus.conf.meetecho.com/docs/debug
The trace you pasted is insufficient to investigate the issue.

[2019-04-12 08:59] lminiero commented on #1576
Ack, closing then :+1:

[2019-04-12 08:59] #1576 closed

[2019-04-12 09:06] Tobiasz-Rumian opened #1583 "n.setDirection is not a function. (In 'n.setDirection(\"sendonly\")', 'n.setDirection' is undefined) on Safari 12.1"
When connecting to Janus from Safari 12.1 the bellow errors appears:

`[Error] WebRTC error: – {code: undefined, name: "TypeError", message: "n.setDirection is not a function. (In 'n.setDirection(\"sendonly\")', 'n.setDirection' is undefined)"}
	error
	error (videoroomtest.js:419)
	(anonymous function) (janus.js:2307)
	promiseReactionJob`

`[Error] WebRTC error: – "enumerateDevices error"
	error

[2019-04-12 09:32] lminiero commented on #1583
Yeah, it looks like it's related to the fix @alienpavlov made in #1567. You don't see it on Chrome and Firefox because it's specific to Safari. Have you checked if reversing that PR fixes it for you?

[2019-04-12 10:48] Tobiasz-Rumian commented on #1583
Unfortunately reversing that PR doesn't help. Now there is no `setDirection` in code but the error is still the same. It looks like some internal function is failing but it makes no sens to me.

[2019-04-12 10:53] lminiero commented on #1583
Have you checked if it isn't a caching issue?

[2019-04-12 10:59] Tobiasz-Rumian commented on #1583
Yep. Twice.

[2019-04-12 11:04] lminiero commented on #1583
Then no idea, I'm not a Mac OS or Safari guy :slightly_smiling_face:
I'll try to have a look later with the old machine we have to see if can spot the reason. If you manage to get it working in the meanwhile, pull requests are always welcome of course!

[2019-04-12 11:32] SadSeep commented on #1582
Hi,
    Here is the link to the logfile after configuring with libasan-> https://pastebin.com/KsjaSjNG .

[2019-04-12 12:02] Tobiasz-Rumian commented on #1583
I found that the error is in implementation of `createOffer` (line 2532 `config.pc.createOffer()`) on Safari.
When you pass media constraints to it the implementation fails. With no constraints the connection is working fine but I think they were there for a reason so it's not a proper fix.

[2019-04-12 12:19] Tobiasz-Rumian commented on #1583
#1584

[2019-04-12 13:52] atoppi commented on #1573
Hi @vahidov,
I have edited the issue title and attempted a fix in #1585.
Can you give it a try?

[2019-04-12 13:55] alienpavlov commented on #1583
If it relative to my PR https://github.com/meetecho/janus-gateway/pull/1567 I think I can improve it from `if (audioTransceiver.setDirection) {...` to `if (typeof audioTransceiver.setDirection === "function") {...` it will make sense only when **setDirection** property exist and it is not a function, but  to be honest I think the problem is somewhere in another place - which allows us to get into

[2019-04-12 13:57] vahidov commented on #1573
@atoppi
FYI: Till now (5 days) without crashes.
On monday I'll try build janus with yours fixes and stable libwebsocket. After - write you, if something happened.

Thanks.

[2019-04-12 14:00] vahidov commented on #1583
@Tobiasz-Rumian whats ver of webrtc-adapter are you using? Guess - 6.4.8. In this version Safari 12.1 has an error `n.setDirection is not a function`

[2019-04-12 14:02] lminiero commented on #1583
@vahidov meaning we should just change the version of the adapter in our demos? I think we still have `6.0.3` there.

[2019-04-12 14:03] atoppi commented on #1582
Hi @SadSeep,
if you still have the `core` file, can you head to `#2` frame and print out the value of `payload_text` ?

[2019-04-12 14:05] vahidov commented on #1583
@lminiero yep.
But 7+ version of webrtc-adapter didn't support old browsers (Chrome <52, FF < 48
etc)

[2019-04-12 14:10] Tobiasz-Rumian commented on #1583
@vahidov 6.0.3 The one from the demo. I've checked with the new version and you were right. The problem is old webrtc-adapter.

[2019-04-12 14:15] lminiero commented on #1583
I'm not sure we can just move to 7.x, as I don't know how many people still depend on older browsers. @Tobiasz-Rumian can you let me know if commenting out the `offerToReceiveAudio`/`offerToReceiveVideo` lines fixes it for you?

[2019-04-12 14:19] Tobiasz-Rumian commented on #1583
@lminiero Yes. After commenting out
`
			 mediaConstraints["offerToReceiveAudio"] = isAudioRecvEnabled(media);
			 mediaConstraints["offerToReceiveVideo"] = isVideoRecvEnabled(media);
`
it looks like the application is working fine.

[2019-04-12 14:20] lminiero commented on #1583
Ok, so then that was the issue. My guess is that we should extend the "Firefox only" branch we have now to any browser that does unified (so Chrome >=72 and Safari). This way, Safari will do the proper thing with transceivers, rather than use those broken constraints. I'll prepare a commit for that.

[2019-04-12 14:26] mtltechtemp commented on #1583
As i said `getSupportedConstraints()` seems like a better deal.
Maybe we can do both ? `unified` + `getSupportedConstraints()` to get something robust.

[2019-04-12 14:27] #1583 closed

[2019-04-12 14:28] lminiero commented on #1583
Integrating `getSupportedConstraints()` requires much more work than I'm willing to do to fix this, honestly...

[2019-04-12 14:31] mtltechtemp commented on #1583
I could help.

But, you should at least use it to make a condition before entering the block.

[2019-04-12 15:06] amnonbb opened #1586 "Crash after commit a0240a1"
#1459
After [last](https://github.com/meetecho/janus-gateway/commit/a0240a17afa7a1a6377a48ad6630b5d2b54f6ed7) commit,
Janus crash if I use DataChannel in videoroom.
In every crash the dump is same:
https://pastebin.com/63NFbkgv

It's happen (but not always) when publisher join in room.

[2019-04-13 09:10] SadSeep commented on #1582
I do not have the log file, but i should be able to reproduce this again. Please provide me more info on this "payload_text". What exactly am i looking for? what is frame #2?

[2019-04-15 09:56] vahidov commented on #1573
@atoppi during weekend was another same crash.
I'm started production on #1585. Lets see.

[2019-04-15 09:56] #1573 closed

[2019-04-15 10:06] vahidov opened #1588 "Segfault in janus_ice_setup_local"
Janus commit: ce8255e56b4a1cecc992cd55633bcdb1ef88cfe7
gdb - https://gist.github.com/vahidov/fc80b43ac9a51a8585ba5dcb132941f0

[2019-04-15 10:22] atoppi commented on #1588
Hi @vahidov,
unfortunately the trace is not very useful because the crash is deep in libnice and the symbols are not available.
Which version of libnice are you using? Try first with a recent version (`0.1.14` or greatest).

If you are compiling the library from the sources, please enable the symbols and report the same backtrace.

[2019-04-15 10:25] SadSeep commented on #1582
Hi,
    I have attached both the log file(from the beginning of room creation to janus crashing) and a screenshot of the libasan output.

In the log file,
   The log file is pretty big. Kindly, scroll towards the end of the file. It would seem that the last request being sent is a "hangup" followed by a "detach".

The log file->[janus_apr_15_1_debug5.log](https://github.com/meetecho/janus-gateway/

[2019-04-15 10:30] vahidov commented on #1588
I'm using libnice-dev in debian:stretch (ver 0.1.13-2)

Will try compile from sources with recent version.

[2019-04-15 13:07] lminiero commented on #1586
Looks like it crashes when unlocking a mutex, so no idea on the cause. You should try compiling with libasan support to see if the cause is a freed pointer.

[2019-04-15 13:29] lminiero commented on #1575
Closing as it should be fixed in the commit above.

[2019-04-15 13:29] #1575 closed

[2019-04-15 14:01] lminiero commented on #1582
Please don't post screenshots... there's nothing I can do with them. I can't parse them, can't copy, nothing. Paste the content as a gist/pastebin link instead. Thanks.

[2019-04-15 14:03] lminiero commented on #1582
That said, it might be a jansson object (JSON) that is being accessed after it's been destroyed, but since there are no line numbers there, no clue on why/where/when.

[2019-04-15 14:19] #1522 closed

[2019-04-15 14:20] lminiero commented on #1522
Implemented a slightly different check than the one you had, and added an explicit error that should make it easier to track should it happen again.

[2019-04-15 14:29] lminiero commented on #1473
@IvanMorozoff just a quick note to explain I have not forgotten about this. I'm keeping the issue open as a memo, as it will be part of the effort needed whenever we'll start working on bridging extensions.

Let me clarify why it isn't simply a matter of negotiating the extension also on the callee's side, that is where we offer. If we did that, then the callee would add the RTP extension with the

[2019-04-15 14:31] lminiero commented on #1387
Closing as we don't plan to do that.

[2019-04-15 14:31] #1387 closed

[2019-04-15 14:58] SadSeep commented on #1582
Sorry about the screenshot. Here is a pastebin link to a libasan output of one such case.
https://pastebin.com/kKzKmFHV

[2019-04-15 17:44] petergerten opened #1589 "datachannel issue - Can't add 'rtp' stream 'test': no datachannels support......"
When enabling datachannel support in the streaming plugin I get:

`Can't add 'rtp' stream 'dummy': no datachannels support......`

Though this looks like https://github.com/meetecho/janus-gateway/issues/1516 I am pretty sure I have datachannel support:
[code]
Janus 0.7 (git master from today)

[2019-04-15 18:06] petergerten commented on #1589
After setting up everything from scratch in a docker container to make it reproducible, I could not reproduce the above issue but get:
[code]

[2019-04-15 18:23] amnonbb commented on #1586
https://pastebin.com/Zbs6NPuV

[2019-04-16 08:09] petergerten commented on #1589
It tuned out my client had an issue with BUNDLE support and returned an invalid SDP.

[2019-04-16 08:09] #1589 closed

[2019-04-16 08:15] lminiero commented on #1586
Ah ok, another unlock without a lock... I'll have to check what the path that leads to it might be.

[2019-04-16 09:44] lminiero commented on #1586
I'm pretty sure this commit fixes it: https://github.com/meetecho/janus-gateway/pull/1459/commits/43aeb9134800cc724f10407f24b5ea84177963e0
There was an extra unlock that could happen inside a while (indeed related to datachannels), which could still lead to the mean unlock in the for, and I guess that's what was happening to you.

Closing, feel free to reopen if still an issue.

[2019-04-16 09:44] #1586 closed

[2019-04-17 10:13] SadSeep commented on #1582
Hi,
     I tried the same using address sanitizer. This link contains the crash log -> https://pastebin.com/viBSW4TE

It points to L:755 in janus_rabbitmq.c. The method being called is "json_dumps". Do advise on how to proceed further.

[2019-04-17 15:22] atoppi commented on #1582
@SadSeep are you running a customized plugin or just the plain videoroom plugin ?

[2019-04-17 15:36] SadSeep commented on #1582
@atoppi  no, I am not using a customized plugin. I am using the plain videoroom plugin.

[2019-04-17 15:50] atoppi commented on #1582
@SadSeep try with latest `master` please, we are looking into this

[2019-04-17 15:54] SadSeep commented on #1582
ok, i'll try and let you know. Thank you.

[2019-04-17 20:20] StephaneG31 opened #1591 "Sip plugin, Re-Invite from remote part and Chrome DTMF"
Hi,
I will try to explain a problem in our use case.
We use Janus just as a SIP Gateway to join some conference call.
So we need to use DTMF.
With Firefox it works, DTMF also.

With Chrome, DTMF are ignored or not received by our audio conf call bridge.

UserAgent <=> Janus <=> SBC....SBC <=> AudioBridge Application Server

When negotation SDP, Chrome for DTMF send
`a=rtpmap:126 telephone-event/80

[2019-04-17 21:11] dnish opened #1592 "Videocall plugin: Renegotiation not working correctly"
I'm establishing a connection between an iPhone with iOS 12.2 and Google Chrome on MacOS. Everythings works finde until I request a renegotiation on the iPhone. This is what happens when I click on the "switch camera" button:

[code]

The local video source changes and I see the content from the rear camera. But after calling this function, all remote streams are stopped - <code>onremotestream</co

[2019-04-18 08:43] DaGLiMiOuX commented on #1583
It worked. Need a fix in janus.js like this:

    function createOffer(handleId, media, callbacks) {
        ...
                } else if (Janus.webRTCAdapter.browserDetails.browser !== "safari") {
			mediaConstraints["offerToReceiveAudio"] = isAudioRecvEnabled(media);
			mediaConstraints["offerToReceiveVideo"] = isVideoRecvEnabled(media);
		}
        ...
    }

[2019-04-18 08:56] lminiero commented on #1583
I already fixed this in master a week ago :wink:

[2019-04-18 09:04] lminiero commented on #1591
I don't remember exactly how we integrated the renegotiation support in the SIP plugin, but we do forward the SDP if there are media changes IIRC (e.g., you add or remove audio/video), and don't otherwise (e.g., for onhold we don't). It's very likely that this change in payload type doesn't trigger that renegotiation towards the browser, and I honestly don't know if the browser would accept the re

[2019-04-18 09:22] lminiero commented on #1592
If it works fine on the Mac, it means we're doing the right thing, and the issue is very likely in iOS or the way the JSEP API is used there.

[2019-04-18 09:25] dnish commented on #1592
@lminiero Yeah, on another project we are using simple-peer, and there renegotiation also works on iOS. I'll post some logs what happens when I negotiate again, maybe someone can see why both remote streams stop.

[2019-04-18 09:26] lminiero commented on #1592
You should share the SDPs instead: original offer/answer, and subsequent offer/answer. Not pasted here, of course, but on services like gist/pastebin.

[2019-04-18 10:22] dnish commented on #1592
@lminiero Yeah, I will do this this evening. I can confirm that the issue also exists on Safari (MacOS). After renegotiation, both remote streams stop, but local streams are still working fine.

[2019-04-18 11:29] dnish commented on #1592
This is what I get in Safari after renegotiation:

https://gist.github.com/dnish/ae5e30cde398fb25120a894959bf293f

and Chrome shows the following information within the logs:

https://gist.github.com/dnish/6a5e3bddaba113ec8186e0a24767148e

[2019-04-18 11:43] lminiero commented on #1592
I'll wait for the SDPs, no time to look at big logs now sorry.

[2019-04-18 13:42] dnish commented on #1592
Okay,
this are the SDP logs I get within Safari:

https://gist.github.com/dnish/04b879f29782fdd08ab340dd6bb7899c

and here comes Chrome:

https://gist.github.com/dnish/27d1f4932481c61cd874fd6b63ac4daf

I've noticed that after wating some time (about a minute), the remote stream on Safari starts working again - but on Chrome it doesn't start again.

[2019-04-18 13:55] lminiero commented on #1592
I need the original offer/answer as well, not just the renegotiation, to see if there's anything different in the second round.

[2019-04-18 14:47] dnish commented on #1592
Ohh okay, hope this will help you:

Safari: https://gist.github.com/dnish/b621efe016f5f67b6989e8ea2834b6da
Chrome: https://gist.github.com/dnish/bf06da8f622347b3db53099bc54d895a

[2019-04-18 15:05] StephaneG31 commented on #1591
@lminiero thanks.
We try a brutal patch, before https://github.com/meetecho/janus-gateway/blob/master/html/janus.js#L2548 we add

[code]
and it works !!!!

[2019-04-19 10:43] jryiz opened #1593 "Videoroom plugin in ios12.2 safari can not use the back camera"
Janus.listDevices
navigator.mediaDevices.enumerateDevices can get 3 devices with face camera's deviceid and audio's deviceid ,but back camera is empty string.

in the videoroom demo(https://janus.conf.meetecho.com/videoroomtest.html) got an webrtc error..."enumerateDevices error" in ios12.2's safari

[2019-04-19 10:48] lminiero commented on #1593
Not a Janus problem, since enumerateDevices is a browser thing. Closing.

[2019-04-19 10:48] #1593 closed

[2019-04-21 16:25] amnonbb commented on #1455
#1459
For me it's happened something like three times in last month.
The problem is that occur once a week.
I use libnice 0.1.14.1
I'll try last master and will give feedback here.

[2019-04-22 13:21] SadSeep commented on #1582
Hi,
     I tried reproducing the same using the latest commit. So far, janus hasn't crashed. i'll conduct the same test cases over the next few days and let you know of the same. Thank you for the commit.

[2019-04-22 21:48] daviddean99 opened #1595 "Returning Janus API error 465 (Error processing SDP)"
I'm passing a clients SDP from my SIP server (Kamailio) to the Janus echo plugin via the API.

When parsing the SDP, Janus fails with the message "Error processing SDP".

But even with the log levels turn up to 7 Janus does not indicate what is wrong with the SDP.

I think the issue is because the SIP client doesn't support ICE, so there are no candidates in the SDP, but that's just a guess. I wou

[2019-04-23 10:34] lminiero commented on #1591
Good to know that small hack does the job! I'll keep note of the fact we need to fix this renegotiation issue in Janus itself, though.

[2019-04-23 10:37] lminiero commented on #1592
I don't think the "switch camera" feature you added is doing its job. In the renegotiation, the offer has `recvonly` video, which means you're telling your peer that from now on you won't send any video, but only receive it, which is why video is `sendonly` in the answer. As such, it's normal that your video disappears in the session after that.

[2019-04-23 10:39] lminiero commented on #1595
You're trying to pass a non-WebRTC SDP to Janus, which is not allowed: ICE, DTLS and SRTP support are required. If you want to interact with legacy devices, e.g., a SIP endpoint, you should use the Janus SIP or NoSIP plugins instead.

[2019-04-23 10:39] #1595 closed

[2019-04-23 10:40] lminiero commented on #1595
PS: please, as explained in the guidelines, no huge chunks of text inline, use gist/pastebin or similar services next time.

[2019-04-23 10:47] dnish commented on #1592
@lminiero But I don't have anything in the code which changes the offer to <code>recvonly</code>. Also Chrome to Chrome is working fine after renegotiation. I've also recognized that renegotiation on simple-peer also stopped working since iOS 12.2 (still works on 12.1). So probably it's an issue with Safari.

[2019-04-23 13:26] daviddean99 commented on #1595
I checked the noSIP plugin documentation, but it seems to only enable communication between two endpoints. I was hoping to enable a legacy device (i.e a SIP endpoint) to use the Janus echo or conference bridge plugins.

[2019-04-23 13:29] lminiero commented on #1595
Yeah, that's not possible: those plugins are only available to endpoints that really "speak" WebRTC. You can probably achieve that result via a bit of "orchestration" (e.g., application server that picks NoSIP generated WebRTC offer from SIP endpoint and uses it as an offer for the EchoTest). Anyway, this kind of discussion belongs to our [group](https://groups.google.com/forum/#!forum/meetecho-ja

[2019-04-24 08:50] dmakeev opened #1596 ""Unsupported codec 'none'" for Safari 12.1"
Hello!

Connection to Videoroom from mobile Safari 12.0-12.1 fails with error:

[code]

While video codec (h264) presents in sdpOffer:
[code]

Safari 12.2 / Android devices / browswers (Chrome and FF) works well (as they can use vp8/vp9).
I found similar issue: https://groups.google.com/forum/#!topic/meetecho-janus/uyMLiUi3DBM, but in my case both video and audio are enabled:
[code]
Janus is actua

[2019-04-24 08:50] lminiero commented on #1588
@vahidov any feedback?

[2019-04-24 08:52] lminiero commented on #1596
The codec `none` is a red herring, it's a warning from the core. You created a VP8 only room (the default) and are trying to publish using H.264, which is rejected. Closing.

[2019-04-24 08:52] #1596 closed

[2019-04-24 09:25] lminiero commented on #1591
Mh, looks like we're not just answering ourselves instead of involving the browser when nothing changes, as I remembered: we _always_ do that for re-INVITEs. Looking back at #1099 (which is where we added support for renegotiations) it's apparently because we implemented support for sending re-INVITEs, but kept the previous behaviour for incoming re-INVITEs instead (just send a 200 OK back and ign

[2019-04-24 09:26] lminiero commented on #1588
We'll wait until you test with a recent version of libnice.

[2019-04-24 10:58] StephaneG31 commented on #1591
Happy to read this, we use Janus for a very specific scenario and only you can be aware of backwards compatibility.
Toggle option is a good way.
We will test it as soon as it will be available and after merging to ours others diffs in the SIP plugin.
We have made some security mechanisms for signing messages between clients and Janus, we hope one day we can make a pull request (for Sip plugin or m

[2019-04-24 11:04] lminiero commented on #1591
Pull requests for that would be more than welcome! If you have anything SIP specific you changed, feel free to anticipate what you're planning to share: I'm going to present the current status of the SIP plugin at the upcoming [OpenSIPS summit](https://opensips.org/events/Summit-2019Amsterdam/) in a few days, so it might be nice to mention the possible improvements in the talk, especially if it ti

[2019-04-24 13:48] SadSeep commented on #1582
Hi,
    This commit seems to have fixed this problem. My Janus Instance hasn't crashed the past few days. I think we can close this issue. I'll let you know if i come across the same again. Cheers.

[2019-04-24 14:00] lminiero commented on #1582
Excellent, closing then! :+1:

[2019-04-24 14:00] #1582 closed

[2019-04-24 16:51] lminiero commented on #1591
@StephaneG31 just pushed the PR and it seems to do the trick, please let me know if it works in your application as well once you remove the "hack"!

[2019-04-25 16:04] amnonbb commented on #1455
Crashed with same dump. :(
Used latest libnice master.

[2019-04-26 10:13] GerardM22 commented on #1591
Hi Lorenzo,
It works but after removing a test in janus_sip.c: details in #1597

[2019-04-26 15:47] GerardM22 commented on #1591
After the last commit, it works fine for me.
Thank you very much !

[2019-04-27 07:53] amnonbb opened #1600 "Crash in janus_ice_outgoing_traffic_handle"
#1459
For me it's happened something like three times in last month ( libnice 0.1.14.1 )
https://pastebin.com/2xxAApCU

With last master it's occur more often.

[2019-04-27 07:58] lminiero commented on #1600
Please provide a libasan dump.

[2019-04-27 08:52] StephaneG31 commented on #1591
Hi @lminero, @GerardM22 and me are in the same team, so we can consider your fix is good in our use case. Thank you.
We just waiting you merge it in master to merge our signing message exchange commits.
I will try to open an issue to explain ours needs and how we make "a solution".

Before make a pull request, I need to review with my company open source rules how we can make pull request (with co

[2019-04-27 08:56] lminiero commented on #1591
Is it #1598 you're talking about?

[2019-04-27 09:25] StephaneG31 commented on #1591
Great, it's exactly the same needs. We work for a Telco so maybe in future ours gateways maybe very expose to this kind of attacks.
I'm happy to read that some others persons have the same security problem as us.
We implement that in a little different way with a global shared secret and a "local/client/tenant" secret to available multi-tenant and available tenant "auth".

We add origin (tenant na

[2019-04-27 09:30] lminiero commented on #1591
The problem is that I can't add proprietary stuff to the plugin, that works for some and doesn't for others. In case there's a more generic approach (possibly standard) then it would be better.

[2019-04-29 09:34] vahidov commented on #1588
@lminiero
From friday production worked on 0b65fca and libnice master.
Feels like - works better, more stable in connection establishing, especially safari.

Till now - one crash on websockets - https://gist.github.com/vahidov/455b779dcb56d2243fc9522019f5023d.
And another time transports looks like "frozen". I mean - janus workes, in log no errors or another data. But when attempt to connect over

[2019-04-29 10:29] SlZeroth opened #1603 "can not receive sessionId and handle in event handler"
I use event handler but i can't get sessionId and handle. when emit leave, unpublished event

![image](https://user-images.githubusercontent.com/8098724/56890541-b1228d80-6ab4-11e9-884f-c6c717fe84ba.png)

why leave, unpublished event not include sessionId , handle

[2019-04-29 10:46] lminiero commented on #1603
Not all events originated from a plugin include those details. For the unpublished event, you can use the participant ID as that's the only really need information. Closing as not an issue.

[2019-04-29 10:46] #1603 closed

[2019-04-29 18:43] bennyveo opened #1605 "Ports used by RTP Forward (videoroom plugin) do not get released"
hey guys!

It appears that ports used by rtp_forward in the videoroom plugin do not get released. _Destroying the room, handle, session, etc have no effect._

Observed on both Ubuntu 16.04 and Ubuntu 18.04.

I'll add more findings here as I come across them. :o)

[2019-04-30 08:49] vahidov commented on #1588
Another crash, today in "janus_ice_outgoing_traffic_handle"  - https://gist.github.com/vahidov/1edea841fe7a91606b89ecec79b788eb

[2019-04-30 21:10] bennyveo opened #1606 "Videoroom rtp_forward does not forward Sender Reports"
It seems as though rtp_forward in the videoroom plugin does not forward sender reports (tested in master, ubuntu 18.04).

video/audio_rtcp_port was specified in the rtp_forward API call and the RTP forward is working correctly (ie, there is media flow) however no sender reports are received.

TCP dump and gst-launch pipeline:

[code]

Pcap: [http://cc-sec-drop.s3.amazonaws.com/srcandsink.pcap.zip]

[2019-05-01 06:04] lminiero commented on #1606
That's on purpose. The RTCP support at the moment is only meant for PLI and REMB. Closing as not an issue.

[2019-05-01 06:04] #1606 closed

[2019-05-01 12:11] vahidov commented on #1588
Next crash https://gist.github.com/vahidov/a00175614ba0d62e0ec00a4fb29bc8f2

[2019-05-01 13:04] bennyveo commented on #1606
Ok... so this is a design decision, or would we need to implement it?

Certainly implies that feedback will be send to specified ports.

[2019-05-01 13:30] lminiero commented on #1606
The description says "from the recipient", and indeed the RTCP channel is never used to send RTCP from the sender to the recipient (as SR in your casE), but only the other way around. Specifically, the main purpose was ensuring that, for instance, a recipient could send a PLI back to the publisher, so that a keyframe could be requested even by a RTP forwarder recipient, instead of just VideoRoom s

[2019-05-01 13:34] bennyveo commented on #1606
I see, so video_rtcp_port is a "receiver" port in any case?

[2019-05-01 13:37] lminiero commented on #1606
Yes, as it is now it's never used to send anything, only receiving. This is confirmed by the fact that the `incoming_rtcp` callback in the VideoRoom plugin completely ignores feedback from publishers. That's where you should add your "relay RTCP too" logic if you need that.

[2019-05-01 13:38] bennyveo commented on #1606
yep, got it. ok thanks.

[2019-05-01 13:46] lminiero commented on #1605
What do you mean by "not released"? RTP forward doesn't actually bind to any port itself, it connects to remote ports (and if those remain open that's normal, especially if allocated by the Streaming plugin for instance) and so the local bind is just random. We definitely close the sockets when getting rid of RTP forwarders, or at least should.

[2019-05-01 13:47] lminiero commented on #1600
Just noticed you mentioned libnice 0.1.14, have you tried master instead? Pretty sure libnice 0.1.14 precedes many fixes they made after that.

[2019-05-01 13:48] lminiero commented on #1588
Please provide a libasan trace as well.

[2019-05-01 13:49] lminiero commented on #1592
Whatever your client side code is doing, it's changing the direction to `recvonly`, so the way Janus reacts is the proper way to handle that. As such, it's a fix you should do on the client side instead. Closing as not a Janus issue.

[2019-05-01 13:49] #1592 closed

[2019-05-01 13:58] lminiero commented on #1591
Closing as #1597 has been merged :+1:

[2019-05-01 13:58] #1591 closed

[2019-05-01 14:03] bennyveo commented on #1605
What's observed is that when specifying ports for video/audio rtcp for a
forwarder, the ports remain in a listening state and are unavailable for
use even after tearing everything down. Only thing that works is restarting
Janus. Per the other recently closed issue I reported it may be user error
here as we had the flow direction backwards for forwarder rtcp, so it's
possible this may have prevente

[2019-05-01 14:08] lminiero commented on #1605
Mh the `close` for the `rtcp_fd` socket is definitely there when you destroy an RTP forwarder, so not sure what may be going wrong, if anything. If you can provide more feedback that would help, thanks!

[2019-05-01 14:33] vahidov commented on #1588
@lminiero
Can't do this. When I try build with libasan on production server - i'v got a lot overhead (4-5 times bigger load then without libasan). In this reason - can't enable it on production.

[2019-05-01 14:34] lminiero commented on #1600
Closing as we merged #1601. Feel free to reopen if still an issue with that patch and libnice master.

[2019-05-01 14:34] #1600 closed

[2019-05-01 19:31] bennyveo commented on #1605
Unfortunately applying the rtp forwarder port to a sink (instead of a source) as per my misunderstanding earlier didn't have any affect on port closure. The ports used by the forwarder are still listening.

What specifically could I provide that may help shed light on the issue?

[2019-05-08 14:25] xyzbilal commented on #1608
I had forgetten make command after libwebsocket. sorry for that

[2019-05-08 14:25] #1608 closed

[2019-05-08 18:23] groupboard commented on #1555
Just note that DTLSv1_2_method is only available from openssl version 1.0.2, so the minimum version of openssl should now be listed as 1.0.2. (Discovered this as we have 1.0.1 and was wondering why it was complaining about DTLSv1_2_method being undefined).

[2019-05-08 19:20] lminiero commented on #1555
Thanks for the clarification, I'll take note of that.

[2019-05-08 20:41] xyzbilal opened #1608 "websocket is not recognized.."
hi, Im trying to install janus0.4.5 to debian server. I m following these steps according to documentation but but while I m configuring janus  I see websocket as no. I tried steps many time  restarted server but no succes..
these are my steps

![image](https://user-images.githubusercontent.com/18241412/57379611-e95e5600-71af-11e9-9934-5aa8b70a9fb6.png)

running command below shows websocket as no

[2019-05-09 12:09] aluedeke commented on #793
@lminiero did your opinion on this accidentally changed in the last 2 years?would you accept a pr pushing the Janus js to npm on release?

[2019-05-09 12:11] lminiero commented on #793
Not changed, sorry. This can be a separate repo that can be addressed in the docs (resources page).

[2019-05-09 14:34] 0xFelix opened #1610 "Segfault when destroying sessions"
Today I updated my janus installation to d0fecb0b4a4c4dc23b3e0a7038970ba382e66620
Since then I had several crashes when janus tried to destroy a session.

Previously d76a2516e4dc91a16fd8a1e907288d317fb2d957 was installed, which worked fine with the same and unchanged config.
Did I miss something?

Only log output I can provide now:

`
May 09 15:38:23 srv-01 janus[29235]: Destroying session 8263199

[2019-05-09 14:39] lminiero commented on #1610
Please provide a libasan dump too.

[2019-05-10 15:38] antonioTechbase opened #1612 "Camera freezes when there's no movement"
First of all, let me thank you for creating such an amazing product. Everything besides my problem works like a charm.

I'm currently experimenting with your Sip Gateway (Sofia), and I stumble upon this:

When there's no movement at the beginning of the call, the camera starts to freeze/lag. This happens when I move/don't cover the camera when the call start. If I move, the video call works very w

[2019-05-10 16:49] lcarneirofreitas opened #1613 "heap-use-after-free ??:0 __interceptor_strlen"
Hi,

We have been using Janus as a SIP Gateway to Asterisk for about 5 months and it's been a superb experience. However, lately, we have updated our janus-gateway version from the commit 304a983 to the d0fecb0.

With the version d0fecb0, the Janus crashes when some SIP invites reach the server (asterisk 11.11 chan_sip)

We, fortunately have the stack trace of the error below:

https://pastebin.co

[2019-05-10 17:07] lminiero commented on #1613
Ah, yes, looks like we're freeing `caller_text` but trying to use it again when pushing the event to event handlers (which I guess you've enabled, correct?). I'll push a fix shortly.

[2019-05-10 17:09] lminiero commented on #1613
The above commit should fix it, please let me know if that's not the case.

[2019-05-10 17:09] #1613 closed

[2019-05-10 19:12] lcarneirofreitas commented on #1613
Great

I have updated, so far no error reported.

Thank you

[2019-05-13 12:43] lminiero commented on #1612
This feels more like a client side issue, as the SIP plugin only relays media around. You may want to check the [Admin API](https://www.meetecho.com/blog/understanding-the-janus-admin-api/) to see if anything's wrong there. Closing.

[2019-05-13 12:43] #1612 closed

[2019-05-13 15:43] aluedeke opened #1616 "Ability to configure a port range for incoming RTP connections when using RTSP"
When using RTSP as source in the streaming plugin the RTP and RTCP ports used to handle the media streams are chosen randomly. It would be desired to configure a range where Janus picks a pair of ports from, to make firewall configurations possible and more secure.

@lminiero is that you would accept a PR for?

[2019-05-13 15:46] lminiero commented on #1616
@aluedeke sure, it sounds useful! If possible please use the same syntax the SIP/SIPre/NoSIP plugins use, just to make things simpler. You can probably reuse most of the code in there as well to speed up things, e.g., for the config processing part. Thanks!

[2019-05-14 07:10] cilmeron opened #1617 "Request Port different from Contact header field"
When Janus sends Requests to the SIP Server it will basically randomly choose a port and not actually use the same port that it sends in its Contact header field. Example:

13:15:19:982 UA:192.168.1.23:60087 SIP Rx REGISTER sip:192.168.1.15 SIP/2.0
13:15:19:982 UA:192.168.1.23:60087 Via: SIP/2.0/UDP 192.168.1.23:47720;rport;branch=z9hG4bK480BttjB469Xj
13:15:19:982 UA:192.168.1.23:60087 Max-Forward

[2019-05-14 09:00] vahidov commented on #1588
@lminiero @atoppi - any information? We have same of this crashes almost everyday.

[2019-05-14 09:01] lminiero commented on #1588
Nothing we can do without a libasan trace.

[2019-05-14 09:14] lminiero commented on #1617
Everything SIP related is done automatically by the Sofia SIP stack, so nothing we can do there I'm afraid.

[2019-05-14 12:58] lminiero opened #1619 "JanusCon is coming: save the date!"
Hi all,

since not all of you may be subscribed to, or following discussions on, our [community group](https://groups.google.com/forum/#!forum/meetecho-janus), I thought I'd open an issue here as well to advertise the event.

As you may already be aware of, our first big event on Janus, called [JanusCon (https://januscon.it) is coming next September, in just a few months, here in Napoli! More prec

[2019-05-14 14:15] 0xFelix opened #1620 "Janus not selecting candidate pair when receiving from Firefox"
I want to establish a connection between Janus and Firefox where Firefox is sending opus audio.

When using a connection where no STUN is required it works. When STUN is needed Janus/Firefox never seems to select a candidate pair?

These are the SDPs from Firefox's 'about:webrtc':

Offer:
[code]

Answer
[code]

Firefox marks a candidate as succeeded but Janus only prints `No more remote candidates

[2019-05-14 14:50] lminiero commented on #1620
The selected pair line seems to suggest you're using an older version of libnice. If you're not doing that already, use libnice master instead, as suggested in the README.

[2019-05-14 15:58] Ext3h opened #1621 "Request data stream via RTSP"
In the current state, the streaming plugin only supports negotiation of video and audio via RTSP.

For some protocols (e.g. streaming metadata associated with video from an ONVIF compatible video surveillance device, see https://www.onvif.org/specs/stream/ONVIF-Streaming-Spec-v210.pdf section 5.2.1.1.3 ), correlated plain text data streams are also negotiated via RTSP.

In the chosen example the a

[2019-05-15 10:27] lminiero commented on #1621
Not sure why you think this requires the unified-plan branch? Isn't this something that can work with the master branch as well? We may have refactored some things in unified with the concept of streams, but I can't remember if we even added the new multistream support to RTSP (there are good chances it still is one stream per type, although I can't recall on the top of my head). Anyway, I agree t

[2019-05-15 12:22] Ext3h commented on #1621
It can work easily, it's just a matter of avoiding merge conflicts and extensions to the legacy configuration scheme, where as most of the work has already been done in unified-plan.

The unified-plan has also effectively introduced unique identifiers for multiple potential data streams in the configuration scheme (even though streaming plugin is still not applying the identifier as label in `janu

[2019-05-15 13:16] 0xFelix commented on #1620
Hi Lorenzo,

you were right. It works with libnice master.

Thank you!

[2019-05-15 13:16] #1620 closed

[2019-05-15 21:05] jsdir opened #1624 "Simulcast/Chrome: Increasing sender's bitrate limit causes receiver to thrash between substreams"
With janus-gateway 0.7.0, we've observed that increasing the sender's bitrate limit causes the receiver to thrash between substreams, causing heavy artifacts and broken video.

Here are steps to reproduce the issue:

1. Using Chrome (I tested this on v74), Open https://janus.conf.meetecho.com/echotest.html?simulcast=true and start the demo
2. Set the local stream bandwidth cap to 128kbit
3. Verify

[2019-05-16 07:39] vicentWei opened #1625 "Consume a long time for sending RTP packet by nice_agent_send."
Hi, in gereral, the execution time of nice_agent_send is about 100us. But when the peerConnections is becoming large (about 300 rooms & 2 publishers per room), the execution time of nice_agent_send is increasing, can be reach 100ms! This result that the age is large than 1s, and discarding too old outgoing packet!
How to sovle the problems? Thanks very much!

[2019-05-16 08:52] lminiero commented on #1532
I assume we can consider this a non-issue. Closing.

[2019-05-16 08:52] #1532 closed

[2019-05-16 08:54] lminiero commented on #1605
Not sure why you think those ports are the ones used by the forwarders? Have you checked if they're just slow to be released, rather than never released at all?

[2019-05-16 08:54] lminiero commented on #1610
Any update?

[2019-05-16 08:55] lminiero commented on #1624
Make sure you're using janus.js from master and not 0.7.0, as explained in the changelog I published on the group. Try also the `?simulcast2=true` query string with Chrome to see if the same thing happens there (different simulcast approach).

[2019-05-16 08:57] lminiero commented on #1625
Pretty sure you're not using libnice master, as suggested in the README. Older version had a well known bottleneck that is documented on the group. Closing as not a Janus issue.

[2019-05-16 08:57] #1625 closed

[2019-05-16 09:20] 0xFelix commented on #1610
I'm currently not able to reproduce the bug anymore. :( New builds are working again. I'm going to close this for now.

[2019-05-16 09:20] #1610 closed

[2019-05-16 13:01] cjaeg opened #1626 "100% CPU usage after releasing an audio call to TCP turn server"
Using the sip plugin I make a call from a PBX deskphone to my web client.
This call does thru a turn server in TCP mode. If the web client is ending the call everything looks fine but if janus is ending the call the CPU usage bombs to 100%.

When I use the turn server in UDP mode I can not reproduce such issue, it looks so linked to TCP.

Top during the call :
----------------------
rainbow@rainbo

[2019-05-16 18:27] danflu opened #1627 "Janus crash libwebsockets"
Hi, Janus is crashing randomly when using websockets and videoroom plugin.
The stacktrace is provided below.

When query git HEAD version by using command:
git rev-parse HEAD

It returns:
ddde5e28e93a2b42483963297f7ccfc94b0b0ce1

Any ideas ? Thanks a lot!

[code]

[2019-05-17 04:59] llongoria opened #1628 "configure SIP Gateway (libre) plugin"
Hi, how can i configure SIP Gateway (libre) plugin on new  installation?
<img width="191" alt="Captura de Pantalla 2019-05-16 a la(s) 23 59 11" src="https://user-images.githubusercontent.com/1166207/57904014-a008a900-7836-11e9-87ca-47fd61924cdb.png">

[2019-05-17 08:29] Ext3h opened #1629 "RTSP regressesions for video streaming"
Per-stream attributes parsed from SDP / SETUP response got mixed up in a couple of locations since f2d6ae900cf6ba6d37147425ed4fccaed79cc845 (unified plan):

In `janus_streaming_create_rtp_source`:

Stream attributes parsed for audio from SDP are also applied to video. Bug is masked if configuration specifies an override.

Packing the two sets of local variables in a struct would probably be approp

[2019-05-17 10:32] lminiero commented on #1626
You should try attaching via gdb to the pid that's taking the 100% cpu, to see what's keeping it busy. My guess is that this is an issue in libnice, as we never handle the STUN/TURN connectivity ourselves. Make sure you're using a recent enough version of the library (not one of the repo provided ones).

[2019-05-17 10:33] lminiero commented on #1627
Try compiling with libasan, as that will give much more relevant info on the crash: https://janus.conf.meetecho.com/docs/debug

[2019-05-17 10:34] lminiero commented on #1628
That means the configure script didn't find the required libraries, so you very likely didn't install the development version and their headers. Closing as not an issue.

[2019-05-17 10:34] #1628 closed

[2019-05-17 10:40] lminiero commented on #1629
Thanks for spotting these! Adding an explicit reference to #1459 so that it appears there. I just pushed a commit that fixes both things. I haven't changed anything in the code, just fixed the inconsistencies you highlighted: what you suggest will probably only happen after we merge the `unified-plan` branch, as other enhancements: right now my focus is on the main refactoring of everything else.

[2019-05-17 10:40] #1629 closed

[2019-05-17 12:16] danflu commented on #1627
Thanks. I will update Janus to the latest version and recompile with libasan.

[2019-05-17 15:10] bennyveo commented on #1605
Hey Lorenzo,

Not sure why you think those ports are the ones used by the forwarders?

Before we send the command to rtp_forward we first request a list of the
number of available ports we need, so we verified that the ports that are
used for RTP forward are in fact still open.

Have you checked if they're just slow to be released, rather than never

Yes, we have to restart Janus every few days to

[2019-05-17 15:15] lminiero commented on #1605
WHAT, you came to Rome and didn't pass by Napoli and say hello? :smile:

Thanks for the feedback though, I'll try to have a look next week. I know we are doing the proper cleanup when a forwarder is destroyed, that is closing the sockets, etc., so not sure what may be going wrong. If you can add some checks yourself as well that might expedite fixing the issue.

[2019-05-17 15:21] bennyveo commented on #1605
Believe me I wanted nothing more than to come visit you guys and touch that
glorious head of hair of yours for good luck. :o)

You got it though, I'll be as diligent as possible and dig as deep as I
can. Thanks dude!

On Fri, May 17, 2019 at 11:16 AM Lorenzo Miniero <notifications@github.com>
wrote:

[2019-05-17 16:04] atoppi commented on #1627
Might be related, coming from #1588
[https://gist.github.com/vahidov/455b779dcb56d2243fc9522019f5023d](https://gist.github.com/vahidov/455b779dcb56d2243fc9522019f5023d)
[https://gist.github.com/vahidov/a00175614ba0d62e0ec00a4fb29bc8f2](https://gist.github.com/vahidov/a00175614ba0d62e0ec00a4fb29bc8f2)

[2019-05-17 16:05] atoppi commented on #1588
IIUC the [starting issue](https://gist.github.com/vahidov/fc80b43ac9a51a8585ba5dcb132941f0) has been solved with a recent libnice. For sake of clarity and simplicity, I think we should close this issue as solved and track the other crashes in different issues.

[2019-05-17 16:05] #1588 closed

[2019-05-17 16:29] frankville opened #1630 "problems creating rtsp mountpoints through api"
Hi, I'm experiencing some bugs when trying to create rtsp mountpoints through API calls. I'm using minijanus (v0.6.2) library on nodejs to make the calls.

The first one appears when I'm creating the mountpoint with audio enabled. If audio is configured with PCMA then it all works just fine. The problem appears with pcmu. When I send the creation request and the audio type is pcmu {audio:true, aud

[2019-05-17 17:09] lminiero commented on #1630
Mountpoint names can't start with a number. It's a limitation in libconfig apparently. I'll check the other issue when I'm back at the office on Monday.

[2019-05-17 17:54] frankville commented on #1630
I can confirm that if I add a letter at the beginning of the name then janus doesn't throw any errors and the mountpoint is persisted in the config file.

[2019-05-19 05:17] jsdir commented on #1624
I ran the same echotest locally with `?simulcast2=true`, `janus-gateway==0.7.0`, and the janus.js from master, but I still get the thrashing between substreams.

[2019-05-20 10:06] lminiero commented on #1624
It's working as expected for me, with Chrome Canary and the latest Janus. When setting back to 2mbps after dropping to 128kbps, it goes to layer 1 after a few seconds (the time the browser figures out there's enough bandwidth) and then after a few seconds back to the highest layer.

[2019-05-20 10:40] lminiero commented on #1630
The above mountpoint should solve both issues. For mountpoint names starting with a number, we simply prefix them with `mp-` as we already do when a name is not provided and so we craft one from the ID. Closing, please let me know if it's still an issue.

[2019-05-20 10:40] #1630 closed

[2019-05-20 10:57] atoppi commented on #1627
@danflu can you test a Janus version that includes [96a586ae](https://github.com/meetecho/janus-gateway/commit/96a586ae868617f35e2fec79b9b8e4b2598e0db9) ?

[2019-05-20 13:30] danflu commented on #1627
Sure. I will update today to the latest version available for download in github.
If the problem stop happening let's say... for a week.... then probably its gone... I will keep providing feedback. Thanks a lot for your support.

[2019-05-20 13:32] lminiero commented on #1626
@cjaeg to clarify, was the user using TURN, or did you configure TURN for Janus as well? If it's the latter, 99.9% of the times it's not needed, as explained here: https://janus.conf.meetecho.com/docs/FAQ#turn

[2019-05-20 13:33] lminiero commented on #1617
Closing as not a Janus issue.

[2019-05-20 13:33] #1617 closed

[2019-05-20 15:35] atoppi commented on #1627
Also, are there any available Janus logs for the crashes?

[2019-05-20 17:19] cjaeg commented on #1626
In fact, I am testing on a corporate LAN and have configure in janus.jcfg a turn_server, turn_port = 80 turn_type = "tcp" and the associate user/pwd. My web client is on the internet the WebRTC media will so  cross the TURN server.

With gdb I have identified the thread create in ice.c :

static void *janus_ice_handle_thread(void *data) {
	janus_ice_handle *handle = data;
	JANUS_LOG(LOG_VERB, "[%"

[2019-05-20 17:22] lminiero commented on #1626
If the user is behind the corporate firewall, but Janus is publicly reachable, then as explained in the FAQ you *DON'T* need to configure TURN for Janus as well. Only set up TURN for users, not Janus.

That said, that confirms the issue is in libnice, then, and not Janus. If you think you really need TURN for Janus (which again I don't think you do), you should open an issue on their repository in

[2019-05-20 17:22] #1626 closed

[2019-05-20 17:23] lminiero commented on #1626
Ah ok, I was reading it the other way around. Then yes, you do need TURN set up for Janus. See my suggestion about opening the issue on libnice then.

[2019-05-20 19:15] danflu commented on #1627
No... sorry. I will enable logging to file this time (level 4 by default)

[2019-05-20 19:27] atoppi commented on #1627
Level 5 would be better for debugging

[2019-05-20 20:08] danflu commented on #1627
ok. It's 5 now. Let's see it the problem happens again... Thanks!

[2019-05-21 19:03] danflu commented on #1627
Hi. It is still crashing randomly.
When using libasan it crashes very fast.

Here is the janus/libasan log...

https://pastebin.com/CAyg4wDh

[2019-05-21 20:52] lminiero commented on #1627
That's clearly an issue with your plugin, or whatever the irm plugin is, not Janus... You're incorrectly using the SDP utils and so it crashes. Closing as not a Janus issue.

[2019-05-21 21:10] danflu commented on #1627
Hi.
Yes there was an issue (caused by double freeing sdp_offer) that caused janus to crash when connecting the first client (because of libasan abortion) .
I fixed it by inspecting libasan output.
The issue I'm trying to reproduce is more subtle, and happens only after some time... Maybe it is related, maybe not...
If it happens again I will put janus log and libasan output...
Thanks...

[2019-05-22 15:15] trankkilou opened #1632 "pb with compilation utils.h"
Hi,

I have issue compiling janus last available master version
All deps are presents (it is not the first time I compile janus)

janus claims not finding utils.h

events/eventhandler.h:233:2: error: unknown type name 'janus_flags'
  janus_flags events_mask;

I check where typedef or #define which define type 'janus_flags'.... but it is missing !!!

root@inwebrtc1n:/opt/janus-gateway# grep -RIw ja

[2019-05-22 15:20] trankkilou commented on #1632
i remove the plugin which needs it and I have the same issue with another file
make[2]: Entering directory `/opt/janus-gateway'
  CC       plugins/plugins_libjanus_echotest_la-janus_echotest.lo
In file included from plugins/janus_echotest.c:107:0:
plugins/plugin.h:160:22: fatal error: refcount.h: No such file or directory
 #include "refcount.h"

[2019-05-22 15:21] lminiero commented on #1632
No idea what you're doing wrong, sorry... definitely works fine here. Have you tried with a clean setup?

[2019-05-22 15:22] trankkilou commented on #1632
It is a clean setup. Fresh install, can’t be more « fresh"

[2019-05-22 16:25] trankkilou commented on #1632
I have delete the folder and did a git clone again -> issue solved. Dunno what happen first time

[2019-05-22 16:44] #1632 closed

[2019-05-22 16:44] lminiero commented on #1632
Good to know it's solved :+1:

[2019-05-22 18:00] lcarneirofreitas opened #1633 "Cannot push event (handle not available anymore or negotiation stopped)"
Hi,

We have updated our janus-gateway version from the commit d0fecb0 to the 47b3ce319.

With the version 47b3ce319, the Janus keeps crashing.

We, fortunately, have the stack trace of the error below:

https://pastebin.com/wgTRVEUU

Thanks

[2019-05-22 18:05] lminiero commented on #1633
You may want to try master, as we made other fixes to the SIP plugin recently.

[2019-05-22 19:08] tmatth commented on #1633
I've opened a PR #1634 as I believe this bug is still possible with the latest master.

[2019-05-22 21:46] danflu commented on #1627
It is still happenning

version: 0b80a02630a54ec11f1201cca354accceaeeb199

There is a situation where janus crashes (apparently when closing a ws connection)
Please... take a look at this:

https://pastebin.com/KaxjnLqP

[2019-05-23 08:52] lminiero commented on #1627
Be that as it may, this still involves a proprietary plugin, and we have any idea what it does (it may be part of the issue). If you can replicate it with one of the stock plugins, happy to have a look.

[2019-05-23 09:34] lminiero commented on #1627
PS: mh, looks like in that specific case it crashed while sending a response to a `destroy` though... anyway, it crashes in `rops_callback_on_writable_ws`, which is deep within libwebsockets. Have you tried opening an issue on their github repo as well? Feel free to mention this issue here, so that we can track the status there.

[2019-05-23 15:50] #1633 closed

[2019-05-23 17:45] rikez opened #1636 "heap-use-after-free plugins/janus_sip.c:1218 janus_sip_sofia_logger"
Hi guys!

I have a Janus instance running within a Docker container with the commit version **47b3ce31920c1ff8a64615cd4796b297e6cffc1c**.

Recently, this instance has been crashing due to memory problems. Because of that, I started monitoring the instance and I could perceive a pattern.

According to the figure below, when the memory size reaches approximately 1.7 GB, it crashes:

![mem](https://u

[2019-05-23 17:58] lminiero commented on #1636
Mh looks like the logger function is trying to access the session object after it's been freed. We may have to add a reference to avoid this, but not sure where. I'll have a look tomorrow when I'm back at the office.

[2019-05-23 22:16] danflu commented on #1627
Hi Lorenzo, Thanks for your reply.
I created an issue in libwebsockets: https://github.com/warmcat/libwebsockets/issues/1586
Let's see what they say... I guess it is some concurrent race condition that is not protected...

[2019-05-24 08:53] lminiero commented on #1636
The above commit should fix the problem you reported. Feel free to reopen if that's not the case.

[2019-05-24 08:53] #1636 closed

[2019-05-24 08:54] alexamirante commented on #1636
@rikez BTW the crash was unrelated to the huge mem consumption. Are you sure it's Janus that is taking 1.7GB of RSS memory? May it be another co-located component that is leaking?

[2019-05-24 11:12] lminiero commented on #1624
Closing as apparently not an issue. Feel free to reopen if you can provide more details.

[2019-05-24 11:12] #1624 closed

[2019-05-24 11:22] lminiero commented on #1627
@danflu thanks! I added some implementation considerations there, just in case it helps identifying the root cause of the issue.

[2019-05-24 11:59] mykola-mokhnach opened #1637 "config.dataChannel is undefined if Janus is compiled with --disable-data-channels argument"
1. Compile janus server with `--disable-data-channels` argument and streaming plugin enabled
2. Start the server
3. Add any "fake" entry into streaming config, so ICE fails
4. Try to connect to the added entry from demo ui and wait until the connection fails

Actual result:
![data_ch](https://user-images.githubusercontent.com/7767781/58326062-fde75300-7e2b-11e9-89c1-a706bb9543b4.png)

message in t

[2019-05-24 12:34] lminiero commented on #1637
Pretty sure we fixed this already. Please try master (including janus.js from master).

[2019-05-24 12:43] rikez commented on #1636
@alexmirante Well, the chart above stands for the memory consumption of the Janus Docker Container. Also, the only process I started within it, is janus-gateway.

My colleague is trying to check if it could possibly be a kernel issue...

I'll come up here to let you guys know.

[2019-05-24 13:38] lminiero commented on #1627
@danflu can you give the pull request above a try?

[2019-05-24 14:02] danflu commented on #1627
@lminiero,  Sure...!  Will rebuild janus and test again...
Thanks!

[2019-05-26 03:44] oofp opened #1641 "No media path established when SIP call traversed Janus"
Hello, I have developed Haskell client library for Janus and successfully use for more then a year. Now I wanted to create demo for simple back to back SIP call trough Janus. I have attached the client twice to SIP plugin and then receive "incomingcall" on one plugin and created outbound call on another plugin with SDP of incoming call. Similarly I forwarded  SDP answer of accepted call from outbo

[2019-05-27 08:58] mykola-mokhnach commented on #1637
Yes, master seems to be fine. Thanks

[2019-05-27 08:58] #1637 closed

[2019-05-27 09:06] lminiero commented on #1641
This isn't the type of issue you'll solve by looking at logs. You'll have to capture traffic somehow (especially SIP signalling) to see why media streams can't be established. Pretty sure it's a setup issue and not a Janus one (which means this question probably belongs to the [group](https://groups.google.com/forum/#!forum/meetecho-janus) and not here) but I'll keep the issue open until you can c

[2019-05-27 09:07] lminiero commented on #1627
@danflu any update?

[2019-05-27 12:22] oofp commented on #1641
Thanks Lorenzo. I captured tcpdump (attached along with new janus logs). SIP signalling shows successful setup of two SIP dialogs and SDP are properly exchanges. I also see two RTP stream incoming sent by SIP provider to Janus, but there is no RTP traffic from Janus to SIP provider.

[janus2.zip](https://github.com/meetecho/janus-gateway/files/3223674/janus2.zip)
![RtpStreams](https://user-images.

[2019-05-27 16:27] danflu commented on #1627
Hi @lminiero... it is still happening in the same place.
I will perform some changes in my code to see if that stops happening...
It is surely related with a session being created and destroyed inside a very small window of time (like 150ms) AND a message being sent to remote user . Maybe I can do something on my side...

[2019-05-27 17:10] danflu commented on #1627
I analysed all my code very carefully... I could not spot any error...

I will try put a sleep just inside "plugin->destroy_session" notification. I noticed the create session and destroy session notification come from different threads. Maybe if they happen near the same time the context is invalidated somehow...  or just a mismatched retain/release among different threads... really not sure...

[2019-05-27 17:23] lminiero commented on #1627
`create_session` will come from whatever thread generated the message, but `destroy_session` will always come from the same thread that generates `setup_media`, `hangup_media`, `incoming_rtp`, etc.

If the patch didn't help please notify it on the libwebsockets issue, and provide them with the info they're asking for, as it means I don't know what (if anything) we're doing wrong then.

[2019-05-27 18:08] danflu commented on #1627
Ok. It's running with debug lws...

[2019-05-27 19:24] danflu commented on #1627
The situation I think is happening (looking at it as a complete noob from the SKY):

1) There is a message from lws
2) Janus receives the message (1) from transport and the session handle is created from that message (1)
3) There is another message from lws
4) At this meantime there is a destroy session event and the handle is destroyed.
5) Janus receives the message (3) from transport but the ses

[2019-05-28 00:02] oofp commented on #1641
Just wanted to add that log shows that both relay threads started in incoming RTP streams were detected by SIP plugin instances

[Mon May 27 11:55:18 2019] Starting relay thread (112229_11 <--> sip:19058833463@toronto2.voip.ms)
[Mon May 27 11:55:18 2019] Got SIP peer audio SSRC: 82182365

[Mon May 27 11:55:18 2019] Starting relay thread (112229_10 <--> sip:112229_5@158.85.70.149)
[Mon May 27 11:55

[2019-05-28 08:47] lminiero commented on #1641
No idea on why you think fixing the WebRTC side fixes SIP for you. The SIP plugin has nothing to do with the WebRTC side of things.

[2019-05-28 08:50] lminiero commented on #1641
Pretty sure your issue had nothing to do with the SIP plugin. You had issue establishing the WebRTC connectivity on one of the two legs instead. If that's the reason, you should inspect the Admin API on the reason for that. I don't think trickling or not trickling has any effect on that.

[2019-05-28 08:52] atuk721 commented on #1605
Hello.

I'm having the same problem.
I'll show you my situation too.

I think only video RTCP port of forwarding ports is closed.
I also have set audio RTCP port, but I think it is not used.

I'm glad this information is useful.

## Environment

OS: Ubuntu 16.04.5 LTS (Xenial Xerus)
Janus: v0.6.3 / v0.7.1

## Situation

### First of all

[code]

### After WebRTC publishing

[code]

### After rtp_f

[2019-05-28 08:56] lminiero commented on #1605
The ports that remain open don't appear neither in the rtp_forward request nor the response, though (the ports you bound to for audio and video are different), so I don't think it's ports allocated there. Unless for some reason we're allocating ports for simulcasting as well even though they're not used?

[2019-05-28 09:35] lminiero commented on #1605
Made some more tests and the cause is actually a reference counter leak. The RTP forwarder is never freed when RTCP is used (a reference remains there), and so we never get to the point where we close the socket. Investigating why it's happening now, so that I can work on a fix later.

[2019-05-28 09:48] #1605 closed

[2019-05-28 09:48] lminiero commented on #1605
Fixed in the above commit, please let me know if you can confirm.

[2019-05-28 10:15] atuk721 commented on #1605
@lminiero
I have tried latest commit and I have confirmed the problem is fixed.
Thank you very much!

[2019-05-28 11:44] oofp commented on #1641
Indeed issue is not with SIP plugin. The reason i that media path path is not established is not completion of ICE check. ICE check is not completed because despite  a=end-of-candidates appears at SDP, ICE check expects more trickled candidates.

[2019-05-28 12:44] lminiero commented on #1641
But that's where I'm not convinced. This is how Janus has worked for years: we advertise both, and it still works. Saying we'll trickle and putting an end-of-candidates as well simply means we'll wait a bit longer before considering ICE failed. Unless you're trying to have Janus talk to itself on the WebRTC side?

[2019-05-28 13:43] oofp commented on #1641
Right, in my case webrtc side on both WebRTC parties are represented by Janus. I proposed another Pull request which starts ICE checks once trickle with 'completed:true' is received. Right after sending SDP with end-of-candidates I also sent trickle with "completed:true" to confirm that no more candidates are expected. It solved the media path problem after applying change at pull request. Thanks.

[2019-05-28 14:10] oofp commented on #1641
Yes, in my case both WebRTC side are represented by Janus. I am proposing another change when we just ensure that ICE check is in progress when all trickled candidates are received. It solved the problem.

[2019-05-28 15:47] lminiero commented on #1641
Have you checked if just #1635 (that we now merged, so you can try the new master) fixes it for you?

[2019-05-28 16:42] bennyveo commented on #1605
@lminiero <https://github.com/lminiero>

Confirmed fixed with 947bfb0
<https://github.com/meetecho/janus-gateway/commit/947bfb0ae5d5c1e29224c71d631607b6de1869c5>
.

I missed this when looking for forward ref counters as the one that was
already in there threw me off. :o)
Thanks dude!

On Tue, May 28, 2019 at 6:15 AM Atsushi Koge <notifications@github.com>
wrote:

[2019-05-28 20:48] bennyveo commented on #1605
well, this _might_ have introduced a crash... Spinning up a test box now with some logging, I'll post here :)

[2019-05-28 21:01] lminiero commented on #1605
If you can gather a libasan dump, that will help figure out if the cause is this, and if we have to move the reference decrease somewhere else. It shouldn't cause anything that an RTP forwarder without RTCP doesn't.

[2019-05-28 21:30] bennyveo commented on #1605
sounds good, I'll definitely do that. Reverting to a build before the
change and no crashes yet. I'll be sure to update here once I have a dump.

On Tue, May 28, 2019 at 5:01 PM Lorenzo Miniero <notifications@github.com>
wrote:

[2019-05-29 00:09] oofp commented on #1641
Thanks Lorenzo. I tried new master and had the same problem. Then I re-added the https://github.com/meetecho/janus-gateway/pull/1644 and it worked again, I am attaching log for both cases.
[1641_log.zip](https://github.com/meetecho/janus-gateway/files/3230207/1641_log.zip)

Thanks

[2019-05-29 14:07] lminiero commented on #1627
@danflu I added another commit to #1638 to try and use lws_cancel_service as suggested by the libwebsockets developer, can you check that again?

[2019-05-29 18:26] danflu commented on #1627
Sure! I will test and provide you feedback!
Thanks

[2019-05-29 18:38] danflu commented on #1627
@lminiero to test your changes, shoud I rollback these changes ? Since I made then the server did not crash anymore (24 hours up until now)
https://github.com/warmcat/libwebsockets/issues/1586#issuecomment-496322822

[2019-05-29 18:41] danflu commented on #1627
Maybe I can keep it since it just avoids the server to crash due assertion...

[2019-05-29 18:44] lminiero commented on #1627
I think it's a good idea to rollback those changes, just to see if we can avoid the crashes even without updating the library: not everyone will update their libwebsockets installation, so it would be good to know if we have a fix on our side as well.

[2019-05-29 18:46] danflu commented on #1627
OK! Will rollback and test again with your changes.

[2019-05-29 18:46] lminiero commented on #1627
Thanks!

[2019-05-29 20:02] pps83rbx commented on #833
Not sure if that's related, but when running a voice call with webrtc/janus I get these logs quite often:

[2019-05-30 02:32] tesion99 opened #1645 "relay pkg to other participant problem"
I want to relay the incoming rtp pkg to other participants in the function janus_audiobridge_incoming_rtp. When the package is comming, I insert it to participant->outbuf for all the participants, but it does't work. How can I send the pkgs directly without insert them into participant->inbuf ???
Ps: at the same time, only one user can talk, so I don't need the mixer thread.

[2019-05-30 06:02] lminiero commented on #1645
Not a code issue, so closing. Please use the Group for questions like this.

[2019-05-30 06:02] #1645 closed

[2019-05-30 12:41] unisolzp opened #1646 "cors"

[2019-05-30 12:42] #1646 closed

[2019-05-31 10:13] lminiero commented on #1627
@danflu any update on this? Do you feel we can merge this and consider it a win?

[2019-05-31 19:32] danflu commented on #1627
Hi @lminiero no crashes in janus/libwebsockets so far, 48 hours up and running !!!
I'd rather prefer to wait for a longer time frame (a week or so) before doing any firework, but its very promising!
Thanks!!!

[2019-06-03 08:53] lminiero commented on #1627
Sounds good!
I'll merge then :+1:

[2019-06-03 08:55] lminiero commented on #1627
Closing, thanks for the precious feedback and, most importantly, for your patience :smile:

[2019-06-03 08:55] #1627 closed

[2019-06-03 10:03] ramprakash110109 opened #1648 "Recording an individual publisher stream stuck for few seconds (no frame) in simulcast when playback"
Hello, I was testing video room recording  with simulcast enabled, and when playing the converted webm file, the first ~10 seconds of the video had no frame but the video was normal after ~10 seconds, and there was no issue with the opus file i was able to hear voice from the first second itself.

This issue happens when I was recording an individual publisher's stream and works fine when recordin

[2019-06-03 10:08] lminiero commented on #1648
The "no frame first 10s" means there was no keyframe in those first 10s, and this was only fixed after one arrived 10s later (assuming you're using the default 10s regular keyframe requests here).

[2019-06-03 10:09] lminiero commented on #1648
By individual publisher recording, do you mean with a `configure` *after* the publish, or when specifying the recording info in the `joinandconfigure`/`publish` itself?

[2019-06-03 16:51] ru-imajion opened #1649 "Data messages seems to always fallback on the default "JanusDataChannel"."
There seems to be an issue with the recently added multi-data channel support.  It seems to always be falling back on the default label.

Looks like there is a good label at
`janus_videoroom.c(4373): janus_videoroom_incoming_data()`
but nothing is done to get that through to
`janus_videoroom.c(6420): janus_videoroom_relay_data_packe() `
so that it can be fowarded on.

[2019-06-03 16:53] lminiero commented on #1649
We only added multidata support for the Unified Plan branch. The VideoRoom plugin in master still only uses the default one, as there's no way to serve data from multiple sources on the same PeerConnection there. Closing.

[2019-06-03 16:53] #1649 closed

[2019-06-03 17:17] ru-imajion commented on #1649
Ok, I'll just mention that I noticed it because it changed from previous behavior.  It seems that it is now necessary to use the label 'JanusDataChannel' when creating the data channel.

And thanks for all your efforts on this great project.

[2019-06-03 17:49] lminiero commented on #1649
Fair point, as before it was indeed the only label we supported! :+1:

[2019-06-04 07:20] ramprakash110109 commented on #1648
Yes, For a publisher’s stream, i first publish it and then send a configure request to record after some mins. I also thought of key frame issue first, but it was working fine in non-simulcast mode (individual stream recording).  May be there was no Keyframe in the sub stream layer for 10 seconds before it got downgraded or eventually get’s one in the same layer.

[2019-06-04 08:01] lminiero commented on #1648
You may want to check if configuring the recording in the original publish request solves it, as it will enable recording before the PeerConnection is even set up, and so you won't lose any frame for sure.

[2019-06-04 09:35] lqp276 opened #1650 "Likely type in function janus_videoroom_handler of janus_videoroom.c"
in function **janus_videoroom_handler**:

[code]
this code:
[code]
here seems a typo, since **m->port** and **JANUS_SDP_INACTIVE** is not comparable

[2019-06-04 09:45] #1650 closed

[2019-06-04 09:45] lminiero commented on #1650
Thanks for spotting this, fixed it! :+1:

[2019-06-04 10:29] lqp276 opened #1651 "Likely issue exist in "configure" commands of videoroom plugin"
in file: **janus_videoroom.c**
function: **janus_videoroom_handler**
[code]

The bellow code block
[code]
will set subscribler intrested media flag to all media publisher has,
but accroding to subscriber params it may only subscribe, say, just audio and don't want video.

The code logic in

will check the flag and send the video to the user, which may inccur extra bandwidth.

Am I missed some key

[2019-06-04 11:56] whb883 commented on #600
@cylwin I have the same problem. Has the problem been solved?

[2019-06-04 14:08] atoppi commented on #1641
Hi @oofp,
I have prepared a PR to address your issue and other similar scenarios. Can you give https://github.com/meetecho/janus-gateway/pull/1652 a try?

Instead of acting on the JANUS_ICE_HANDLE_WEBRTC_ALL_TRICKLES flag and messing with `completed: true` or `end-of-candidates`, we try to start the ICE handshake upon the arrival of a SDP answer, assuming that Janus knows at least one candidate (t

[2019-06-04 15:20] lminiero commented on #1651
You're right, those properties should take into account what was asked and offered in the first place. I'll take note that this needs fixing.

[2019-06-04 15:43] KyleFoleyImajion opened #1653 "Videoroom A/V Sync Issues"
We're seeing audio/video not synced - note the googCurrentDelayMS in the graph which seems to be growing. In this case, the audio was ahead of the video by 1s. The audio googCurrentDelayMS was about 50ms.

I can attach a WebRTC dump if necessary. Any help in debugging it would be appreciated appreciated. Thanks!

Janus v0.7.1
Video Codec - H264
Audio Codec - OPUS
Browsers - Chrome v74
Using CoTURN

[2019-06-04 15:47] lminiero commented on #1653
As a side note, you're not saying which plugin this happens on.

[2019-06-04 15:49] KyleFoleyImajion commented on #1653
It's in the title, using the videoroom plugin

[2019-06-04 15:52] oofp commented on #1641
Thanks a lot for such quick turnaround. I will try it later on today

[2019-06-04 15:53] KyleFoleyImajion commented on #1653
This example was using simulcast, but we are also able to duplicate using non-simulcast as well

[2019-06-04 16:36] KyleFoleyImajion commented on #1653
Here is the non-simulcast example. I was in a conference for <20 mins and this started happening. I have the dump for this as well if you'd like to see it.

<img width="1299" alt="Screen Shot 2019-06-04 at 10 20 07 AM" src="https://user-images.githubusercontent.com/34553266/58896978-77950180-86b4-11e9-938b-a31b96a75037.png">
<img width="1357" alt="Screen Shot 2019-06-04 at 10 20 14 AM" src="https:

[2019-06-04 16:59] KyleFoleyImajion commented on #1653
Sorry for the image spam, just trying to provide you guys with as much info as possible on this

<img width="1435" alt="Screen Shot 2019-06-04 at 10 57 05 AM" src="https://user-images.githubusercontent.com/34553266/58898420-c4c6a280-86b7-11e9-962f-3dae7d8150a4.png">

[2019-06-04 20:15] danflu commented on #1627
Thank you! Still up and running :-)

[2019-06-05 03:14] oofp commented on #1641
@atoppi , @lminiero Thanks a lot, I applied the fix and verified my test cases. All worked: media path has been successfully established. I am closing my PR.

[2019-06-05 08:50] atoppi commented on #1653
Thanks @KyleFoleyImajion,
the viewer webrtc-internals screenshots are valuable inputs but I'd like to observe the related publisher stream also. Is the publisher a browser? Would you mind sharing some specs about it and also the internals (if any) ?
Just by looking at the viewer stats and focusing on the non-simulcast case, I can deduce the followings:
1) no packet has been lost (0 nacks, 0 loss)

[2019-06-05 08:55] #1641 closed

[2019-06-05 09:02] lminiero commented on #1653
Or the TURN server, if the publisher is going through there.

[2019-06-05 09:16] lminiero commented on #1648
Closing as I don't believe this is an issue in Janus.

[2019-06-05 09:16] #1648 closed

[2019-06-05 16:27] KyleFoleyImajion commented on #1653
Thanks for the response!

-The publisher was a Win10 machine, running Chrome v74.
-The subscriber was on MacOS running Chrome v74 as well.
-I had two publishers in that conference and they were also both subscribed to each other.
-User A <-> User B. Both publishing video

Both users were going to our Janus server hosted on AWS, bitrate capped at 512000 (set when calling publish, not set to the roo

[2019-06-06 08:53] atoppi commented on #1653
How can you tell that PeerConnections are not using TURN from those screenshots?
How was the streaming experience overall? Can you confirm the framerate issues?

The delay spike seems to match the Interframe Delay spike. We need to understand who is slowing down the frame relaying. Janus? Publisher? CoTURN? Network?

[2019-06-06 09:02] lminiero commented on #1653
As a side note, make sure you're enabling `transport_wide_cc_ext` for your rooms if you're not doing it already: https://github.com/meetecho/janus-gateway/blob/master/conf/janus.plugin.videoroom.jcfg.sample#L29

[2019-06-06 10:20] tesion99 opened #1655 "janus audiobridge makes coredump when join or changeroom"
when user changeroom in the audiobridge plugin, sometimes program terminate, we get the coredump file and get information as follow
[code]
in the janus_audiobridge.c
[code]
and sometimes the json_integer() makes coredump when user changeroom
[code]
in the janus_audiobridge.c
[code]

[2019-06-06 11:08] atoppi commented on #1655
Please share a libasan dump

[2019-06-06 13:59] KyleFoleyImajion commented on #1653
I still have the WebRTC Chrome dump from that call, so I just went back and looked at what candidante it was using for the call. The streaming experience was pretty good, nothing stood out as being 'abnormal' or weird looking. We do have a framerate counter visible while in the call so I can confirm that it does jump around quite a bit but I don't visually notice it jumping around.

I ran this tes

[2019-06-07 06:34] ramprakash110109 commented on #1648
As you said, it’s the keyframe issue and when i also set keyframe to true in the configure request along with the record true property, it works as expected. Now, thinking of calling fir req in the janus plugin itself after janus recorder create. But still can’t figure out how it works without triggering any keyframe in non-simulcast mode. Anyway, thanks for the tip.

[2019-06-07 11:56] mmar2228 opened #1658 "[ERR] [ice.c:janus_ice_outgoing_traffic_handle:4124]"
Dear all,

I have using streaming plugin's Janus Gateway. I use the following  configuration in janus.plugin.streaming.jcfg file:

sample: {
type = "rtp"
description = "camera_1"
videobufferkf = false
audio = false
video = true
videoport = 5004
videopt = 96
videortpmap = "H264/90000"
videomcast = "239.192.140.12"

[2019-06-07 11:58] lminiero commented on #1658
Not a code issue, please use the [group](https://groups.google.com/forum/#!forum/meetecho-janus) for problems like this.

[2019-06-07 11:58] #1658 closed

[2019-06-07 14:24] lminiero commented on #1655
No need, I managed to replicate this. It looks like a reference issue, probably a missing reference that causes the participant to be freed too early.

[2019-06-07 14:26] lminiero commented on #1655
PS: @tesion99 not sure what `pocroom` is, but it definitely isn't in our plugin. If you're modifying the plugin, please male sure you _only_ test and report issues using the stock plugin, or we'll have to ignore them.

[2019-06-07 14:39] #1655 closed

[2019-06-07 14:39] lminiero commented on #1655
Fixed in the above commit.

[2019-06-10 03:09] tesion99 commented on #1655
thanks

[2019-06-10 09:11] atoppi commented on #1653
@KyleFoleyImajion should the issue persist, we might need a un-encrypted traffic capture on Janus. I suggest doing this by setting the flag `no_webrtc_encryption` in Janus config, and then launching Canary Chrome (both pub and sub) with the flag `--disable-webrtc-encryption` .
Capture with tcpdump as usual and try to avoid other noisy network traffic.

[2019-06-10 15:28] zayim opened #1662 "SIP plugin issue - SDP parsing fails with multiple b-lines"
SDP parsing fails for valid SDP with error:

`[Mon Jun 10 14:43:24 2019] [31m[ERR][0m [sdp-utils.c:janus_sdp_parse:583] Multiple m-line b= lines: b=RS:1000`

`[Mon Jun 10 14:43:24 2019] [31m[ERR][0m [plugins/janus_sip.c:janus_sip_sofia_callback:3813]     Error parsing SDP! Multiple m-line b= lines: b=RS:1000`

SDP content:

[code]

This is most probably introduced with this piece of code merged on

[2019-06-10 15:31] lminiero commented on #1662
We can limit that check to AS, but those RS/RR values the SIP client is setting won't get to the browser, as we don't parse them and so don't regenerate them either. Pretty sure they're not supported by browsers anyway.

[2019-06-10 15:39] #1662 closed

[2019-06-10 15:39] lminiero commented on #1662
Fixed in the above commit.

[2019-06-10 16:25] KyleFoleyImajion commented on #1653
Just a quick update: Enabling `transport_wide_cc_ext` causes some users framerates to plummet if they wave their hand around in front of their camera. Normal framerate for them is 15fps, waving their hand causes their framerate to go down to ~2fps. We still get the AV sync issues with `transport_wide_cc_ext` as well.

[2019-06-10 16:34] lminiero commented on #1653
Sounds like those devices have problems of their own. Trasport Wide CC is used by the browser to automatically adapt the bitrate when problems are detected (e.g., lost packets, high CPU usages, etc.) so if you get 2 fps, there are problems there.

[2019-06-11 10:28] lminiero commented on #1653
A couple things you can try as well:

1. RTP forward auio and video to, e.g., gstreamer to render the incoming audio using something different than the browser, and check if the delay is there too;
2. record audio and video to our .mjr format, postprocess audio and video and mux them together, again to see if the delay is perceived there as well.

Those can help figure out if the issue is indeed a

[2019-06-13 10:06] #1616 closed

[2019-06-13 18:12] KyleFoleyImajion commented on #1653
Alright, so I waited unitl I could duplicate the AV sync issue and then started recording once I noticed the ` drift. The recording was perfectly in sync, but the live video was out of sync pretty badly. We're still going through this, just wanted to update you. This time I was using FF so I wasn't able to get a webrtc dump

[2019-06-14 08:32] atoppi commented on #1653
Thanks for the feedback, so issues on the publisher's end are very unlikely.
Now focus on the viewer's side: try collecting a viewer pcap dump through Janus or use the before mentioned flags to disable webrtc encryption.

[2019-06-15 12:12] lqp276 opened #1665 "The janus_http_msg_destroy() in janus_http.c should take care of free "response" member"
As per the code handle  POST request in **janus_http_handler**:
[code]
The http transport just pass the reqeust to core and wait for the response. But here may be a corner case, that the **while(!msg->got_response)** loop may break out by condition wait timeout, and in the meantime before **janus_http_request_completed** called, the core call **janus_http_send_message**  to send mesasge to this tr

[2019-06-17 08:47] lminiero commented on #1665
Thanks for spotting this!

No synchronous request should ever take more than 10s to answer: the core definitely doesn't, and plugins should be written so that, if they know something will take longer, they should send an ACK back and reply with an asynchronous message instead. When a request takes longer than 10s, either something's wrong (deadlocks? machine so loaded it takes forever?) or the plu

[2019-06-18 02:20] lqp276 commented on #1665
Hi lminiero, I totally agree with your timing analysis, I hesitated for a while before write this issue, while I was reading the http transport code  and reasoning for some running case in mind, this issue is more 'logically' than 'practically'.
For disscuss only, maybe we need only check **NULL** for the response property as:
[code]
Since if the core send message to the transport session and cons

[2019-06-18 08:10] lminiero commented on #1665
Oh, no need to close, I think it's a good idea to keep this open as a memo that this needs fixing sooner or later. As to your suggestion, I don't think that would work: `msg->response` is NULL by _default_: so checking it in `janus_http_send_message` will be useless, because that's where we assign it in the first place.

[2019-06-18 11:44] lqp276 commented on #1665
Ok, Let's just leave it open.
Recently I am integrating janus with our private RTC system to add Web support, thank  janus for saving us a lot of work!!!

[2019-06-18 12:06] lminiero commented on #1665
That's cool to know, and thanks for the kind words! It might be one reason to come visit us at [JanusCon](https://www.januscon.it) then :smile:

[2019-06-19 02:25] Core-hx opened #1667 "janus unable to register display"
sres: /etc/resolv.conf: unknown option
[4001549124150996] Creating ICE agent (ICE Full mode, controlled)
[4001549124150996] Creating ICE agent (ICE Full mode, controlled)
[ERR] [plugins/janus_sip.c:janus_sip_handler:2363] Wrong state (not registered)
[ERR] [plugins/janus_sip.c:janus_sip_handler:2363] Wrong state (not registered)

How to resolve the log error!!!!!!!

[2019-06-19 03:10] lqp276 commented on #1665
Oh, lminiero, thank you for the invitation! I wish I could be there, but, for so many reasons like, the distance, language, family etc...

[2019-06-19 03:20] lqp276 commented on #1665
Oh, lminiero, thank you for the invitation! I wish I could be there, but, for so many reasons like, the distance(I lived in ShangHai, China), language, family etc... Thanks to github that we can together to make janus better, and I will continue watching janus :laughing:

[2019-06-19 07:43] lminiero commented on #1667
Sorry, but I have no idea what you're talking about. You'll have to be much more detailed than that if you want to open issues and have us look at them. Pretty sure it's not a code issue so I'll close. If you can come up with more information on your problem, feel free to refer to our [community group](https://groups.google.com/forum/#!forum/meetecho-janus) instead.

[2019-06-19 07:43] #1667 closed

[2019-06-20 13:56] trankkilou opened #1668 "UDP port range for media"
Hi Lorenzo,

I notice the parameter to limit the use of UDP port range in the janus config file is not working as expected. At least you must be aware of what follows :

It does NOT overwrite the parameter port range in /proc/net
for instance in debian, default UDP range port is set to 40000-65535.

when I set this parameter it work like expected, I didn't test enough to tell if your parameter is

[2019-06-20 13:59] lminiero commented on #1668
Why should it override the `/proc/net` settings? That's a system property. Our setting works at an application level and _only_ for WebRTC ports (a system level property would limit all random ports to stay within that range, no matter the purpose), and is something we pass to libnice for them to use, so not something we do ourselves (although some plugins have a similar feature).

Closing as not

[2019-06-20 13:59] #1668 closed

[2019-06-20 14:52] trankkilou commented on #1668
As you like. Just be aware the parameter in janus cfg file is just useless.
I just inform people like me who would like to tune it one day and avoid them to search like me many hours why their webrtc media port are not what they set in janus config

I add my colleague in the loop whenever he wants to add something (if a heart attack didnt kill him while reading your answer 😅)

Julien

[2019-06-20 14:56] lminiero commented on #1668
Still not sure what the problem you think is. The port range is a frontend to this method here: https://nice.freedesktop.org/libnice/NiceAgent.html#nice-agent-set-port-range

This is, again, an _application-level_ setting. It tells libnice to try and pick ports in that range. Whatever you configure at the system-level is your own responsibility, and nothing we can influence.

[2019-06-20 14:57] lminiero commented on #1668
Besides, the setting works. We use it all the time, and so do others. If it doesn't work for you, then you're doing something wrong.

[2019-06-20 15:04] lminiero commented on #1668
If by port range you mean the `ephemeral` port range, then our setting has nothing to do with that either.

The ephemeral port range impacts `bind` requests where you pass `0` as a port, and so want a random port from the system: a system-wide port range would limit that random port to the range specified there. Our range is completely different: when libnice has a port range configured, it will t

[2019-06-21 07:54] BadmasterY opened #1669 "Js simulates a click event, unable to get the Shared screen"
In the process of using screen sharing, I used JavaScript to simulate user click events to reduce user operands and then failed, as described in the title.

**I want to know if the server detects js mock clicks**, because I have no problem manually triggering the click event.

Among them, there is no problem in communication with the server, and it works well. But the video tag contains no picture

[2019-06-21 08:17] mykola-mokhnach opened #1670 "janus.js uses an incorrect method call to mark end-of-candidates"
We are experiencing the following error in Chrome when sending the `watch` request to the streaming plugin:

[code]

Quick search on the interned shows the problem might be in this part of `janus.js` codebase:

[code]

The spec at https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/addIceCandidate#Example says end-of-candidates should be sent as

[code]

References:
https://github.c

[2019-06-21 08:20] lminiero commented on #1669
Closing as not a code issue. As clearly explained in the guidelines, questions like this belong to the [group](https://groups.google.com/forum/#!forum/meetecho-janus).

[2019-06-21 08:20] #1669 closed

[2019-06-21 09:24] lminiero commented on #1670
I guess you're using full-trickle in Janus, and a more recent version of the adapter that I think our demos are still using? That might explain why the old "let's just pass `null`" thing that always worked now maybe doesn't. I'll make the fix, thanks for the heads up :+1:

[2019-06-21 09:26] lminiero commented on #1670
Fixed in https://github.com/meetecho/janus-gateway/commit/345cc5e107e12553f031d10cdbd554a3976ae7b6 (wrong commit message so this didn't close the issue automatically).

[2019-06-21 09:26] #1670 closed

[2019-06-21 15:50] euskadi31 opened #1671 "Send rtp_forward events to eventhandler"
Hi,

I would like to use `sampleevh` to receive the creation and stop events of the `rtp_forward` and `stop_rtp_forward` command.

 It possible to add that?

Thx

[2019-06-21 15:59] lminiero commented on #1671
Sure, it can be added. I'll see if I have time for that next week. Pull requests welcome as well, of course!

[2019-06-22 05:59] VictorQueiroz opened #1672 "Receive media events after configure request"
I read in documentation about media events, but I'm not quite sure what trigger them. I'd like to understand what is the state of video in which of the publishers I'm connected to, is it possible?

I tried sending "configure" request with different states of "audio" and "video" property but I just receive "slowlink" message on subscribers, no "media" event.

Thank you in advance.

[2019-06-24 08:51] lminiero commented on #1672
If you mean the Janus API `media` events, they're sent when Janus first receives an audio or video packet from the peer, or when it starts receiving again after no media arrived for `no_media_timer` seconds. Subscribers never send media themselves (they only receive), so obviously Janus will never send them `media` events. Closing as not an issue, please refer to the group for questions like this.

[2019-06-24 08:51] #1672 closed

[2019-06-24 08:57] euskadi31 commented on #1671
Thx :)

[2019-06-24 09:37] #1671 closed

[2019-06-24 09:38] lminiero commented on #1671
Done: rather than send a single event, we generate a separate event for each stream in an RTP forwarder, both when creating new forwarders and stopping them. This will make it easy to port to the unified-plan branch.

[2019-06-24 09:42] euskadi31 commented on #1671
Wow, Awesome !

Thank You @lminiero

[2019-06-25 02:21] zengpeace opened #1674 ""janus: undefined symbol: srtp_crypto_policy_set_aes_gcm_256_16_auth"， when I run janus"
when I start janus，it throw undeifned symbol error:
"janus: undefined symbol: srtp_crypto_policy_set_aes_gcm_256_16_auth"

I deploy janus on ubuntu18.04，libsrtp2.2.0，no boringssl，make configures

[2019-06-25 02:31] zengpeace commented on #1674
I fix it by adding LD_LIBRARY_PATH

[2019-06-25 02:31] #1674 closed

[2019-06-25 14:54] nsmith1024 opened #1675 "Video Game Voice Chat"
Hello, I wrote a WebGL/HTML5 video game that runs in browser (JavaScript), and i want my players to have voice chat so they can talk to each other while playing.

Could i use the Janus Audio Bridge on my server to allow players to create voice rooms and to voice chat?

Thanks!

[2019-06-25 15:00] lminiero commented on #1675
Question for the [group](https://groups.google.com/forum/#!forum/meetecho-janus), closing as not a code issue.

[2019-06-25 15:00] #1675 closed

[2019-06-25 16:45] #1558 closed

[2019-06-25 16:47] lminiero commented on #1558
@timsu it took a while, but the issue is fixed finally :smile:
If you're still interested in it, please double check to confirm: notice you'll probably need to pull not only the server-side updates, but the new `janus.js` as well.

[2019-06-27 08:31] ramprakash110109 opened #1676 "Audiobridge Sampling Rate issue"
In audiobridge.c,

1. While creating default room, the sampling rate is set by

janus_config_item *sampling = janus_config_get(config, cat, janus_config_type_item, "**sampling_rate**");

2. While creating dynamic room, the sampling rate is set by

json_t *sampling = json_object_get(root, "**sampling"**);

There is a mismatch in setting the audiobridge sampling rate. According to jcfg file,   "samp

[2019-06-27 09:23] lminiero commented on #1676
Yeah, I guess there's some mismatch there. I won't get rid of the existing syntax as that would be a breaking change, but what I can do is support both on the API in order to be consistent and backwards compatible at the same time. I'll take note that this needs fixing.

[2019-06-27 09:27] lminiero commented on #1676
Notice that the documentation explicitly mentions `sampling` for the API, though.
https://janus.conf.meetecho.com/docs/audiobridge

[2019-06-27 09:30] #1676 closed

[2019-06-27 12:17] mirkobrankovic commented on #975
https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_videoroom.c#L637-L708

[2019-06-28 10:06] Titan-p commented on #1263
`janus_transport_gone` will finally call `destroy_session` which is implemented by each plugin. I found that `janus_transport_gone` will lock `sessions_mutex`. `janus_streaming_destroy_session` by streaming plugin will lock `sessions_mutex` too.  But `sessions_mutex` is inited by `PTHREAD_MUTEX_INITIALIZER` which is not recursive mutex.
Will this cause any deadlock problems?

[2019-06-28 22:15] mqp opened #1679 "Data channels failing in FF Nightly (69.0a1)"
You can see that the [text room demo](https://janus.conf.meetecho.com/textroomtest.html) fails to load. The proximate reason it fails to load is that although Janus emits a `webrtcup` event, the data channel's `readyState` is `connecting` forever, never transitioning to `open`. My custom plugin, working with my own Javascript client library, also fails, indicating that it's either an issue in Nigh

[2019-06-28 23:11] mqp commented on #1679
I narrowed down when the regression happened and created this bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1562341

[2019-06-29 12:58] pimenas commented on #1526
Hi, I'm trying to setup a STUN server to work with the sip plugin, but so far I have failed miserably. By digging sofia-sip library I discovered that one way to configure it is to provide the stun address in an environment variable "STUN_SERVER". Has anyone accomplished this, and how?

[2019-07-01 13:03] danpascu commented on #1410
Please reopen this issue. I got the crashes again, but this time I can reproduce the crashes. The backtrace is this (same as original, but with adjusted line numbers):

[code]

The way to consistently get janus to crash is to make a video call from webrtc. If I only make an audio call it doesn't crash, but when I make a video call it crashes always.

I use janus 0.6.1.

[2019-07-01 13:08] lminiero commented on #1410
Please try master instead. We fixed many things on the SIP plugin in the past few months, and to be honest I'm not going to debug older versions. If you can reproduce it there too, please open a new issue referencing this one.

[2019-07-01 13:09] lminiero commented on #1679
Thanks for the link, I'll track the issue on their bugzilla to see if it's something we're doing wrong ourselves.

[2019-07-02 10:40] danpascu commented on #1410
Master does exactly the same thing:

[code]

[2019-07-02 10:41] lminiero commented on #1410
As I said, please open a new issue. Following this one would be a mess, too many posts already, and very likely unrelated problems.

[2019-07-02 10:49] danpascu opened #1680 "Crash in sip plugin"
Making a video call using the sip plugin (janus_sip.so) from a Chrome browser crashes janus as soon as the call starts with:

[code]

If the call is audio only it doesn't crash.

Making the same calls with Firefox works without problems for both video and audio calls.

Chrome 73 &75 have the problem. Firefox 67 works.

#1410

[2019-07-02 10:51] lminiero commented on #1680
Since it seems to crash deep within libsrtp, please provide a libasan dump, as otherwise we won't be able to figure out why it crashed (e.g., accessing something freed somewhere else).

[2019-07-02 11:02] danpascu commented on #1680
We went through this before already. I provided an ASAN dump the last time and it didn't help. Nothing changed, the problem is exactly the same, the backtrace is exactly the same , the ASAN dump will be exactly the same. See the old issue for reference.

Also the problem is not deep in srtp. Janus calls srtp_unprotect with a NULL ctx hence the crash.

[2019-07-02 11:08] lminiero commented on #1680
The libasan dump **DID** help, @atoppi fixed an issue thanks to that (processing of crypto attribute in SDP that caused a crash). I don't see other libasan dumps after that fix, so if you want our help please do a new one. If you think it's as simple as adding a NULL check before srtp_unprotect, feel free to submit a pull request.

[2019-07-02 11:50] atoppi commented on #1680
@danpascu might not be related, but I just noticed that we never check for `janus_sip_srtp_set_remote` return value. When using SRTP (like in your case), a failure in the SRTP context setup [will not be detected](https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_sip.c#L4166), leading the relayer thread to crash because the context structs were not initialized. Can you spot any er

[2019-07-02 11:50] danpascu commented on #1680
Here you go. As expected, it gives the exact same information as the gdb backtrace:

[code]

[2019-07-02 11:52] danpascu commented on #1680
@atoppi I have this in the logs right before the ASAN dump:

[code]

[2019-07-02 11:58] danpascu commented on #1680
@atoppi That sounds suspiciously like the problem here. If the return is not checked but you set the has_remote_srtp = TRUE flag regardless, it might lead exactly to this when trying to access it later with ctx being uninitialized (i.e. NULL)

[2019-07-02 12:38] danpascu commented on #1680
@atoppi It seems this is not the cause. I modified the code to only set the flag if the function was successful, but it still crashes. That function was successful in this case (I printed the result code).

[2019-07-02 13:20] atoppi commented on #1680
@danpascu could you share a more verbose Janus log? Level 5 should be enough. Also try to minimize the traffic on the server in order to reduce the noise on the logs coming from other connections.

[2019-07-02 15:08] danpascu commented on #1680
@atoppi I found the cause of the problem. In the SDP offer there is an audio stream and a video stream and both have a a=crypto line. In the SDP answer there is also an audio and a video stream, but only the audio stream has the a=crypto line, the video stream includes some zrtp-hash instead and no crypto line. As a result, janus_sip_srtp_set_remote is only called for the audio stream. At the end

[2019-07-02 15:12] atoppi commented on #1680
Good catch @danpascu ! Still I can't understand why on Firefox should work.

[2019-07-02 15:24] danpascu commented on #1680
The client that answers the call seems to not have a problem with the SDP from firefox. In that case it includes the crypto line for video as it should, but for chrome there is something that it doesn't like/understand and it switches from srtp to zrtp for some reason.

[2019-07-02 15:34] danpascu commented on #1680
Here is the exchange in case it helps shed some light:

working set:

[code]

and failing set:

[code]

[2019-07-02 16:23] atoppi commented on #1680
@danpascu can you test [this patch](https://pastebin.com/TdBARwbd) ?
Just issue `git apply diff.file` and rebuild Janus.

This **should** avoid the crash but I'm not completely sure on how the negotiation would end.

[2019-07-02 22:57] ibc commented on #1679
HEY!!!! do this!

https://bugzilla.mozilla.org/show_bug.cgi?id=1562341#c28

[code]

So basically `SCTP_ENABLE_CHANGE_ASSOC_REQ` is required as per https://tools.ietf.org/html/rfc6525#section-6.3:

However, in `sctp.c` Janus is just setting `av.assoc_value = 1;` ([here](https://github.com/meetecho/janus-gateway/blob/master/sctp.c#L203))

In usrsctp:

[code]

So Janus is just enabling `SCTP_ENABLE_R

[2019-07-03 02:37] lminiero commented on #1679
@ibc thanks! I'm out of office today, so mentioning @atoppi to take care of this later.

[2019-07-03 07:25] ibc commented on #1679
Cool. Once you do it, may you also please try to have more than 32 open DataChannels in FF 69? As I've reported in the [Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1562341#c29) I don't think it's possible.

[2019-07-03 07:47] WJdenghuo opened #1681 "service start error"
ubuntu 16.4 64

in end
 /opt/janus/bin/janus --debug-level=7 --nat-1-1=ip --stun-server=*:3478 --cert-pem=*_bundle.crt --cert-key=*.key

[FATAL] [transports/janus_http.c:janus_http_init:784] Couldn't start webserver on port 8088...
[WARN] HTTPS webserver disabled
[WARN] Admin/monitor HTTP webserver disabled
[WARN] Admin/monitor HTTPS webserver disabled
[WARN] No HTTP/HTTPS server started, giving u

[2019-07-03 08:06] lminiero commented on #1681
Please refer to the group for questions like this.

[2019-07-03 08:06] #1681 closed

[2019-07-03 09:50] danpascu commented on #1680
Patch is corrupt (I used the download button from the pastebin interface to get it):

[code]

[2019-07-03 10:19] atoppi commented on #1680
Downloading the file maybe adds some ending character that messes up the diff file.
The patch is not corrupt, try copy-pasting the RAW content in a diff file.

[2019-07-03 11:54] danpascu commented on #1680
The patch fixes the crash. The call works now, the leg that doesn't provide the a=crypto line simply sends/receives data unencrypted.

[2019-07-03 13:48] atoppi commented on #1680
Glad to know, now let's wait @lminiero for a patch review.

[2019-07-03 13:56] lminiero commented on #1680
Traveling today, so that will only happen tomorrow at the soonest, sorry. Good to know it's fixed though!

[2019-07-03 14:09] atoppi commented on #1679
Actually just changing
[code]
is enough to make Firefox 69 happy.

This is because FF69 is requesting 16 more outbound streams in a `RE_CONFIG` chunk after the `INIT` and `COOKIE` chunks. As @ibc suggested, in order to permit the outbound streams increasing operation on the server, `SCTP_ENABLE_CHANGE_ASSOC_REQ` must be added to the socket options. Conversely, I have observed that Janus denies the

[2019-07-03 14:28] lminiero commented on #1679
I think we should do that anyway, since as @ibc pointed out in the bugzilla issue `SCTP_ENABLE_CHANGE_ASSOC_REQ` is mandatory apparently.

[2019-07-03 14:42] ibc commented on #1679
AFAIU by reading the rationale given in the Bugzilla issue, they do not want to allocate all SCTP streams until DTLS is connected or something like that.

BTW: Guys, can we please move the discussion to the Bugzilla issue? I'm not in the hateful scenario in which "I should provide a fucxxxxx jsfiddle to reproduce the problem" just because I do know that FF 69 fails to create more than 32 DataChann

[2019-07-03 16:08] ibc commented on #1679
False alarm, everything is fine. FF 69 can create up to 2048 DataChannels if properly negotiated with the server as per comment above.

[2019-07-04 11:05] #1679 closed

[2019-07-04 11:06] lminiero commented on #1679
This commit should fix all the above:

1. Firefox 69 failure
2. the crash @atoppi mentioned
3. max number of datachannels bumped to 128 (256 streams)

Thanks to all for the help and discussion!

[2019-07-04 14:49] lminiero commented on #1680
@danpascu one thing that puzzles me in that patch, is that it only changes the properties for remote SRTP audio and video, but not for local. This means that in your case, if audio is encrypted but video isn't, `has_srtp_local` is still `TRUE`. Since `has_srtp_local` is what is used to decide whether to call `srtp_protect` or not, it seems weird to me that it now works for you: in fact, it means w

[2019-07-04 15:17] lminiero commented on #1680
@danpascu please test the pull request above: it is @atoppi's patch with some additional properties on local SRTP flags as well. Don't have time to test it myself now, apologies.

[2019-07-04 17:37] cyuste opened #1683 "Error reading --cert parameters from command line"
Hi there!
I'm having some issues using `--cert-key` and `--cert-pem` options, it looks like it checks if the files exist but then attempts to read the files defined in the .jcfg files

FIrst of all, I am trying to run janus from a container. In the janus.transport.websockets.jcfg file I have set the following:

[code]
**These files do not exist in the container**

To run the container I do:
`docke

[2019-07-04 18:12] lminiero commented on #1683
The command line flags you mentioned are only for DTLS, not the transports. Those (including for websockets) need to be configured in the jcfg file. Closing as not an issue.

[2019-07-04 18:12] #1683 closed

[2019-07-05 00:31] jfdream opened #1684 "mvideoroomtest.js leave room will occur an error in another client"
Hello,I use unified-plan branch, I try the demo mvideoroomtest.js and find a problem, when someone leave this room, I receive on error from safari browser.

WebRTC error... {"stack":"Error: Failed to execute 'setRemoteDescription' on 'RTCPeerConnection': Failed to set remote offer sdp: Failed to set remote audio description streams."}

[2019-07-05 01:38] pgj007 opened #1685 "Janus 0.7.2 crash when leaving videoroom"
[code]

[code]
[code]

[2019-07-05 18:34] ibc opened #1687 "usrsctp memory leak"
[Here](https://github.com/meetecho/janus-gateway/blob/master/sctp.c#L331) `data` is not freed.

[2019-07-06 13:32] jsdir opened #1688 "Videoroom warnings: Missing valid SRTP session"
I get the following warnings when using videoroomtest.html on 60842ae6ff695538c79fba5e41b55f23b2ef4625.

[code]

The audio/video works fine, but I'm wondering whether these warnings indicate a hidden issue. The browser used is Chromium 74, and these were the dependency versions used for building the gateway:

Dependency | Version
-- | --
glib2 | 2.58.3
jansson | 2.12
libnice | 0.1.16.1
libsrtp | l

[2019-07-08 08:20] atoppi commented on #1685
Hi @pgj007,
are you sure `participant->room` is null? Sorry but I'm not so familiar with that asm code :-)

[2019-07-08 20:55] lminiero commented on #1680
@danpascu any feedback on the above? Thx!

[2019-07-08 20:56] lminiero commented on #1684
Can you provide the remote SDP that causes the issue in a pastebin/gist link?

[2019-07-08 20:56] lminiero commented on #1687
Good catch, thanks, will fix!

[2019-07-08 21:00] #1687 closed

[2019-07-08 21:01] lminiero commented on #1688
That warning is harmless so you can ignore it. Closing :+1:

[2019-07-08 21:01] #1688 closed

[2019-07-08 21:23] lminiero commented on #1670
What version of the adapter are you using @mykola-mokhnach? I've got reports that this fix actually broke things for them, and I can confirm that when doing full-trickle I'm getting an exception as well:

[code]

This is with adapter 6.4.0. Unless you give me a good reason, I'll have to change that again to `null`.

[2019-07-09 00:11] jfdream commented on #1684
Thank you for your reply, this is my sdp

https://gist.github.com/jfdream/1ca897b9e7332edeeff3b89aab58d312

[2019-07-09 05:34] mykola-mokhnach commented on #1670
It looks like different browsers handle it differently. In Firefox, for example, everything works smoothly, but Chrome and Safari are complaining about this line. It's such a mess %/

[2019-07-09 06:45] Wdiviner opened #1690 "I met a problem that is when i run echo test demo, it throw an error which is ICE failed for component 1 in stream 1..."

[2019-07-09 08:11] danpascu commented on #1680
I am extremely busy at the moment. I'll be able to get back to this in a few days.

[2019-07-09 11:47] pgj007 commented on #1685
@atoppi I confirm a crash at line 2375, room is the second element of janus_videoroom_publisher (mov rax,QWORD PTR [rax+0x8], now rax is room), and I suspect something is wrong with the lock.

[2019-07-09 12:24] pgj007 opened #1691 "janus 0.7.2 crash when conn_check_handle_inbound_stun"
[code]

The client and server are both in NAT. When the client is opened, the server crashes.

[2019-07-09 12:27] lminiero commented on #1691
@pgj007 please stop pasting this dumps inline. They mess up the automatic github issue linking. Fixing it for you for the second time...

[2019-07-09 12:29] pgj007 commented on #1691
@lminiero Ok, I'll be more careful next time

[2019-07-09 16:57] lminiero commented on #1691
Looks like a libnice issue. Make sure you're using libnice master: if you are, you may want to report it on [their repo](https://gitlab.freedesktop.org/libnice/libnice/). Closing.

[2019-07-09 16:57] #1691 closed

[2019-07-10 01:07] pgj007 commented on #1691
@lminiero ok

[2019-07-10 08:52] cosysun opened #1692 "Couldn't resolve mDNS address"
when chorme mdns enable, candidate include *.local, but janus parse candidate failed, error info: getaddrinfo code:Name or service not known.  can you tell me how to fix the issue, thank you.

[2019-07-10 12:20] lminiero commented on #1692
mDNS candidates only work in the same LAN, or to be more precise, the same LAN segment. Outside of that they can't be resolved. Janus won't be able to resolve a mDNS candidate of a remote user. Besides, it will also fail if the network/users don't support mDNS. Closing.

[2019-07-10 12:20] #1692 closed

[2019-07-11 09:15] vivaldi-va opened #1694 "Crash when starting RTP forward"
Previous discussion/findings found  at https://groups.google.com/forum/?utm_source=digest&utm_medium=email#!topic/meetecho-janus/foK7roAutdI

Issue seems to occur after https://github.com/meetecho/janus-gateway/commit/947bfb0ae5d5c1e29224c71d631607b6de1869c5

and possibly replicates the crash noted in https://github.com/meetecho/janus-gateway/issues/1605

Environment used to run the test was Ubunt

[2019-07-11 09:31] lminiero commented on #1619
We just put online a list of speakers/talks for the upcoming JanusCon: it's not complete yet (still waiting for confirmation from a few) but I think there's already a lot of interest there for a bunch of people! Go buy a ticket and see you there!

https://www.januscon.it/

[2019-07-11 09:38] lminiero commented on #1690
As explained in the guidelines, question for the [group](https://groups.google.com/forum/#!forum/meetecho-janus). Closing.

[2019-07-11 09:38] #1690 closed

[2019-07-11 10:04] lminiero commented on #1684
It may have something to do with the fact that both SSRCs are 0, because apart from that everything looks fine. I'll try and replicate in the next few days.

[2019-07-11 12:55] atoppi commented on #1685
Hi @pgj007,
the crash has been caused by [the pointer being cleared when destroying the videoroom session](https://github.com/meetecho/janus-gateway/blob/master/plugins/janus_videoroom.c#L2418).
In the same time, another thread (namely `janus_videoroom_handler`) is handling a `leave` request from the client.
What is the scenario that led to the crash? Is your client detaching and leaving concurren

[2019-07-11 13:32] lminiero commented on #1670
No, Firefox complains as well:

[code]

[2019-07-11 13:36] lminiero commented on #1670
Reverted for now, using a new variable that we can redifine later on to change behaviour if needed.

[2019-07-11 13:57] lminiero commented on #1694
If libasan and valgrind don't help, you should at least try and grab a gdb dump. I can't replicate the issue.

[2019-07-11 14:48] lminiero commented on #1694
Scratch that, managed to grab a core dump:

[code]

Line numbers may differ a bit, as initially it wouldn't crash for me, but just deadlock in the VideoRoom plugin, about when `stop_rtp_forward` is called. Apparently it would deadlock when removing the forwarder from the hashtable (the unlock for the stuck lock is immediately after that), which means somewhere in `janus_videoroom_rtp_forwarder_des

[2019-07-11 14:51] vovapolu commented on #1536
@ololobster @lminiero Any progress on this issue? I'm also experiencing freezes every ~1 minute.

@ololobster Is there any version of `janus-gateway` with your fix? I would try it.

[2019-07-11 14:59] lminiero commented on #1694
If the extra unref is involved, though, I wonder if the cause is `janus_videoroom_rtp_forwarder_rtcp_finalize`... in theory, when we get rid of the source, that callback _should_ be invoked, and that does have the unref. Anyway, it looks like it's never happening: or maybe it _sometimes_ happens, and so we do have two unrefs where there should just be one.

[2019-07-11 15:19] lminiero commented on #1536
There's nothing to fix in Janus in that regard, for the reasons already explained in all my answers above.

[2019-07-11 15:30] lminiero commented on #1694
The commit above fixes it for me. Closing, feel free to reopen if still an issue.

[2019-07-11 15:30] #1694 closed

[2019-07-11 16:43] lminiero commented on #1684
Solved in https://github.com/meetecho/janus-gateway/pull/1459/commits/a0300e499b04e0ced81e164069eadb4ec4fbd7d2

[2019-07-11 16:43] #1684 closed

[2019-07-11 17:17] vivaldi-va commented on #1694
That seemed to have done the trick. Nice one!

[2019-07-11 19:47] evictor opened #1696 "janus-pp-rec audio yields an opus file with (incorrect) exceptionally long length"
This is built from janus-gateway 0.6.2. Most janus-pp-rec use cases are working for us but found an oddball that generated an opus file that yields an abnormally long apparent duration when probing with ffprobe or ffmpeg (i.e. duration > 1 day long!). The audio mjr is only ~90 kB and when limiting muxing with associated mp4 video to the video's length, the audio track is actually fine

I am not fa

[2019-07-11 21:24] mqp commented on #1679
For anyone who comes across this in the future -- the issue in the associated Bugzilla causing Firefox to renegotiate the stream count unnecessarily was resolved, so Firefox should be working again even without this patch.

[2019-07-12 03:04] cosysun commented on #1692
ok, but if so, the webrtc can't connect. do you have the best idea to slove the issue! thank you!

[2019-07-12 12:21] lminiero commented on #1696
Please try with Janus master, we don't debug older versions. That said, this can happen when there are out of order packets at the very beginning or anomalies like that. The post-processor has flags to skip some of them, or other things, so that's what you need to play with. Closing as not a code issue.

[2019-07-12 12:21] #1696 closed

[2019-07-12 12:33] danpascu commented on #1680
The new patch seems to work fine as well.

[2019-07-12 12:53] lminiero commented on #1680
Thanks for the feedback! I'll merge then :+1:

[2019-07-12 12:53] #1680 closed

[2019-07-12 16:29] AleCaste opened #1697 "Windows service does not start"
Hello, I did a fresh installation of this windows release:
[https://github.com/janus-gateway/janus-gateway/releases/download/v0.2.0.W/janus_setup_v0.2.0_x64.exe](url)
... to the folder:  `C:\Programs\Janus WebRTC Gateway`
My windows version is `Windows 10 Pro Version 1809 (build 17763.615)`
The problem is that the `Janus WebRTC Gateway` service cannot start.
Whenever I try to start it, I get the e

[2019-07-12 16:38] lminiero commented on #1697
Not sure where you took that file, but we certainly didn't prepare it. Besides, 0.2.0 is super-old and Windows is not officially supported: you have to run Janus in WSL if you want Windows. Closing.

[2019-07-12 16:38] #1697 closed

[2019-07-13 14:01] bstplan opened #1698 "error: Doxygen 1.8.13 too new"
error: Doxygen 1.8.13 too new: versions higher than 1.8.11 are known to render poorly.
i have get this error while i use 	./configure --enable-docs
in root@ubuntu-janus:~/janus-gateway#
and my output is :
root@ubuntu-janus:~/janus-gateway# ./configure --enable-docs
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-s

[2019-07-13 14:32] lminiero commented on #1698
As the error says, we don't support that version of doxygen, so either disable docs or downgrade the package. Closing.

[2019-07-13 14:32] #1698 closed

[2019-07-14 01:25] pgj007 commented on #1685
Hi @atoppi
I am exactly the same as your analysis, and my specific usage scenario is: the client has the function of reconnecting with broken wires, and when reconnecting, I will send "leave" first, which may be just when the session expires.

Your temporary solution is to send "detach" before "leave", am I correct?

As I am not familiar with janus, I need to look at it again. Thank you!

[2019-07-14 07:45] e1th0r opened #1699 "[FATAL] [transports/janus_http.c:janus_http_init:784] Couldn't start webserver on port 8088"
Disabling ipv6 from grub (GRUB_CMDLINE_LINUX="XXXX ipv6.disable=1") avoid to start janus webserver service.

`[WARN] libwebsockets has been built without IPv6 support, will bind to IPv4 only
WebSockets thread started
[FATAL] [transports/janus_http.c:janus_http_init:784] Couldn't start webserver on port 8088...`

Enabling ipv6 allow start the service

`[WARN] libwebsockets has been built without IP